.content.content_signup-success
{
	padding-bottom: 40px;
	max-width: 764px;
	padding-top: 44px;
	margin-bottom: 36px;
	padding-left: 82px;
	padding-right: 82px;
}

.success-message
{
	display: flex;
}

.success-message__text
{
	max-width: 467px;
    padding: 0 20px;
    margin-bottom: 20px;
	p
	{
		font-size: 16px;
		line-height: 22px;
		font-feature-settings: 'pnum' on, 'lnum' on, 'zero' on;
		color: #333333;
	}
}

.success-image
{
	line-height: 0;
	text-align: center;
}
.link-devider
{
	color: #b2b2b2;
	padding-left: 5px;
	padding-right: 5px;
}
.sign-up-success-nav
{
	padding-top: 20px;
}
.success-header
{
	font-family: $bold;
	font-size: 24px;
	line-height: 32px;
	font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'liga' off;
	color: #333333;
	margin-bottom: 25px;
}
.test-card-wr
{
	padding-left: 16px;
	padding-right: 16px;
}
.test-card
{
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-radius: 10px;
	padding-top: 25px;
	padding-left: 30px;
	padding-bottom: 38px;
	padding-right: 30px;
	border: 1px solid #E6E6E6;
}
.test-card__header
{
	font-size: 26px;
	line-height: 22px;
	padding-bottom: 25px;
	color: $black;
}
.test-card__descr
{
	font-size: 16px;
	line-height: 22px;
}
.test-card-bottom
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}
.test-card-bank
{
	display: flex;
	align-items: center;
}
.test-card-bank__icon
{
	line-height: 0;
	margin-top: -2px;
}
.test-card-bank__text
{
	font-size: 12px;
	line-height: 16px;
	color: #808080;
	padding-left: 10px;
	white-space: nowrap;
}
.test-card__btn
{
	font-size: 14px;
	line-height: 18px;
	height: 42px;
	min-width: 120px;
	white-space: nowrap;
}
@media (max-width: 767px)
{
	.content.content_signup-success
	{
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;
	}

	.success-message
	{
		flex-direction: column;

		.success-header
		{
			font-size: 34px;
			line-height: 1.1;
			margin-bottom: 20px;
		}
	}
	.success-header
	{
		font-size: 35px;
		line-height: 30px;
		margin-bottom: 30px;
	}
	.sign-up-success-nav
	{
		display: flex;
		justify-content: flex-start;
		.open-acc-btn
		{
			max-width: 288px;
			flex-basis: 100%;
		}
	}
	.test-card-wr
	{
		max-width: 434px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 450px)
{
	.content.content_signup-success
	{
		padding-bottom: 45px;
	}
	.success-image
	{
		svg
		{
			max-width: 150px;
			height: auto;
		}
	}
	.test-card
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 35px;
		padding-top: 25px;
	}
	.test-card__header
	{
		font-size: 26px;
		line-height: 30px;
	}
	.test-card__descr
	{
		font-size: 15px;
		line-height: 22px;
	}
	.test-card-bottom
	{
		flex-direction: column;
		align-items: flex-start;
		padding-top: 25px;
	}
	.test-card-bottom__left
	{
		padding-bottom: 40px;
	}
	.test-card-bottom__right
	{
		width: 100%;
	}
	.test-card__btn
	{
		flex-basis: 100%;
		max-width: 100%;
		width: 100%;
	}
}
@media (max-width: 340px)
{
	.sign-up-success-nav .open-acc-btn
	{
		max-width: 100%;
	}
}