{% extends "layouts/layout.twig" %}

{% set title = '<b>+10% годовых в рублях через 3 месяца.</b> Полная защита вложений. Сумма вложений от 30 000 руб. ' %}
{% set widgetId = 60971 %}
{% set phone = false %}

{% block page %}
	<section class="alter-banner">
		<div class="container">
			<div class="alter-banner__wrap">
				<div class="alter-banner__text">

					<h1 class="alter-banner__title">
						Высокий процент в USD
					</h1>

					<div class="alter-banner__slogan">
						Альтернатива банковскому вкладу
					</div>
				</div>
				<button class="alter-banner__btn g-btn-stroke">
					Оставить заявку &rarr;
				</button>
			</div>
			<div class="alter-banner__items">
				<div class="alter-banner__item">
					<div class="alter-banner__item-title">
						4% годовых
					</div>
					<div class="alter-banner__item-descr">
						ваш доход <br>в долларах США
					</div>
				</div>
				<div class="alter-banner__item">
					<div class="alter-banner__item-title">
						3 месяца
					</div>
					<div class="alter-banner__item-descr">
						срок <br>инвестирования
					</div>
				</div>
				<div class="alter-banner__item">
					<div class="alter-banner__item-title">
						От $ 1 000
					</div>
					<div class="alter-banner__item-descr">
						минимальнная  <br>сумма инвестиций
					</div>
				</div>
				<div class="alter-banner__item">
					<div class="alter-banner__item-title">
						100%
					</div>
					<div class="alter-banner__item-descr">
						гарантия <br>получения дохода
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="alter-how">
		<div class="container">
		<h2 class="alter-how__title">
			Как это работает?
		</h2>
			<div class="alter-how__wrap">
				<div class="alter-how__item">
					<svg class="alter-how__item-svg" width="50" height="41" viewBox="0 0 50 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.62164 31.1584L4.44672 31.8955L0 6.67086L37.8362 0L39.9706 12.1064H8.62164V31.1584ZM49.8872 14.951V40.564H11.4675V14.951H49.8872ZM47.0413 27.7575C47.0413 25.6558 45.8887 23.8415 44.1954 22.8554V20.6428H35.5822C34.5961 18.9494 32.7805 17.7969 30.6802 17.7969C28.5799 17.7969 26.7643 18.9494 25.7781 20.6428H17.1593V22.8554C15.466 23.8415 14.3134 25.6572 14.3134 27.7575C14.3134 29.8578 15.466 31.6735 17.1593 32.6596V34.8723H25.7781C26.7643 36.5656 28.5799 37.7181 30.6802 37.7181C32.7805 37.7181 34.5961 36.5656 35.5822 34.8723H44.1954V32.6596C45.8887 31.6735 47.0413 29.8592 47.0413 27.7575Z" fill="#F04F48"/></svg>
					<div class="alter-how__item-title">
						Инвестируете
					</div>
					<div class="alter-how__item-descr">
						от 1 000 долларов США
					</div>
				</div>
				<div class="alter-how__item">
					<svg class="alter-how__item-svg" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 40H40V17.7778H0V40ZM28.8889 22.2222C30.1178 22.2222 31.1111 23.2156 31.1111 24.4444C31.1111 25.6733 30.1178 26.6667 28.8889 26.6667C27.66 26.6667 26.6667 25.6733 26.6667 24.4444C26.6667 23.2156 27.66 22.2222 28.8889 22.2222ZM20 22.2222C21.2289 22.2222 22.2222 23.2156 22.2222 24.4444C22.2222 25.6733 21.2289 26.6667 20 26.6667C18.7711 26.6667 17.7778 25.6733 17.7778 24.4444C17.7778 23.2156 18.7711 22.2222 20 22.2222ZM20 31.1111C21.2289 31.1111 22.2222 32.1044 22.2222 33.3333C22.2222 34.5622 21.2289 35.5556 20 35.5556C18.7711 35.5556 17.7778 34.5622 17.7778 33.3333C17.7778 32.1044 18.7711 31.1111 20 31.1111ZM11.1111 22.2222C12.34 22.2222 13.3333 23.2156 13.3333 24.4444C13.3333 25.6733 12.34 26.6667 11.1111 26.6667C9.88222 26.6667 8.88889 25.6733 8.88889 24.4444C8.88889 23.2156 9.88222 22.2222 11.1111 22.2222ZM11.1111 31.1111C12.34 31.1111 13.3333 32.1044 13.3333 33.3333C13.3333 34.5622 12.34 35.5556 11.1111 35.5556C9.88222 35.5556 8.88889 34.5622 8.88889 33.3333C8.88889 32.1044 9.88222 31.1111 11.1111 31.1111ZM35.5556 4.44444V0H31.1111V4.44444H8.88889V0H4.44444V4.44444H0V13.3333H40V4.44444H35.5556Z" fill="#F04F48"/></svg>
					<div class="alter-how__item-title">
						Ждёте 3 месяца
					</div>
					<div class="alter-how__item-descr">
						всё это время ваши деньги <br>работают на рынке
					</div>
				</div>
				<div class="alter-how__item">
					<svg class="alter-how__item-svg" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.6645 0L0 6.11223L3.05611 23.4445L6.28571 22.875V8.8H36.2158L34.6645 0ZM44 11.3143H8.8V28.913H25.1429C25.1429 24.7544 28.5271 21.3727 32.6857 21.3727C36.8443 21.3727 40.2286 24.7544 40.2286 28.913H44V11.3143ZM32.6857 23.887C29.9087 23.887 27.6571 26.1373 27.6571 28.9143C27.6571 31.6926 29.9087 33.9429 32.6857 33.9429C35.4627 33.9429 37.7143 31.6926 37.7143 28.9143C37.7143 26.1373 35.4627 23.887 32.6857 23.887ZM22.6286 33.9441C19.8515 33.9441 17.6 36.1944 17.6 38.9714C17.6 41.7497 19.8515 44 22.6286 44C25.4056 44 27.6571 41.7497 27.6571 38.9714C27.6571 36.1944 25.4056 33.9441 22.6286 33.9441Z" fill="#F04F48"/></svg>
					<div class="alter-how__item-title">
						Получаете доход
					</div>
					<div class="alter-how__item-descr">
						+ 4% годовых к сумме инвестиций
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="alter-profit">
		<div class="container">
			<div class="alter-profit__wrap">
				<div class="alter-profit__left">
					<h2 class="alter-profit__title">
						Давайте посчитаем <br>ваш доход
					</h2>
					<div class="alter-profit__items">
						<div class="alter-profit__item">
							<div class="alter-profit__item-left">
								<div class="alter-profit__item-title">
									Сумма вложения
								</div>
								<div class="alter-profit__item-descr">
									со 100% защитой капитала
								</div>
							</div>
							<div class="alter-profit__item-right">
								3 000 USD
							</div>
						</div>
						<div class="alter-profit__item">
							<div class="alter-profit__item-left">
								<div class="alter-profit__item-title">
									Гарантированный доход 4% годовых
								</div>
								<div class="alter-profit__item-descr">
									через 3 месяца
								</div>
							</div>
							<div class="alter-profit__item-right">
								+ 30 USD
							</div>
						</div>
						<div class="alter-profit__item">
							<div class="alter-profit__item-left">
								<div class="alter-profit__item-title">
									Потенциальный доход +3% годовых
								</div>
								<div class="alter-profit__item-descr">
									если курс доллара вырастет на 10%
								</div>
							</div>
							<div class="alter-profit__item-right">
								+ 22,5 USD
							</div>
						</div>
						<div class="alter-profit__item">
							<div class="alter-profit__item-left">
								<div class="alter-profit__item-title">
									Выплата
								</div>
								<div class="alter-profit__item-descr">
									через 3 месяца
								</div>
							</div>
							<div class="alter-profit__item-right">
								= 3 052,5 USD
							</div>
						</div>
					</div>
				</div>
				<div class="alter-profit__right">
					<img src="./img/alter-profit.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="alter-about">
		<div class="alter-about__main">
			<div class="alter-about__title">
				Вложения и доход защищены
			</div>
			<div class="alter-about__descr">
				Неважно, как поведет себя рынок. Вы гарантированно <br>заработаете 4% годовых и получите обратно 100% вложений
			</div>
		</div>
	</section>
	<section class="about-company">
		<div class="container">
			<div class="about-company__top">
				<h2 class="about-company__title">
					Финансовые услуги оказывает ITI Capital
				</h2>

				<a href="http://iticapital.ru/" class="about-company__link">
					<div class="about-company__link-icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM19.15 16.236L12.387 23L13.941 17.2L11.032 14.292L12.162 13.163L10 11V11.03L4.891 5.88306L7.131 2H12V4H16.29L14.489 7.13306C14.214 7.61206 13.543 8 12.99 8H10V11H16.742L19.151 13.408C19.931 14.189 19.931 15.455 19.15 16.236Z" fill="#CECECE"/>
						</svg>
					</div>

					<span class="about-company__link-text">
						iticapital.ru ->
					</span>
				</a>
			</div>

			<div class="about-company__items">
				<div class="about-company-item">
					<div class="about-company-item__icon">
						<img src="./img/russia.svg" alt="">
					</div>

					<div class="about-company-item__descr">
						Лицензия Центрального <br>
						Банка РФ
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__icon">
						<img src="./img/finance.svg" alt="">
					</div>

					<div class="about-company-item__descr">
						20 лет на рынке <br>
						финансовых услуг
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__icon">
						<img src="./img/shield.svg" alt="">
					</div>

					<div class="about-company-item__descr">
						ААА — максимальный рейтинг надежности НРА (Национальное Рейтинговое Агенство)
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__number">
						43 000+
					</div>

					<div class="about-company-item__descr">
						постоянных <br>
						клиентов
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__number">
						$900+ млн
					</div>

					<div class="about-company-item__descr">
						клиентских <br>
						активов
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__number">
						$155 млрд
					</div>

					<div class="about-company-item__descr">
						годовой оборот <br>
						по всем рынкам
					</div>
				</div>
			</div>
		</div>

		<div class="deloitte deloitte--alter">
			<div class="deloitte__logo">
				<img src="./img/deloitte.svg" alt="">
			</div>

			<div class="deloitte__title">
				Deloitte Technology Fast 500™ EMEA
			</div>

			<div class="deloitte__descr">
				220-е место в рейтинге самых быстрорастущих технологических компаний в странах Европы, Ближнего Востока и Африки (Technology Fast 500™ по региону EMEA) по версии Делойт
			</div>

			<button class="deloitte__btn g-btn-stroke">
				Оставить заявку &rarr;
			</button>
			<div class="deloitte__text">
				4% годовых в пересчёте на 3 месяца действия продукта. Комиссия за откртытие составляет 0,15%. Гарантия 100% защиты капитала и получения дохода.  Услуга предоставляется новым клиентам.
			</div>
		</div>
	</section>
	<section class="questions questions--grey questions--alter">
		<div class="container">
			<div class="questions__wrap">
				<div class="questions__left">
					<div class="questions__title">
						Остались вопросы?
					</div>
					<div class="questions__subtitle">
						Ответим в удобное для вас время
					</div>
				</div>
				<div class="questions__right">
					<button class="questions__button">
						<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.5012 0C5.16006 0 0 5.15889 0 11.4988C0 13.5861 0.568093 15.5411 1.54559 17.2305L0 23L5.76841 21.4544C7.45891 22.4319 9.41276 23 11.5012 23C17.8434 23 23.0012 17.8411 23 11.5C23.0012 5.1589 17.8434 0 11.5012 0ZM8.05 12.65H5.75V10.35H8.05V12.65ZM12.65 12.65H10.35V10.35H12.65V12.65ZM17.25 12.65H14.95V10.35H17.25V12.65Z" fill="#F04F48"/>
						</svg>
						<span>Спросить в чате</span>
					</button>
					<button class="questions__button">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M14.6484 8.15159L22.8 0L24 1.2L15.8484 9.35159L20.5871 9.35157L20.5871 11.0484L12.9515 11.0484L12.9516 3.41281H14.6484L14.6484 8.15159ZM2.4 2.42766e-05L8.4 6.00002L7.386 9.78601L14.214 16.614L18 15.6L24 21.6L21.6 24C16.4046 23.0646 11.4294 20.6022 7.41419 16.587C3.39898 12.5718 0.9366 7.59662 0 2.40002L2.4 2.42766e-05Z" fill="#F04F48"/>
						</svg>
						<span>Заказать звонок</span>
					</button>
				</div>
			</div>
			<a href="tel:88002003235" class="questions__phone">
				<div class="questions__phone-icon">
					<img src="./img/phone.svg" alt="">
				</div>

				<div class="questions__phone-number">
					8 800 200 55 91
				</div>
			</a>
		</div>
	</section>
{% endblock %}
