{# index.twig #}
{% extends "layouts/layout.twig" %}

{% set title = '<b>+10% годовых в рублях через 3 месяца.</b> Полная защита вложений. Сумма вложений от 30 000 руб. ' %}
{% set widgetId = 60971 %}
{% set phone = true %}

{% block page %}
	<section class="main-banner">
		<div class="container">
			<div class="main-banner__text">
				<div class="main-banner__prescr">
					Инвестиционное решение
				</div>

				<h1 class="main-banner__title">
					Умные деньги
				</h1>

				<div class="main-banner__slogan">
					Ваши деньги знают, как заработать
				</div>
			</div>
		</div>
	</section>

	<section class="how-it-works">
		<div class="container">
			<div class="profit-items">
				<div class="profit-item">
					<div class="profit-item__title">
						10% годовых
					</div>

					<div class="profit-item__descr">
						в рублях вы получите гарантированно
					</div>
				</div>

				<div class="profit-item">
					<div class="profit-item__title">
						Три месяца
					</div>

					<div class="profit-item__descr">
						срок работы<br>продукта
					</div>
				</div>

				<div class="profit-item">
					<button class="g-btn-stroke" onclick="_gscq.push(['show', {{widgetId}}])">
						Получить доход ->
					</button>

					<div class="profit-item__descr">
						Минимальная сумма<br>вложений: 30 000 руб.<br>Комиссия: 0,15%
					</div>
				</div>
			</div>

			<div class="how-it-works">
				<h2 class="how-it-works__title">
					Как это работает?
				</h2>
				<div class="how-it-works__subtitle">
					Вы гарантированно заработаете 10% годовых.<br>Доходность выше, чем в банке.
				</div>
				<div class="how-it-works__wrap">
					<div class="how-it-works__item">
						<img src="./img/number-1.svg" alt="" class="how-it-works__count">
						<div class="how-it-works__name">
							Инвестируете
						</div>
						<div class="how-it-works__descr">
							Сумма вложений — от 30<br>до 300 тысяч рублей.
						</div>
					</div>
					<div class="how-it-works__item">
						<img src="./img/number-2.svg" alt="" class="how-it-works__count">
						<div class="how-it-works__name">
							Ждёте три месяца
						</div>
						<div class="how-it-works__descr">
							В это время ваши вложения<br>работают на рынке
						</div>
					</div>
					<div class="how-it-works__item">
						<img src="./img/number-3.svg" alt="" class="how-it-works__count">
						<div class="how-it-works__name">
							Получаете доход
						</div>
						<div class="how-it-works__descr">
							По ставке 10% годовых<br>в пересчёте на три месяца
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-product">
		<div class="about-product__main">
			<div class="about-product__title">
				Вложения и доход защищены
			</div>
			<div class="about-product__descr">
				Неважно, как поведет себя рынок. Вы гарантированно <br>заработаете 10% годовых и получите обратно 100% вложений
			</div>
		</div>
	</section>
	<section class="calendar" v-cloak>
		<div class="container">
			<h2 class="calendar__title" v-html="productData.main_title">
				{-{ productData.main_title }-}
			</h2>
			<div class="calendar__wrap">
				<div class="calendar__item" v-for="item in productData.product_cart" v-bind:class="{ 'calendar__item--best': item['check'] === 'Да' }">
					<div class="calendar__item-left">
						<div class="calendar__item-percent" v-bind:style="{ color: '#' + item['color'] }">
							{-{ item['procent'] }-}
						</div>
						<div class="calendar__item-period">
							{-{ item['subtext'] }-}
						</div>
						<span class="calendar__item-reson" v-bind:style="{ background: '#' + item['colorsubtext'] }">{-{ item['subtext_two'] }-}</span>
					</div>
					<div class="calendar__item-right">
						<a v-bind:href="item['link']" class="calendar__item-title">
							{-{ item['name'] }-}
						</a>
						<div class="calendar__item-date">
							{-{ item['date'] }-}
						</div>
						<div class="calendar__item-subtext">
							<span class="calendar__item-reson calendar__item-reson--mobile" v-bind:style="{ background: '#' + item['colorsubtext'] }">{-{ item['subtext_two'] }-}</span>
						</div>
						<div class="calendar__item-descr">
							<p v-html="item['description']">
								{-{ item['description'] }-}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="calendar__get">
				<button class="g-btn-stroke" onclick="_gscq.push(['show', {{widgetId}}])">
					Получить доход ->
				</button>
				<div class="calendar__get-note">
					Покупка продукта «Умные деньги» доступна только для новых клиентов ITI Capital
				</div>
			</div>
		</div>
	</section>
	<section class="subscription">
		<div class="subscription__main">
			<h2 class="subscription__title">
				Подпишитесь на новости о наших структурных продуктах и специальных предложениях
			</h2>
			<form action="" class="subscription__form" onsubmit="o2.subscribe(this, event)">
				<label for="">
					<div class="subscription__label">Электронная почта</div>
					<div class="subscription__form-wrap">
					<input class="subscription__input _user-email" type="text" placeholder="Введите ваш e-mail адрес">
					<button class="subscription__button" type="submit">Подписаться</button>
					</div>
				</label>
			</form>
			<div class="subscription__success">
				Подписка на&nbsp;рассылку оформлена
			</div>
			<div class="subscription__descr">
				Мы будем присылать только самую важную информацию о структурных продуктах ITI Capital. Не чаще, чем два раза в месяц.
			</div>
		</div>
	</section>
	<section class="questions">
		<div class="container">
			<div class="questions__wrap">
				<div class="questions__left">
					<div class="questions__title">
						Остались вопросы?
					</div>
					<div class="questions__subtitle">
						Ответим в удобное для вас время
					</div>
				</div>
				<div class="questions__right">
					<button class="questions__button">
						<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.5012 0C5.16006 0 0 5.15889 0 11.4988C0 13.5861 0.568093 15.5411 1.54559 17.2305L0 23L5.76841 21.4544C7.45891 22.4319 9.41276 23 11.5012 23C17.8434 23 23.0012 17.8411 23 11.5C23.0012 5.1589 17.8434 0 11.5012 0ZM8.05 12.65H5.75V10.35H8.05V12.65ZM12.65 12.65H10.35V10.35H12.65V12.65ZM17.25 12.65H14.95V10.35H17.25V12.65Z" fill="#F04F48"/>
						</svg>
						<span>Спросить в чате</span>
					</button>
					<button class="questions__button">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M14.6484 8.15159L22.8 0L24 1.2L15.8484 9.35159L20.5871 9.35157L20.5871 11.0484L12.9515 11.0484L12.9516 3.41281H14.6484L14.6484 8.15159ZM2.4 2.42766e-05L8.4 6.00002L7.386 9.78601L14.214 16.614L18 15.6L24 21.6L21.6 24C16.4046 23.0646 11.4294 20.6022 7.41419 16.587C3.39898 12.5718 0.9366 7.59662 0 2.40002L2.4 2.42766e-05Z" fill="#F04F48"/>
						</svg>
						<span>Заказать звонок</span>
					</button>
				</div>
			</div>
		</div>
	</section>
	<section class="mobile-app">
		<div class="container">
			<div class="mobile-app__wrap">
				<div class="mobile-app__left">
					<img src="./img/mobile-app.png" alt="mobile-app">
				</div>
				<div class="mobile-app__left mobile-app__left--mobile">
					<img src="./img/mobile-app-mob.png" alt="mobile-app">
				</div>
				<div class="mobile-app__right">
					<h2 class="mobile-app__title">
						Доступно<br>в приложении
					</h2>
					<a href="https://iticapital.ru/app" class="mobile-app__link">
						<img src="img/mobile-app-icon.svg" alt="">
						<span>
							ITI Сбережения
						</span>
					</a>
					<div class="mobile-app__items">
						<object data="img/qr-code.svg" type="image/svg+xml" class="mobile-app__items-qr"></object>
						<div class="mobile-app__items-wrap">
							<a href="#" class="mobile-app__items-wrap-link">
								<object data="img/googleplay.svg" type="image/svg+xml"></object>
							</a>
							<a href="#" class="mobile-app__items-wrap-link">
								<object data="img/appstore.svg" type="image/svg+xml"></object>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-company">
		<div class="container">
			<div class="about-company__top">
				<h2 class="about-company__title">
					Финансовые услуги оказывает ITI Capital
				</h2>

				<a href="http://iticapital.ru/" class="about-company__link">
					<div class="about-company__link-icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM19.15 16.236L12.387 23L13.941 17.2L11.032 14.292L12.162 13.163L10 11V11.03L4.891 5.88306L7.131 2H12V4H16.29L14.489 7.13306C14.214 7.61206 13.543 8 12.99 8H10V11H16.742L19.151 13.408C19.931 14.189 19.931 15.455 19.15 16.236Z" fill="#CECECE"/>
						</svg>
					</div>

					<span class="about-company__link-text">
						iticapital.ru ->
					</span>
				</a>
			</div>

			<div class="about-company__items">
				<div class="about-company-item">
					<div class="about-company-item__icon">
						<img src="./img/russia.svg" alt="">
					</div>

					<div class="about-company-item__descr">
						Лицензия Центрального <br>
						Банка РФ
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__icon">
						<img src="./img/finance.svg" alt="">
					</div>

					<div class="about-company-item__descr">
						20 лет на рынке <br>
						финансовых услуг
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__icon">
						<img src="./img/shield.svg" alt="">
					</div>

					<div class="about-company-item__descr">
						ААА — максимальный рейтинг надежности НРА (Национальное Рейтинговое Агенство)
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__number">
						43 000+
					</div>

					<div class="about-company-item__descr">
						постоянных <br>
						клиентов
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__number">
						$900+ млн
					</div>

					<div class="about-company-item__descr">
						клиентских <br>
						активов
					</div>
				</div>

				<div class="about-company-item">
					<div class="about-company-item__number">
						$155 млрд
					</div>

					<div class="about-company-item__descr">
						годовой оборот <br>
						по всем рынкам
					</div>
				</div>
			</div>
		</div>

		<div class="deloitte">
			<div class="deloitte__logo">
				<img src="./img/deloitte.svg" alt="">
			</div>

			<div class="deloitte__title">
				Deloitte Technology Fast 500™ EMEA
			</div>

			<div class="deloitte__descr">
				220-е место в рейтинге самых быстрорастущих технологических компаний в странах Европы, Ближнего Востока и Африки (Technology Fast 500™ по региону EMEA) по версии Делойт
			</div>
		</div>
	</section>
	<section class="calendar" v-cloak id="app">
		<div class="container">
			<h2 class="calendar__title" v-html="productData.main_title">
				{-{ productData.main_title }-}
			</h2>
			<div class="calendar__wrap">
				<div class="calendar__item" v-for="item in productData.product_cart" v-bind:class="{ 'calendar__item--best': item['check'] === 'Да' }">
					<div class="calendar__item-left">
						<div class="calendar__item-percent" v-bind:style="{ color: '#' + item['color'] }">
							{-{ item['procent'] }-}
						</div>
						<div class="calendar__item-period">
							{-{ item['subtext'] }-}
						</div>
						<span class="calendar__item-reson" v-bind:style="{ background: '#' + item['colorsubtext'] }">{-{ item['subtext_two'] }-}</span>
					</div>
					<div class="calendar__item-right">
						<a v-bind:href="item['link']" class="calendar__item-title">
							{-{ item['name'] }-}
						</a>
						<div class="calendar__item-date">
							{-{ item['date'] }-}
						</div>
						<div class="calendar__item-subtext">
							<span class="calendar__item-reson calendar__item-reson--mobile" v-bind:style="{ background: '#' + item['colorsubtext'] }">{-{ item['subtext_two'] }-}</span>
						</div>
						<div class="calendar__item-descr">
							<p v-html="item['description']">
								{-{ item['description'] }-}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="calendar__get">
				<button class="g-btn-stroke" onclick="_gscq.push(['show', {{widgetId}}])">
					Получить доход ->
				</button>
				<div class="deloitte__get-note">
					Покупка продукта «Умные деньги» доступна только для новых клиентов ITI Capital
				</div>
			</div>
		</div>
	</section>
	<section class="questions questions--grey">
		<div class="container">
			<div class="questions__wrap">
				<div class="questions__left">
					<div class="questions__title">
						Остались вопросы?
					</div>
					<div class="questions__subtitle">
						Ответим в удобное для вас время
					</div>
				</div>
				<div class="questions__right">
					<button class="questions__button">
						<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.5012 0C5.16006 0 0 5.15889 0 11.4988C0 13.5861 0.568093 15.5411 1.54559 17.2305L0 23L5.76841 21.4544C7.45891 22.4319 9.41276 23 11.5012 23C17.8434 23 23.0012 17.8411 23 11.5C23.0012 5.1589 17.8434 0 11.5012 0ZM8.05 12.65H5.75V10.35H8.05V12.65ZM12.65 12.65H10.35V10.35H12.65V12.65ZM17.25 12.65H14.95V10.35H17.25V12.65Z" fill="#F04F48"/>
						</svg>
						<span>Спросить в чате</span>
					</button>
					<button class="questions__button">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M14.6484 8.15159L22.8 0L24 1.2L15.8484 9.35159L20.5871 9.35157L20.5871 11.0484L12.9515 11.0484L12.9516 3.41281H14.6484L14.6484 8.15159ZM2.4 2.42766e-05L8.4 6.00002L7.386 9.78601L14.214 16.614L18 15.6L24 21.6L21.6 24C16.4046 23.0646 11.4294 20.6022 7.41419 16.587C3.39898 12.5718 0.9366 7.59662 0 2.40002L2.4 2.42766e-05Z" fill="#F04F48"/>
						</svg>
						<span>Заказать звонок</span>
					</button>
				</div>
			</div>
		</div>
	</section>
{% endblock %}