.svg-cabinet {
	background: url("../images/sprite-23aee52a.svg") 56.41025641025641% 100% no-repeat;
}

.svg-cabinet-dims {
	width: 44px;
	height: 44px;
}

.svg-calculator {
	background: url("../images/sprite-23aee52a.svg") 0 100% no-repeat;
}

.svg-calculator-dims {
	width: 44px;
	height: 44px;
}

.svg-chevron {
	background: url("../images/sprite-23aee52a.svg") 92.63157894736842% 74.80314960629921% no-repeat;
}

.svg-chevron-dims {
	width: 10px;
	height: 12px;
}

.svg-close-icon {
	background: url("../images/sprite-23aee52a.svg") 28.205128205128204% 100% no-repeat;
}

.svg-close-icon-dims {
	width: 44px;
	height: 44px;
}

.svg-fb {
	background: url("../images/sprite-23aee52a.svg") 68.75% 78.51239669421487% no-repeat;
}

.svg-fb-dims {
	width: 8px;
	height: 18px;
}

.svg-google {
	background: url("../images/sprite-23aee52a.svg") 86.85714285714286% 43.90243902439025% no-repeat;
}

.svg-google-dims {
	width: 25px;
	height: 16px;
}

.svg-logo {
	background: url("../images/sprite-23aee52a.svg") 0 0 no-repeat;
}

.svg-logo-dims {
	width: 200px;
	height: 54px;
}

.svg-logo-footer {
	background: url("../images/sprite-23aee52a.svg") 0 55.10204081632653% no-repeat;
}

.svg-logo-footer-dims {
	width: 152px;
	height: 41px;
}

.svg-phone {
	background: url("../images/sprite-23aee52a.svg") 70.2127659574468% 91.869918699187% no-repeat;
}

.svg-phone-dims {
	width: 12px;
	height: 16px;
}

.svg-search {
	background: url("../images/sprite-23aee52a.svg") 76.92307692307692% 78.51239669421487% no-repeat;
}

.svg-search-dims {
	width: 18px;
	height: 18px;
}

.svg-telegram {
	background: url("../images/sprite-23aee52a.svg") 84.91620111731844% 57.377049180327866% no-repeat;
}

.svg-telegram-dims {
	width: 21px;
	height: 17px;
}

.svg-tw {
	background: url("../images/sprite-23aee52a.svg") 95.05494505494505% 56% no-repeat;
}

.svg-tw-dims {
	width: 18px;
	height: 14px;
}

.svg-vk {
	background: url("../images/sprite-23aee52a.svg") 98.33333333333333% 42.1875% no-repeat;
}

.svg-vk-dims {
	width: 20px;
	height: 11px;
}

.svg-youtube {
	background: url("../images/sprite-23aee52a.svg") 86.81318681318682% 75.39682539682539% no-repeat;
}

.svg-youtube-dims {
	width: 18px;
	height: 13px;
}

