@font-face {
    font-family: 'Inter-Bold';
    src: url('../../global-assets/fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'), url('../../global-assets/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'), url('../../global-assets/fonts/Inter-Bold.woff2') format('woff2'), url('../../global-assets/fonts/Inter-Bold.woff') format('woff'), url('../../global-assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../../global-assets/fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'), url('../../global-assets/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'), url('../../global-assets/fonts/Inter-Regular.woff2') format('woff2'), url('../../global-assets/fonts/Inter-Regular.woff') format('woff'), url('../../global-assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-LightBETA';
    src: url('../../global-assets/fonts/Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'), url('../../global-assets/fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'), url('../../global-assets/fonts/nter-LightBETA.woff2') format('woff2'), url('../../global-assets/fonts/Inter-LightBETA.woff') format('woff'), url('../../global-assets/fonts/Inter-LightBETA.ttf') format('truetype'), url('../../global-assets/fonts/Inter-LightBETA.svg#Inter-LightBETA') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../../global-assets/fonts/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../../global-assets/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../global-assets/fonts/Inter-Medium.woff2') format('woff2'),
        url('../../global-assets/fonts/Inter-Medium.woff') format('woff'),
        url('../../global-assets/fonts/Inter-Medium.ttf') format('truetype'),
        url('../../global-assets/fonts/Inter-Medium.svg#Inter-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}