<section class="anchors">
	<div class="container">
		<div class="anchors__wrap">
			<a href="javascript:void(0)" onclick="o2.scrollTo('.services__title--manage')" class="anchors__item">Доверительное управление</a>
			<a href="javascript:void(0)" onclick="o2.scrollTo('.services__title--pif')" class="anchors__item">ПИФы</a>
		</div>
	</div>
</section>