<section class="contacts contacts--{{small}}">
	<div class="container">
		<div class="contacts__wrap">
			<div class="contacts__main">
				<div class="contacts__item">
					<div class="contacts__title">
						Адрес
					</div>
					<div class="contacts__descr">
						123112, г. Москва, Пресненская набережная, дом 6, строение 2, этаж 13, помещение 4
					</div>
				</div>
				<div class="contacts__item">
					<div class="contacts__title">
						Телефон
					</div>
					<div class="contacts__descr">
						<a href="tel: +74954192620">+7 (495) 419-26-20</a>
					</div>
				</div>
				<div class="contacts__item">
					<div class="contacts__title">
						E-mail
					</div>
					<div class="contacts__descr">
						<a href="mailto:info@stabdohod.ru">info@stabdohod.ru</a>
					</div>
				</div>
			</div>
			<img src="./img/map.jpg" class="contacts__map" alt="">
		</div>
	</div>
</section>