<div class="documents">
	<div class="container">
		<h2 class="documents__title">
			Документы
		</h2>
		<div class="documents__wrap">
			<div class="documents__list">
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Членство в СРО
					</span>
				</a>
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Стандарты СРО
					</span>
				</a>
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Аудиторское заключение
					</span>
				</a>
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Перечень инсайдерской информации
					</span>
				</a>
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Электронный документооборот
					</span>
				</a>
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Информация о структуре собственности и составе участников УК
					</span>
				</a>
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Регламент о порядке принятия в УК решения о признании лица квалифицированным инвестором
					</span>
				</a>
				<a href="#" class="documents__item">
					<img src="./img/pdf.svg" alt="">
					<span>
						Политика обработки и обеспечения безопасности персональных данных
					</span>
				</a>
			</div>
			<div class="documents__btn-block">
			{% if show == true %}
				<button class="g-button">Загрузить ещё</button>
			{% endif %}
		</div>
		</div>
	</div>
</div>