<div class="editor">
	<div class="container">
		<h2 class="editor__title">
			Новый проект бюджета США на $6 трлн
		</h2>
		<div class="visual-editor">
			<h3>Акции нефтегазовых компаний – лучшее вложение на лето</h3>
			<p>
				Рынок сырьевых товаров восстанавливается вторую неделю подряд, в лидеры роста вышли нефть и акции нефтегазовых компаний. Мы считаем, что второе дыхание сырьевого цикла во втором полугодии 2021 г. будет в значительной степени обусловлено динамикой цен на нефть и газ, как это происходило с мая 2020 г. За неделю с 1 по 4 июня акции американских нефтесервисных компаний подорожали на 13,2%, железная руда – на 11%, бумаги бразильских нефтегазовых компаний – на 11%, нефтегазовый сектор S&P 500 поднялся на 7%. Бразилия вышла в лидеры роста в разрезе фондовых рынков, прибавив 7%, также в плюсе Индонезия (+6%), Украина (+4%) и Россия (+3%). Бразилия входит в пятерку самых перепроданных рынков по дисконту цена/прибыль (P/E) в 2021 г. наряду с Казахстаном, Россией, Турцией и ЮАР. Восстановление на рынке Бразилии обусловлено недавним снижением заболеваемости коронавирусом (хотя ранее страна занимала первое место по этому показателю в Латинской Америке), а также политических рисков после перестановок в руководстве Petrobras в середине февраля.
			</p>
			<p>
				Нефть Brent подорожала на 3,5% – ОПЕК+ ожидает дефицит сырья в третьем квартале, который, по нашим оценкам, достигнет исторического максимума в 2 млн б/с из-за скачка спроса на фоне летнего автосезона и дальнейшей отмены оставшихся ограничений из-за коронавируса в развитых странах, особенно в Европе. Начало автосезона привело к сокращению недельных запасов нефти в США на 6 млн барр., которое, по нашему мнению, продолжится. Другой значимый для рынка фактор – выход очень хороших экономических данных за май, что свидетельствует о восстановлении экономики после паузы в апреле.
			</p>
			<p>
				Благодаря нефти и базовым активам ротация ускорилась, в результате чего развивающиеся рынки (EM) опередили развитые (DM) – глобальные акции и S&P 500 выросли на 0,7% по сравнению с ростом EM на 1,8%. На развитых рынках в лидеры роста вышли FTSE (+0,7%) и DAX (+1,1%), один из самых недооцененных рынков в регионе. Отставание глобальных акций во многом обусловлено фиксацией прибыли и негативной динамикой акций IT-компаний.
			</p>
			<p>
				На российском фондовом рынке в лидеры роста вышли Лукойл (+9,2%), Газпром нефть (+9%), Новатэк (+8%), Роснефть и Транснефть (+6%).
			</p>
			<p>
				В число аутсайдеров за неделю вошли медь (-3%), биткоин (-2,6%), коксующийся уголь (-1%) и японский Nikkei 225 (-0,7%). Доллар укрепился. Сырьевые товары, включая золото и медь, подешевели. Казначейские облигации снизились. Между тем, ралли так называемых акций-мемов, включая AMC Entertainment Holdings, начало замедляться.
			</p>
			<h3>
				Наиболее переоцененные и недооцененные акции нефтегазовых компаний в сравнении с базовым активом, нормализованная динамика с 10 февраля.
			</h3>
			<p>
				Наиболее недооцененные глобальные акции нефтегазовых компаний: Occidental, Petrobras, BP, Royal Dutch Shell, Apache и Лукойл, торгующиеся с дисконтом более 20% к цене нефти Brent.
			</p>
			<img src="./img/graph.jpg" alt="">
			<h3>
				Геополитика:
			</h3>
			<ul>
				<li>
					Россия сведет к нулю долю долларовых активов в структуре Фонда национального благосостояния (ФНБ), которая сейчас составляет 35%. Основную часть долларовых активов ФНБ переведут в юани (доля китайской валюты увеличивается с 15% до 30%), евро (с 35% до 40%) и золото (с нуля до 20%).
				</li>
				<li>
					Между тем, США намерены внести скорректировать положение, запрещающее инвестиции в компании, связанные с китайскими военными.
				</li>
			</ul>
		</div>
	</div>
</div>