{% block footer %}
<footer class="footer">
	<div class="container">
		<div class="footer__flex">
			<div class="footer__flex-first">Стоимость инвестиционных паев может увеличиваться и&nbsp;уменьшаться, результаты инвестирования в&nbsp;прошлом не&nbsp;определяют доходы в&nbsp;будущем, государство не&nbsp;гарантирует доходность инвестиций в&nbsp;паевые инвестиционные фонды. Прежде чем приобрести инвестиционный пай, следует внимательно ознакомиться с&nbsp;правилами доверительного управления паевым инвестиционным фондом.</div>
			<div class="footer__flex-last">Информация о&nbsp;местах, где можно получить информацию о&nbsp;паевых инвестиционных фондах, ознакомиться с&nbsp;Правилами доверительного управления паевым инвестиционным фондом (в&nbsp;т.ч.&nbsp;до&nbsp;приобретения паёв), и&nbsp;иными документами, предусмотренными в&nbsp;Федеральном законе от&nbsp;29.11.2001&nbsp;N 156-ФЗ &laquo;Об&nbsp;инвестиционных фондах&raquo; и&nbsp;иными нормативными правовыми актами действующего законодательства: 123112, г. Москва, Пресненская набережная, дом&nbsp;6, строение&nbsp;2, этаж&nbsp;13, помещение 4&nbsp;и&nbsp;в&nbsp;сети Интернет по&nbsp;адресу: http://stabdokhod.ru/</div>
		</div>
		<div class="footer__block">
			<p class="footer__flex-paragraph">АО&nbsp;&laquo;ИК&nbsp;&laquo;Ай&nbsp;Ти&nbsp;Инвест&raquo; &middot; ИНН 7717116241 &middot; КПП 770301001 &middot; ОКПО 54776777</p>
			<p class="footer__flex-paragraph">Лицензии профессионального участника рынка ценных бумаг: &#8470;&nbsp;045-07516-010000, &#8470;&nbsp;045-07514-100000, &#8470;&nbsp;045-08543-000100</p>
			<p class="footer__flex-paragraph">&copy;2000&mdash;2021&nbsp;ITI Capital</p>
		</div>
	</div>
</footer>
{% endblock %}