<div class="licenses">
	<div class="container">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M19.1197 0H5.46277V20H11.7887L19.1197 7.60266V0ZM2.73138 20H4.09708V2.66667H2.73138V20ZM0 20H1.36569V5.33333H0V20ZM12.9741 21V24L15.6344 22.5L21.7801 12.1073L19.119 10.6073L12.9741 21ZM21.3383 6.856C21.3383 6.856 20.9948 7.43733 20.5707 8.15399C20.1467 8.87066 20.3987 9.78866 21.1334 10.2027C21.8682 10.6167 22.8071 10.3707 23.2318 9.65334L24 8.35533L21.3383 6.856Z" fill="#575762"/>
		</svg>
		<h2 class="g-title">Лицензии</h2>
		<div class="licenses__list">
			<div class="licenses__item">
				<img src="img/plug.jpg" alt="">
			</div>
			<div class="licenses__item">
				<img src="img/plug.jpg" alt="">
			</div>
			<div class="licenses__item">
				<img src="img/plug.jpg" alt="">
			</div>
			<div class="licenses__item">
				<img src="img/plug-blue.jpg" alt="">
			</div>
			<div class="licenses__text">Сканы бланков лицензий</div>
		</div>
	</div>
</div>