<div class="management-company">
	<div class="container">
		<svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M3 15.9299H4C4.55 15.9299 5 15.4694 5 14.9065V5.20791H7V14.9065C7 15.4694 7.45 15.9299 8 15.9299C8.55 15.9299 9 15.4694 9 14.9065V5.20791H11V14.9065C11 15.4694 11.45 15.9299 12 15.9299C12.55 15.9299 13 15.4694 13 14.9065V5.20791H15V14.9065C15 15.4694 15.45 15.9299 16 15.9299C16.55 15.9299 17 15.4694 17 14.9065V5.20791H19V14.9065C19 15.4694 19.45 15.9299 20 15.9299H21V5.20791H23.5V3.1535L12 0L0.5 3.1535V5.20791H3V15.9299ZM12 1.62613C12.5525 1.62613 13 2.08408 13 2.64949C13 3.2149 12.5525 3.67286 12 3.67286C11.4475 3.67286 11 3.2149 11 2.64949C11 2.08408 11.4475 1.62613 12 1.62613ZM0 16.9533V19H24V16.9533H0Z" fill="#575762"/>
		</svg>
		<h2 class="g-title">Об&nbsp;управляющей компании</h2>
		<ul class="management-company__list">
			<li class="management-company__item">
				<div class="management-company__inform">Полное наименование</div>
				<div class="management-company__detail">Общество с&nbsp;ограниченной ответственностью Управляющая компания &laquo;Стабильный Доход&raquo;</div>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">Сокращённое наименование</div>
				<div class="management-company__detail">ООО УК&nbsp;&laquo;Стабильный Доход&raquo;</div>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">Наименование на&nbsp;англ. языке</div>
				<div class="management-company__detail">&laquo;Stabilniy Dokhod&raquo; LLC</div>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">Адрес</div>
				<div class="management-company__detail">123112, г. Москва, Пресненская набережная, дом&nbsp;6, строение&nbsp;2, этаж&nbsp;13, помещение&nbsp;4</div>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">Телефон</div>
				<a href="tel:+74954192620" class="management-company__detail management-company__detail--link">+7 (495) 419-26-20</a>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">E-mail</div>
				<a href="mailto:info@stabdohod.ru" class="management-company__detail management-company__detail--link">info@stabdohod.ru</a>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">ИНН</div>
				<div class="management-company__detail">9703032348</div>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">Генеральный директор</div>
				<div class="management-company__detail">Куртепов Игорь Вениаминович</div>
			</li>
			<li class="management-company__item">
				<div class="management-company__inform">Членство в&nbsp;СРО</div>
				<div class="management-company__detail">Член НАУФОР</div>
			</li>
		</ul>
	</div>
</div>