<div class="sevices-content__main-img sevices-content__main-img_desktop">
	<img data-src="images/software-top.jpg" alt="">
</div>
<div class="sevices-content sevices-content_about">
	<div class="about-content">
		<div class="services-text">
			<div class="about-border">
				<div class="about--content-wrapper">
					<div class="smartx-download__title">
						ITI Capital (АО «ИК «Ай Ти Инвест») —инвестиционная компания с историей
					</div>
					<div class="smartx-download__descr">
						Российский брокер с 2000 года, с 2017 — лицензированный брокер в Великобритании
					</div>
					<div class="about-statistics about-statistics__mobile">
						<div class="about-statistics__item">
							<div class="about-statistics__item-top">12 000+</div>
							<div class="about-statistics__item-bottom">постоянных <br>клиентов</div>
						</div>
						<div class="about-statistics__item">
							<div class="about-statistics__item-top">$193,3 <span>млрд</span></div>
							<div class="about-statistics__item-bottom">годовой оборот <br>по всем рынкам</div>
						</div>
						<div class="about-statistics__item">
							<div class="about-statistics__item-top">$300+ <span>млн</span></div>
							<div class="about-statistics__item-bottom">клиентских <br>активов</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content__advantages">
				<div class="about-content__advantages-item">
					<div class="about-content__advantages-item-img" style="width: 56px; height: 56px;">
						<img data-src="images/svg/reliability.svg" alt="">
					</div>
					<div class="about-content__advantages-item-title">
						Надежноcть
					</div>
					<div class="about-content__advantages-item-descr">
						<p>Категория ААА — максимальный рейтинг надежности по версии Национального Рейтингового Агентства (НРА). <br>Брокерский бизнес — ключевое направление нашей работы. Компания ITI Capital отказалась от собственных операций на рынке</p>
					</div>
				</div>
				<div class="about-content__advantages-item">
					<div class="about-content__advantages-item-img">
						<img data-src="images/svg/tech.svg" alt="">
					</div>
					<div class="about-content__advantages-item-title">
						Технологичность
					</div>
					<div class="about-content__advantages-item-descr">
						<p>Собственное программное обеспечение, профессиональная команда разработчиков. В 2017 году ITI Capital заняла достойное место в рейтинге «Делойт» самых быстрорастущих технологических компаний в странах Европы, Ближнего Востока и Африки (Technology Fast 500™ по региону EMEA).</p>
					</div>
				</div>
				<div class="about-content__advantages-item">
					<div class="about-content__advantages-item-img">
						<img data-src="images/svg/stability.svg" alt="">
					</div>
					<div class="about-content__advantages-item-title">
						Стабильность
					</div>
					<div class="about-content__advantages-item-descr">
						<p>Позиция в ТОП-10  Московской биржи. 18 лет на рынке России.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="services__right-cards about__right-cards">
			<div class="about-statistics">
				<div class="about-statistics__item">
					<div class="about-statistics__item-top">12 000+</div>
					<div class="about-statistics__item-bottom">постоянных <br>клиентов</div>
				</div>
				<div class="about-statistics__item">
					<div class="about-statistics__item-top">$193,3 млрд</div>
					<div class="about-statistics__item-bottom">годовой оборот <br>по всем рынкам</div>
				</div>
				<div class="about-statistics__item">
					<div class="about-statistics__item-top">$300+ млн</div>
					<div class="about-statistics__item-bottom">клиентских <br>активов</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-content">
		<div class="about-banner">
			<div class="about-banner__wrapper">
				<div class="about-banner__title">
					Инновации как главный вектор роста
				</div>
				<div class="about-banner__text">
					<p>Наше оборудование размещено в зоне колокации Московской биржи. Это гарантирует  клиентам оперативный и надежный доступ к ней.</p>
					<p>Быстрые DMA–решения (direct market access: обмен данными на высокой скорости) и серверы безупречной надежности. </p>
				</div>
			</div>
		</div>
		<div class="about-border">
			<div class="about-trading-plates">
				<h2 class="about-trading-plates__title">
					Прямой доступ на мировые торговые площадки
				</h2>
				<div class="about-trading-plates__items">
					<div class="about-trading-plates__item">
						<div class="about-trading-plates__item-title">Moscow Exchange (MoEx)</div>
						<div class="about-trading-plates__item-descr">Фондовый рынок, срочный рынок, валютный рынок, ОТС сделки.</div>
					</div>
					<div class="about-trading-plates__item">
						<div class="about-trading-plates__item-title">SPB Exchange</div>
						<div class="about-trading-plates__item-descr">Рынок иностранных ценных бумаг</div>
					</div>
					<div class="about-trading-plates__item">
						<div class="about-trading-plates__item-title">GLOBAL FX</div>
						<div class="about-trading-plates__item-descr">Все ведущие торговые платформы (HotSpot, CNX,  FastMatch)</div>
					</div>
					<div class="about-trading-plates__item">
						<div class="about-trading-plates__item-title">ASIA</div>
						<div class="about-trading-plates__item-descr">Hong Kong (SEHK) — фондовый рынок</div>
					</div>
					<div class="about-trading-plates__item">
						<div class="about-trading-plates__item-title">NORTH AMERICA)</div>
						<div class="about-trading-plates__item-descr">NYSE, NASDAQ, AMEX;<br> ICE (US & Europe);<br> CME, NYMEX, COMEX</div>
					</div>
					<div class="about-trading-plates__item">
						<div class="about-trading-plates__item-title">EUROPE</div>
						<div class="about-trading-plates__item-descr">LSE (секция IOB – International Order Book); Deutsche Bourse (XETRA);Eurex.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="smartx-download__left">
			<div class="about--content-wrapper">
				<h2 class="about-trading-plates__title">
					Наши партнёры
					<div class="smartx-download__right about-partners__list__right about-partners__list__right__mobile">
						<img data-src="images/dvc.svg" alt="">
					</div>
				</h2>
				<div class="about-partners-descr">
					<p>Наш акционер — фонд Da Vinci Capital. Это ведущая независимая компания по управлению активами, известная на рынках России и стран СНГ С 2013 г. </p>
					<div class="mobile__davinci">
						<img data-src="images/dvc.svg" alt="">
					</div>
					<p>Da Vinci Capital  специализируется на прямых инвестициях в компании средней капитализации в России и других странах Евразийского Экономического Союза (ЕАЭС).</p>
				</div>
				<div class="about-partners-items">
					<div class="about-partners-items-row">
						<div class="about-partners-item">
							<img data-src="images/partner-mos-birj.svg" alt="Московская биржа">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-naufor.svg" alt="Науфор">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-spb.svg" alt="Spb exchange">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-rjo.svg" alt="Rjo'Brien">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-nomura.svg" alt="Nomura">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-global.svg" alt="Global prime partners">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-societe.svg" alt="Societe generale">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-interactive.svg" alt="Interactive brokers">
						</div>
					</div>
					<div class="about-partners-items-row">
						<div class="about-partners-item">
							<img data-src="images/partner-klukva.svg" alt="Клюква">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-dom-rf.svg" alt="Банк Дом РФ">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-finservice.svg" alt="Банк Финсервис">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-primsocbank.svg" alt="ПримСоцБанк">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-renesans.svg" alt="Ренесанс кредит">
						</div>
						<div class="about-partners-item">
							<img data-src="images/partner-vostok.svg" alt="Восточный банк">
						</div>
					</div>
				</div>
				<div class="about-partners__list">
					<p>Лицензии:</p>
					<ul>
						<li>на осуществление брокерской, дилерской, депозитарной деятельности 	(выданы ЦБ РФ 17.03.2004)</li>
						<li>на оказание брокерских и иных инвестиционных услуг на финансовых рынках 	(выдана Гернсийской комиссией по финансовым рынкам 24.03.2015)</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="smartx-download__right about-partners__list__right">
			<img data-src="images/dvc.svg" alt="">
		</div>
	</div>
</div>