<div class="services-accordeon services-accordeon">
	<div class="services-accordeon__item">
		<div class="services-accordeon__title noArrow">
			<a class="services-accordeon__item-text" href="#">Все услуги</a>
		</div>
	</div>
	<div class="services-accordeon__item">
		<div class="services-accordeon__title" onclick="o2.servicesAccordeon(this)">
			<span class="services-accordeon__item-text">Услуги частным клиентам</span>
			<div class="chevron"></div>
		</div>
		<ul class="services-accordeon__content">
			<li><a class="services-accordeon__content__link-2-span" href="#"><span>SMARTx</span><span>для Windows</span></a></li>
			<li><a class="services-accordeon__content__link-2-span" href="#"><span>SMARTx</span><span>для Windows</span></a></li>
			<li><a class="services-accordeon__content__link-2-span" href="#"><span>SMARTx</span><span>для Windows</span></a></li>
		</ul>
	</div>
	<div class="services-accordeon__item">
		<div class="services-accordeon__title" onclick="o2.servicesAccordeon(this)">
			<span class="services-accordeon__item-text">Услуги частным клиентам</span>
			<div class="chevron"></div>
		</div>
		<ul class="services-accordeon__content">
			<li><a href="#">ИИС</a></li>
			<li><a href="#">Еврооблигации</a></li>
			<li><a href="#">Внебиржевые сделки</a></li>
			<li><a href="#">Инвестиционное консультирование</a></li>
		</ul>
	</div>
	<div class="services-accordeon__item">
		<div class="services-accordeon__title" onclick="o2.servicesAccordeon(this)">
			<span class="services-accordeon__item-text">Услуги частным клиентам</span>
			<div class="chevron"></div>
		</div>
		<ul class="services-accordeon__content">
			<li><a href="#">ИИС</a></li>
			<li><a href="#">Еврооблигации</a></li>
			<li><a href="#">Внебиржевые сделки</a></li>
			<li><a href="#">Инвестиционное консультирование</a></li>
		</ul>
	</div>
	<div class="services-accordeon__item">
		<div class="services-accordeon__title noArrow">
			<a class="services-accordeon__item-text" href="#">Все услуги</a>
		</div>
	</div>
</div>