<div class="sevices-content">
	<div class="analitics-wrapper">
		<div class="analitics-item">
			<div class="analitics-top">
				<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
				<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
			</div>
			<a href="analitics-detail.html" class="analitics-bottom">
				<div class="analitics-item__title">Запасы сырой нефти в США снова сократились, индексы растут менее уверенно</div>
				<div class="analitics-item__descr">Американские акции восстановились после первого в новом году падения, установив новые рекорды. В…</div>
			</a>
		</div>
		<div class="analitics-item">
			<div class="analitics-top">
				<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
				<a href="/analitics.html" class="analitics-item__tag">технический анализ</a>
			</div>
			<a href="analitics-detail.html" class="analitics-bottom">
				<div class="analitics-item__title">LAM RESEARCH ($LRCX)</div>
				<div class="analitics-item__descr">Цена может возобновить рост.</div>
			</a>
		</div>
		<div class="analitics-item">
			<div class="analitics-top">
				<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
				<a href="/analitics.html" class="analitics-item__tag">технический анализ</a>
			</div>
			<a href="analitics-detail.html" class="analitics-bottom">
				<div class="analitics-item__title">Рынок подошёл к концу праздников в плюсе</div>
				<div class="analitics-item__descr">Американские индексы прервали ралли, снизившись впервые с начала года. На фоне спекуляций о том…</div>
			</a>
		</div>
		<div class="analitics-item">
			<div class="analitics-top">
				<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
				<a href="/analitics.html" class="analitics-item__tag">технический анализ</a>
			</div>
			<a href="analitics-detail.html" class="analitics-bottom">
				<div class="analitics-item__title">Рынок подошёл к концу праздников в плюсе</div>
				<div class="analitics-item__descr">Американские индексы прервали ралли, снизившись впервые с начала года. На фоне спекуляций о том…</div>
			</a>
		</div>
		<div class="analitics-item">
			<div class="analitics-top">
				<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
				<a href="/analitics.html" class="analitics-item__tag">технический анализ</a>
			</div>
			<a href="analitics-detail.html" class="analitics-bottom">
				<div class="analitics-item__title">Рынок подошёл к концу праздников в плюсе</div>
				<div class="analitics-item__descr">Американские индексы прервали ралли, снизившись впервые с начала года. На фоне спекуляций о том…</div>
			</a>
		</div>
		<div class="analitics-item">
			<div class="analitics-top">
				<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
				<a href="/analitics.html" class="analitics-item__tag">технический анализ</a>
			</div>
			<a href="analitics-detail.html" class="analitics-bottom">
				<div class="analitics-item__title">Рынок подошёл к концу праздников в плюсе</div>
				<div class="analitics-item__descr">Американские индексы прервали ралли, снизившись впервые с начала года. На фоне спекуляций о том…</div>
			</a>
		</div>
		<div class="analitics__show-more">
			<button>Показать еще</button>
		</div>
	</div>
	<div class="service-search-text-wr">
		<div class="service-search-text-control-wr">
			<div class="service-search-text-control" onclick="o2.toggleSearchText(this);">
				<svg xmlns="http://www.w3.org/2000/svg" width="44" height="16" fill="none" viewBox="0 0 44 16"><path stroke="#B3B3B3" d="M.276.423L22 14.57 43.724.423"/></svg>
			</div>
		</div>
		<div class="service-search-text-box">
			<h2 class="service-search-text__header">Аналитика рынка акций</h2>
			<p>
				<!-- жирненький текст в параграфе-->
				<b>Что это?</b>
				<br>
				Аналитика рынка акций сегодня&nbsp;&mdash; трудоемкое занятие, которое требует специальных знаний и&nbsp;большого опыта. Чтобы иметь полную картину рыночной ситуации и&nbsp;составить верную стратегию торговли, нужно провести тщательный анализ рынка акций: изучить новости, отчетность, перспективы развития сектора, которому относятся выбранные вами бумаги.
			</p>
			<h2>Заголовок h2</h2>
			<p>
				<a href="#">В&nbsp;случае</a>, если вы&nbsp;еще не&nbsp;определились с&nbsp;компанией, в&nbsp;ценные бумаги которой готовы инвестировать, вам предстоит целое исследование. И&nbsp;чем подробнее и&nbsp;точнее оно будет&nbsp;&mdash; тем лучше. Нужно выбрать одну из&nbsp;самых перспективных компаний в&nbsp;своем сегменте бизнеса, ту, вместе с&nbsp;которой вы&nbsp;сможете заработать.
			</p>
			<h3>Заголовок h3</h3>
			<p>
				Останется&nbsp;ли компания на&nbsp;рынке через год, пять или десять? Будут&nbsp;ли расти или падать в&nbsp;цене ее&nbsp;бумаги?
			</p>
		</div>
	</div>
</div>