<div class="faq-popup popup _faq-popup" onclick="event.stopPropagation(); event.preventDefault();">
	<div class="faq-popup__top">
		<div class="faq-popup__title">
			Частые вопросы о пополнении <br>брокерского счёта
		</div>
		<div class="faq-popup__close" onclick="o2.popups.closePopup('._faq-popup')">
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="32" height="32" rx="16" fill="#A8A8A8"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.8568 10.1432L10.0855 10.9145L15.1711 16.0002L10.0856 21.0856L10.857 21.857L15.9424 16.7715L21.028 21.8571L21.7993 21.0857L16.7138 16.0002L21.7995 10.9145L21.0281 10.1431L15.9424 15.2288L10.8568 10.1432Z" fill="white"/></svg>
		</div>
	</div>
	<div class="faq-popup__text">
		<div class="faq-popup__text-question">
			<h2>
				Как пополнить брокерский счёт
			</h2>
			<p>
				Как только вы заключаете с нами договор брокерского обслуживания, мы, ITI Capital, открываем для вас брокерский счёт.
			</p>
			<p>
				Пополните его на сумму от 50 000 рублей, и можете приступать к совершению сделок на бирже: продавать и покупать ценные бумаги, торговать индексами, драгоценными металлами, валютой и другими финансовыми инструментами.
			</p>
			<p>
				Пополнить брокерский счёт можно разными способами.
			</p>
		</div>
		<div class="faq-popup__text-question">
			<h2>
				Как пополнить счёт с помощью банковского перевода
			</h2>
			<p>
				Пополнить свой брокерский счёт можно в рублях или валюте, а также если перевести на него ценные бумаги.
			</p>
			<p>
				Перевести рубли можно через следующие банки и организации:<br>
				1. Райффайзенбанк<br>
				2. Альфа-Банк<br>
				3. НКО АО НРД (Национальный расчётный депозитарий)<br>
				4. Сбербанк
			</p>
			<p>
				Это бесплатно. Возможно, банк который вы используете, захочет удержать с вас комиссию, перед тем, как пополнять счёт, это лучше уточнить.
			</p>
			<p>
				Перевести на брокерский счёт доллары и евро можно через Райффайзенбанк.
			</p>
			<p>
				В платежном поручении необходимо указать ИНН, а если его вас нет, нужно будет указать адрес места жительства или регистрации, либо дату и место рождения.
			</p>
			<p>
				Согласно Регламенту Брокерского обслуживания, брокер не принимает денежные переводы со счетов третьих лиц в вашу пользу.
			</p>
			<p>
				Еще один способ пополнить брокерский счёт — перевести на него ценные бумаги. Сделать это можно через Национальный расчётный депозитарий. Для этого нужно подать поручение на списание ценных бумаг у вашего брокера и встречное поручение на их зачисление на брокерский счёт в ITI Capital.
			</p>
		</div>
		<div class="faq-popup__text-question">
			<h2>
				Как пополнить брокерский счёт с помощью перевода через QIWI
			</h2>
			<p>
				Вы можете пополнить брокерский счёт через QIWI терминал или QIWI кошелек. Для оплаты вам понадобится 6-ти значный «платежный код договора». Узнать его можно в своем личном кабинете (Меню > Настройка > Настройка счетов).
			</p>
			<p>
				Терминалы моментальной оплаты Qiwi есть во всех регионах России. Через любой из них вы можете пополнить свой брокерский счёт на 15 000 рублей единовременно, либо на 29 000 рублей в сутки. Зачисление средств на первый портфель с суффиксом MO-01 (MS-01) для брокерских счетов происходит мгновенно.
			</p>
			<p>
				Для пополнения брокерского счёта через QIWI кошелек вам потребуется приложение Visa QIWI Wallet Кошелек (QIWI Кошелек) для iPhone, iPad или Android. Сам же кошелек вы можете создать на сайте qiwi.com.
			</p>
			<p>
				При пополнении брокерского счёта через QIWI кошелек действуют те же лимиты, что и для терминала: 15 000 рублей единовременно, либо 29 000 рублей в сутки. Средства на первый портфель с суффиксом MO-01 (MS-01) для брокерских счетов зачисляются мгновенно.
			</p>
			<p>
				Важно: КИВИ Банк (ЗАО) и владельцы терминалов начисляют комиссию за операцию пополнения брокерского счёта.
			</p>
		</div>
	</div>
</div>
