<div class="sticky-header">
	<div class="container sticky-header__wr">
		<div class="sticky-header__logo">
			<div class="header-logo">
				<img data-src="images/svg/presentation-red.svg" alt="">
			</div>
		</div>
		<div class="sticky-header__right">
			<div class="sticky-header__title">
				Услуги частным клиентам, а также
			</div>
			<div class="sticky-header__buttons">
				<a href="#" class="test-access">Тестовый&nbsp;доступ</a>
				<a class="enter" href="#">
					Открыть счёт
				</a>
				<a class="header-phone header-phone__320" href="tel:+78002003235"></a>
				<a onclick="o2.popups.showPopup('.mobile-menu', 'fullscreen');" class="burger" href="javascript:void(0)">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
		</div>
	</div>
</div>
<header>
	<div class="container no-container__1024">
		<div class="header-top header-top_details">
			<div class="header-top-left">
				<a href="#">
					<div class="header-logo">
						<img data-src="images/svg/presentation-red.svg" alt="">
					</div>
				</a>
			</div>
			<div class="header-right search_header-right">
				<a onclick="o2.popups.showPopup('.mobile-menu');" class="burger" href="#">
					<span></span>
					<span></span>
					<span></span>
				</a>
				<a class="enter" href="#">
					Открыть счёт
				</a>
				<a class="header-phone header-phone__320" href="tel:+78002003235"></a>
				<a class="header-phone header-phone__mobile" href="tel:+78002003235">8 800 200 32 35</a>
				<a href="#">Войти</a>
				<a href="#">Пополнить счёт</a>
			</div>
			<div class="header-search-close" onclick="o2.search.hide();">
				<span class="header-search-close__icon"></span>
				Закрыть
			</div>
		</div>
		<div class="header-bot">
			<nav class="header-nav">
				<a class="active" href="#">услуги</a>
				<a href="#">тарифы</a>
				<a href="#">Аналитика</a>
				<a href="#">Программное обеспечение</a>
				<a href="#">О компании</a>
				<a href="javascript:void(0);" onclick="o2.search.showLarge();" class="header-nav__search">
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.502 11h-.794l-.276-.274A6.47 6.47 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.47 6.47 0 0 0 4.225-1.566l.276.274v.792l4.998 4.991L17.49 16l-4.988-5zM6.5 11a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9z" fill="#B3B3B3"/></svg>
				</a>
				<button class="header__special-size" onclick="o2.specialSize(this)">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.17083 5.89387C7.69059 4.45034 9.73906 3.55882 12 3.55882C14.2609 3.55882 16.3101 4.45034 17.8292 5.89387L24 12.0294L17.8292 18.165C16.3101 19.6085 14.2609 20.5 12 20.5C9.73906 20.5 7.69059 19.6085 6.17083 18.165L0 12.0294L6.17083 5.89387ZM12 17.6765C15.1136 17.6765 17.6471 15.1431 17.6471 12.0294C17.6471 8.91576 15.1136 6.38235 12 6.38235C8.88635 6.38235 6.35294 8.91576 6.35294 12.0294C6.35294 15.1431 8.88635 17.6765 12 17.6765ZM10.5882 11.3235C11.3668 11.3235 12 10.6911 12 9.91176C12 9.66118 11.9287 9.42894 11.8137 9.22424C11.8765 9.22071 11.9365 9.20588 12 9.20588C13.5572 9.20588 14.8235 10.4722 14.8235 12.0294C14.8235 13.5866 13.5572 14.8529 12 14.8529C10.4435 14.8529 9.17647 13.5866 9.17647 12.0294C9.17647 11.5776 9.29293 11.157 9.48211 10.7786C9.74046 11.1075 10.1372 11.3235 10.5882 11.3235Z" fill="#B3B3B3"/></svg>
				</button>
			</nav>
			<a class="header-phone" href="tel:+78002003235">8 800 200 32 35</a>
		</div>
	</div>
</header>