<div class="index-slider">
	<div class="index-slide">
		<a href="#">
			<div class="index-slide__left">
				<div class="index-slide__left-img">
					<img src="images/index-telegram.svg" alt="">
				</div>
				<div class="index-slide__left-descr">
					<div class="index-slide__left-descr-title">Телеграм-канал ITI Capital</div>
					<div class="index-slide__left-descr-text">Телеграм канал ITI Capital <br>Будь в курсе последних событий</div>
				</div>
			</div>
			<div class="index-slide__right">
				<div href="#" class="index-slide__right-btn">
					Читать
				</div>
			</div>
		</a>
	</div>
	<div class="index-slide  noIMG" style="background-image: url(images/indexSlider2.jpg)">
		<a href="#">
			<div class="index-slide__left">
				<div class="index-slide__left-descr">
					<div class="index-slide__left-descr-title">Робоэдвайзер <br>«Финансовый советник» <span class="index-slider__disclamer">продукт компании ARTQUANT</span></div>
				</div>
			</div>
			<div class="index-slide__right">
				<div href="#" class="index-slide__right-btn">
					Попробовать
				</div>
			</div>
		</a>
	</div>
	<div class="index-slide option" style="background-image: url(images/indexSlider2.jpg)">
		<a href="#">
			<div class="index-slide__left">
				<div class="index-slide__left-img">
					<img src="images/option-lab-logo.png" alt="">
				</div>
				<div class="index-slide__left-descr">
					<div class="index-slide__left-descr-title">Научись тогровать опционами <br>через Option-lab</div>
					<div class="index-slide__left-descr-text">Вебинар. Ведет вебинар Сергей Елисеев, <br>разработчик Option-lab</div>
				</div>
			</div>
			<div class="index-slide__right">
				<div href="#" class="index-slide__right-btn">
					Записаться
				</div>
			</div>
		</a>
	</div>
	<div class="index-slide option try" style="background-image: url(images/indexSlider4.jpg)">
		<a href="#">
			<div class="index-slide__left">
				<div class="index-slide__left-descr">
					<div class="index-slide__left-descr-title">Попробуй — 0%!</div>
					<div class="index-slide__left-descr-text">Первый месяц — торговли без комиссии</div>
				</div>
			</div>
			<div class="index-slide__right">
				<div href="#" class="index-slide__right-btn">
					Попробовать
				</div>
			</div>
		</a>
	</div>
	<div class="index-slide option imgText" style="background-image: url(../images/sliderImg.jpg)">
		<a href="#">
			<div class="index-slide__left">
				<div class="index-slide__left-descr">
					<span style="color: red; font-size: 30px;">это шаблон для цельной картинки с текстом</span>
				</div>
			</div>
			<div class="index-slide__right">
				<div href="#" class="index-slide__right-btn">
					Попробовать
				</div>
			</div>
		</a>
	</div>
</div>