<div class="index-partners">
	<div class="index-container">
		<h2>Наши партнеры</h2>
		<div class="index-partners__items">
			<div class="index-partners__item partners1">
				<img src="images/partners1.svg" alt="">
			</div>
			<div class="index-partners__item partners2">
				<img src="images/partners2.png" alt="">
			</div>
			<div class="index-partners__item partners3">
				<img src="images/partners3.svg" alt="">
			</div>
			<div class="index-partners__item partners4">
				<img src="images/partners4.png" alt="">
			</div>
			<div class="index-partners__item partners5">
				<img src="images/partners5.png" alt="">
			</div>
			<div class="index-partners__item partners6">
				<img src="images/partners6.png" alt="">
			</div>
		</div>
	</div>
</div>