<div class="index-news">
	<div class="index-container">
		<div class="index-news__wrapper top">
			<div class="analitics-item featured">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">Запасы сырой нефти в США снова сократились, индексы растут менее уверенно</div>
					<div class="analitics-item__descr">Американские акции восстановились после первого в новом году падения, установив новые рекорды. В…</div>
				</a>
			</div>
			<div class="analitics-item">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">LAM RESEARCH ($LRCX)</div>
					<div class="analitics-item__descr">Цена может возобновить рост.</div>
				</a>
			</div>
			<div class="analitics-item">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">Компания Pfizer может быть интересна для покупок</div>
					<div class="analitics-item__descr">Как мы видим, цена недавно протестировала уровень поддержки и уже успела оттолкнуться от него. </div>
				</a>
			</div>
			<div class="analitics-item">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">Компания Pfizer может быть интересна для покупок</div>
					<div class="analitics-item__descr">Как мы видим, цена недавно протестировала уровень поддержки и уже успела оттолкнуться от него. </div>
				</a>
			</div>
		</div>
	</div>
	<div class="index-news__banner--wrapper">
		<div class="index-news__banner">
			<div class="index-news__banner-text">
				<a href="#">Headline <br>Hello</a>
			</div>
		</div>
	</div>
	<div class="index-container">
		<div class="index-news__wrapper bot">
			<div class="analitics-item featured">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">Запасы сырой нефти в США снова сократились, индексы растут менее уверенно</div>
					<div class="analitics-item__descr">Американские акции восстановились после первого в новом году падения, установив новые рекорды. В…</div>
				</a>
			</div>
			<div class="analitics-item">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">LAM RESEARCH ($LRCX)</div>
					<div class="analitics-item__descr">Цена может возобновить рост.</div>
				</a>
			</div>
			<div class="analitics-item">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">Компания Pfizer может быть интересна для покупок</div>
					<div class="analitics-item__descr">Как мы видим, цена недавно протестировала уровень поддержки и уже успела оттолкнуться от него. </div>
				</a>
			</div>
			<div class="analitics-item">
				<div class="analitics-top">
					<a href="/analitics-detail.html" class="analitics-item__date">12.01.2018</a>
					<a href="/analitics.html" class="analitics-item__tag">еженедельная аналитика</a>
				</div>
				<a href="analitics-detail.html" class="analitics-bottom">
					<div class="analitics-item__title">Компания Pfizer может быть интересна для покупок</div>
					<div class="analitics-item__descr">Как мы видим, цена недавно протестировала уровень поддержки и уже успела оттолкнуться от него. </div>
				</a>
			</div>
		</div>
	</div>
</div>