<div class="search-box-wr">
	<form action="">
		<div class="search-box">
			<div class="search-box-input">
				<span class="search-box-input__icon">
					<svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.73 18.239h-1.317l-.458-.454a10.727 10.727 0 0 0 2.6-7.008C21.555 4.825 16.73 0 10.778 0 4.825 0 0 4.825 0 10.777c0 5.953 4.825 10.778 10.778 10.778 2.678 0 5.12-.981 7.005-2.596l.458.454v1.313l8.287 8.276L29 26.529l-8.27-8.29zm-9.953 0a7.46 7.46 0 0 1-7.461-7.462 7.461 7.461 0 1 1 14.923 0 7.461 7.461 0 0 1-7.462 7.462z" fill="#8C8C8C"/></svg>
				</span>
				<input type="text" class="search-box-input__input" placeholder="Что ищете?" onkeyup="o2.search.changeRequest(this);">
				<span class="search-box-input__clear-icon" onclick="o2.search.clearRequest()">
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.8 0L0 1.8 16.2 18l1.8-1.8L1.8 0z" fill="#8C8C8C"/><path d="M18 1.8L16.2 0 0 16.2 1.8 18 18 1.8z" fill="#8C8C8C"/></svg>
				</span>
			</div>
			<button class="def-btn def-btn_skin search-box__btn">Найти</button>
		</div>
	</form>
	<div class="search-box-nav">
		<div class="search-box-nav__col">
			<div class="search-box-nav__item">
				<div class="search-box-nav__item-title">Начинающим трейдерам</div>
				<ul class="search-box-nav__item-list">
					<li><a href="#">Тестовый счет</a></li>
					<li><a href="#">Обучение</a></li>
					<li><a href="#">Простой торговый терминал</a></li>
				</ul>
			</div>
			<div class="search-box-nav__item">
				<div class="search-box-nav__item-title">Опытным трейдерам</div>
				<ul class="search-box-nav__item-list">
					<li><a href="#">Единая денежная позиция</a></li>
					<li><a href="#">Маржинальное кредитование</a></li>
					<li><a href="#">Пакет опционных плагинов</a></li>
					<li><a href="#">Персональный брокер</a></li>
				</ul>
			</div>
		</div>
		<div class="search-box-nav__col">
			<div class="search-box-nav__item">
				<div class="search-box-nav__item-title">ПРОФЕССИОНАЛЬНЫМ И&nbsp;АЛГОРИТМИЧЕСКИМ<br>ТРЕЙДЕРАМ</div>
				<ul class="search-box-nav__item-list">
					<li><a href="#">Модуль риск-менеджмента MatriX</a></li>
					<li><a href="#">Прямой доступ на биржу</a></li>
					<li><a href="#">Размещение оборудования</a></li>
					<li><a href="#">Специализированное программное<br>обеспечение</a></li>
					<li><a href="#">Алгоритмический трейдинг</a></li>
					<li><a href="#">Торговые роботы</a></li>
				</ul>
			</div>
		</div>
		<div class="search-box-nav__col">
			<div class="search-box-nav__item">
				<div class="search-box-nav__item-title">Инвесторам</div>
				<ul class="search-box-nav__item-list">
					<li><a href="#">Инвестиционный счет (ИИС)</a></li>
					<li><a href="#">Инвестиционное консультирование</a></li>
					<li><a href="#">Структурные продукты</a></li>
				</ul>
			</div>
		</div>
		<div class="search-box-nav__col">
			<div class="search-box-nav__item">
				<div class="search-box-nav__item-title">Дополнительные сервисы</div>
				<ul class="search-box-nav__item-list">
					<li><a href="#">Аналитика</a></li>
					<li><a href="#">Личный кабинет клиента</a></li>
					<li><a href="#">Прямой обмен валюты на бирже</a></li>
					<li><a href="#">СМС-алерты</a></li>
					<li><a href="#">ПО от партнеров</a></li>
					<li><a href="#">Раскрытие информации</a></li>
					<li><a href="#">Приватность</a></li>
				</ul>
			</div>
		</div>
	</div>
	<nav class="search-box-mobile-nav">
		<a href="#">Услуги</a>
		<a href="#">Тарифы</a>
		<a href="#">Программное обеспечение</a>
		<a href="#">Аналитика</a>
		<a href="#">Обучение</a>
		<a href="#">О компании</a>
		<a href="#">Документы</a>
		<a href="#">Акции компаний</a>
		<a href="#">Контактная информация</a>
	</nav>
</div>