<div class="shares-buy-content__wrapper">
	<div class="shares-content">
		<div class="share-info-wr">
	<div class="share-info__left">
		<img src="images/rusgidro-logo.jpg" alt="rusgidro" class="no-zoom">
	</div>
	<div class="share-info__right">
		<div class="share-info__type">Обыкновенная акция · HYDR</div>
		<div class="share-info__decr">Федеральная гидрогенерирующая компания&nbsp;&mdash; РусГидро</div>
		<div class="share-info-price">
			<div class="share-info-price__value">0,5014 RUB</div>
			<div class="share-info-price__percent">– 0,38%</div>
		</div>
	</div>
</div>
		<!-- ссылки для мобильной версии -->
		<div class="share-links-mobile">
	<a href="#" class="shares-links-item">
		<div class="shares-links-item__icon">
			<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.9997 36.8602C7.9003 30.734 1.4059 20.4653 1.0162 7.6984L18.9997 1.067l17.9832 6.6313c-.4013 12.8996-7.0508 23.1129-17.9832 29.1619z" stroke="#EC231A" stroke-width="2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M25.8282 16.9289h-6.2338l3.5566-8.8374-10.9801 10.9801h6.2338l-3.5559 8.8367 10.9794-10.9794z" fill="#EC231A"/></svg>
		</div>
		<div class="shares-links-item__text">Купить <br> с&nbsp;защитой капитала</div>
	</a>
	<a href="#" class="shares-links-item">
		<div class="shares-links-item__icon">
			<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30.4755 12.8276l-4.344 4.345-3.107-3.108-8.022 8.022-3.387-3.387-4.824 4.823c.249.671.547 1.317.899 1.93l3.925-3.925 3.387 3.387 8.022-8.022 3.107 3.108 5.197-5.197c-.234-.684-.513-1.348-.853-1.976z" fill="#EC231A"/><mask id="asdfadsf" fill="#fff"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.125.6245c-10.2011 0-18.5 8.2989-18.5 18.5s8.2989 18.5 18.5 18.5 18.5-8.2989 18.5-18.5-8.2989-18.5-18.5-18.5z"/></mask><path d="M19.125-1.3755c-11.3057 0-20.5 9.1943-20.5 20.5h4c0-9.0965 7.4035-16.5 16.5-16.5v-4zm-20.5 20.5c0 11.3057 9.1943 20.5 20.5 20.5v-4c-9.0965 0-16.5-7.4034-16.5-16.5h-4zm20.5 20.5c11.3057 0 20.5-9.1943 20.5-20.5h-4c0 9.0966-7.4035 16.5-16.5 16.5v4zm20.5-20.5c0-11.3057-9.1943-20.5-20.5-20.5v4c9.0965 0 16.5 7.4035 16.5 16.5h4z" fill="#EC231A" mask="url(#asdfadsf)"/></svg>
		</div>
		<div class="shares-links-item__text">Купить структурный продукт на&nbsp;акции</div>
	</a>
	<a href="#" class="shares-links-item">
		<div class="shares-links-item__icon">
			<svg width="39" height="35" viewBox="0 0 39 35" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="7" width="37" height="27" rx="3" stroke="#EC231A" stroke-width="2"/><path stroke="#EC231A" stroke-width="2" stroke-linecap="round" d="M13 1h13"/><path stroke="#EC231A" stroke-width="2" d="M.5 14h38"/></svg>
		</div>
		<div class="shares-links-item__text">Купить модельный портфель</div>
	</a>
	<a href="#" class="shares-links-item">
		<div class="shares-links-item__icon">
			<svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l33.8916 33.8916c1.888 1.888.5541 5.1165-2.116 5.1213l-27.8381.0496" stroke="#EC231A" stroke-width="2"/><mask id="cvcv" fill="#fff"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 0C9.2989 0 1 8.2989 1 18.5S9.2989 37 19.5 37 38 28.7011 38 18.5 29.7011 0 19.5 0z"/></mask><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 0C9.2989 0 1 8.2989 1 18.5S9.2989 37 19.5 37 38 28.7011 38 18.5 29.7011 0 19.5 0z" fill="#fff"/><path d="M19.5-2C8.1943-2-1 7.1943-1 18.5h4C3 9.4034 10.4035 2 19.5 2v-4zM-1 18.5C-1 29.8057 8.1943 39 19.5 39v-4C10.4035 35 3 27.5965 3 18.5h-4zM19.5 39C30.8057 39 40 29.8057 40 18.5h-4C36 27.5965 28.5965 35 19.5 35v4zM40 18.5C40 7.1943 30.8057-2 19.5-2v4C28.5965 2 36 9.4034 36 18.5h4z" fill="#EC231A" mask="url(#cvcv)"/></svg>
		</div>
		<div class="shares-links-item__text">Аналитика <br> HYDR <br> в&nbsp;ITI&nbsp;Global</div>
	</a>
</div>
		<h2 class="shares-content__head shares-title-style">Заработать на покупке акций ОАО «Аэрофлот» можно двумя способами:</h2>
		<ul class="shares-content__descr-list">
			<li>Получить доход от изменения стоимости и перепродажи ценных бумаг;</li>
			<li>Получить дивиденды.</li>
		</ul>
		<h2 class="shares-content__dinamic-coast shares-title-style">Динамика стоимости акций ОАО «Аэрофлот»</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae, natus magnam quod et iste quia, impedit dolorem qui deleniti neque maiores commodi debitis, corrupti atque quam placeat temporibus molestias!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae, natus magnam quod et iste quia, impedit dolorem qui deleniti neque maiores commodi debitis, corrupti atque quam placeat temporibus molestias!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae, natus magnam quod et iste quia, impedit dolorem qui deleniti neque maiores commodi debitis, corrupti atque quam placeat temporibus molestias!</p>
		<h2 class="shares-content__dinamic-coast shares-title-style">График для одного тикета, поумолчанию отображаются свечи</h2>
		<div class="shares-content__chart-wr shares-content__chart-wr_active-candle" data-ticket="sberp"></div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<h2 class="shares-content__dinamic-coast shares-title-style">График для другого тикета, поумолчанию отображается линия</h2>
		<div class="shares-content__chart-wr" data-ticket="gAZP"></div>
		<h2 class="shares-content__statistic-title shares-title-style">Примеры роста стоимости акций  ОАО «РусГидро»</h2>
		<div class="shares-content__statistic-content clearfix">
			<div class="shares-content__wrapper">
				<div class="shares-cost-example-wr">
					<div class="shares-cost-example-item">
						<div class="shares-cost-example__value">36,6% </div>
						<div class="shares-cost-example-date">
							<div class="shares-cost-example__days-count">за 56 дней</div>
							<div class="shares-cost-example__date-range">с 25.08. по 20.10.15</div>
						</div>
					</div>
					<div class="shares-cost-example-item">
						<div class="shares-cost-example__value">31% </div>
						<div class="shares-cost-example-date">
							<div class="shares-cost-example__days-count">за неделю</div>
							<div class="shares-cost-example__date-range">с 16.12.14 по 20.10.15</div>
						</div>
					</div>
					<div class="shares-cost-example-item">
						<div class="shares-cost-example__value">16,3%</div>
						<div class="shares-cost-example-date">
							<div class="shares-cost-example__days-count">за месяц</div>
							<div class="shares-cost-example__date-range">с 19.01 по 19.02.16</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<h2 class="shares-content__dinamic-coast shares-title-style">Как купить акции ОАО «РусГидро»</h2>
		<div class="steps-list">
			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count">
						<span class="steps-list-item__count-text">1</span>
					</div>
				</div>
				<div class="steps-list-item__info">
					Откройте брокерский счёт
				</div>
			</div>

			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count">
						<span class="steps-list-item__count-text">2</span>
					</div>
				</div>
				<div class="steps-list-item__info">
					Пополните счёт от&nbsp;50&nbsp;000&nbsp;руб.
				</div>
			</div>

			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count">
						<span class="steps-list-item__count-text">3</span>
					</div>
				</div>
				<div class="steps-list-item__info">
					Купите акции ОАО &laquo;РусГидро&raquo;
				</div>
			</div>

			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count steps-list-item__count_final">
						<svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 10.7844l6 5.9541L22 1.8521" stroke="#87AF4F" stroke-width="2.5"/></svg>
					</div>
				</div>
				<div class="steps-list-item__info">
					Следите за&nbsp;курсом&nbsp;акций
				</div>
			</div>
		</div>
		<div class="content-actions content-actions_shares-actions">
			<a href="#" class="def-btn def-btn_bolder">Открыть счёт</a>
			<a href="javascript:void(0);" class="def-btn def-btn_skin" onclick="carrotquest.open()">Задать вопрос в чате →</a>
		</div>
	</div>
</div>