<div class="shares-buy-content__wrapper">
	<div class="shares-buy-content">
		<h2 class="shares-content__head shares-title-style">Как и где купить акции ОАО «Аэрофлот» физическому лицу?</h2>
		<div class="shares-content__text-wrapper shares-text__margin-bottom">
			<p>Купить акции компании ОАО «Аэрофлот» физическому лицу в России можно у профессионального участника рынка ценных бумаг. Инвестиционные компании устанавливают внутренний курс на ценные бумаги, а брокеру при заключении сделки необходимо будет заплатить комиссию. Поэтому стоимость акций может отличаться.</p>
		</div>
		<div class="shares-content__section-title shares-title-style shares-title__padding-top">Как это работает?</div>
		<div class="shares-title-style shares-buy-title__margin-bottom">Чтобы купить акции ОАО «Аэрофлот» необходимо:</div>
			<ul class="shares-content__descr-list shares-content__list__margin-bottom">
				<li>Позвонить или <a class="shares-text-link" href="#">оставить заявку</a> на обратный звонок на сайте;</li>
				<li>Зарегистрироваться (самостоятельно или с помощью оператора);</li>
				<li>Заключить с агентом договор брокерского и депозитарного обслуживания;</li>
				<li>Открыть персональный счёт;</li>
				<li>Перевести на счёт от 50 000 рублей;</li>
				<li>Начать инвестировать.</li>
			</ul>
		<div class="shares-content__text-wrapper">
			<p>Приобретая ценных бумаги, вы становитесь собственником части компании. Акционер имеет право участвовать в собраниях акционеров и получать прибыль в виде дивидендов. Однако доход инвесторы чаще всего получают не от ежегодной выплаты дивидендов, а от выгодной купли-продажи акций. Торгуются акции компании ОАО «Аэрофлот» на рынке ценных бумаг или фондовой бирже. Котировки акций зависят от многих факторов, и их стоимость меняется каждый день. Рассчитать возможную прибыль от выгодной продажи можно с помощью прогнозов аналитиков.</p>
		</div>
	</div>
	<div class="shares-buy__graphic-content">
		<img src="../images/chart-image.png" alt="">
		<div class="shares-buy__graphic-content-descr">Покупка акций Аэрофлота через бесплатную программу SMARTx</div>
	</div>
	<div class="shares-buy-content">
		<div class="shares-content__section-title shares-title-style shares-title__padding-top__53px shares-title__margin-botton__44px">Об акциях ОАО «Аэрофлот»</div>
		<div class="shares-content__text-wrapper shares__margin-bottom__0">
			<p>ОАО «Аэрофлот» — лидер национальных российских авиалиний и один из крупнейших авиаперевозчиков в мире. Воздушный парк компании насчитывает более 100 судов. Он признан самым большим и молодым среди европейских авиаперевозчиков. В 2013 году по версии британского агентства Skytrax «Аэрофлот» признан лучшей авиакомпанией Восточной Европы. Услугами компании пользуются более 30 млн человек.</p>
			<p>IPO провели 26 августа 1999 года, после чего стало возможным купить первые акции компании ОАО «Аэрофлот». Купить акции ОАО «Аэрофлот» частным лицам проще всего через профессионального участника рынка ценных бумаг. Стоимость акций компании достигла своего пятилетнего максимума в январе 2014 года — более 80 рублей за акцию. После введения санкций ЕС цена снизилась до уровня 35-40 рублей за акцию.</p>
			<p>Главный акционер ОАО «Аэрофлот» — государство РФ. Ему принадлежит крупнейший пакет акций ОАО «Аэрофлот» — 51,17%. В собственности юридических лиц находится более 40% ценных бумаг. Остальные 8,28% акций находятся в свободном плавании. Купить акции ОАО «Аэрофлот» в России физическим лицам можно через инвестиционную компанию.</p>
		</div>
	</div>
</div>