<div class="share-info-wr">
	<div class="share-info__left">
		<img src="images/rusgidro-logo.jpg" alt="rusgidro" class="no-zoom">
	</div>
	<div class="share-info__right">
		<div class="share-info__type">Обыкновенная акция · HYDR</div>
		<div class="share-info__decr">Федеральная гидрогенерирующая компания&nbsp;&mdash; РусГидро</div>
		<div class="share-info-price">
			<div class="share-info-price__value">0,5014 RUB</div>
			<div class="share-info-price__percent">– 0,38%</div>
		</div>
	</div>
</div>