<div class="sevices-content">
	<div class="software-main clearfix">
		<div class="services-text">
			<div class="software-main-top__banner">
				<div class="software-main-top__banner-left">
					<div class="software-main-top__banner-left-text">Торговая система</div>
					<div class="software-main-top__banner-left-img">
						<img src="images/svg/matrix.svg" alt="">
					</div>
				</div>
				<div class="software-main-top__banner-right">Встроенная система риск-менеджмента <br>Единая денежная позиция <br>Все рынки</div>
			</div>
			<div class="software-main__items">
				<div class="software-main__item">
					<div class="software-main__title">
						Для трейдеров
					</div>
					<div class="software-main__item-apps">
						<a href="#" class="software-main__item-app">
							<img src="images/svg/software-main-smartx.svg" alt="">
						</a>
						<a href="#" class="software-main__item-app">
							<img src="images/svg/software-main-smartWeb.svg" alt="">
						</a>
						<a href="#" class="software-main__item-app">
							<img src="images/svg/software-main-mobile.svg" alt="">
						</a>
						<a href="#" class="software-main__item-app">
							<img src="images/svg/software-main-option.svg" alt="">
						</a>
					</div>
				</div>
				<div class="software-main__item">
					<div class="software-main__title">
						Алгоритмическим трейдерам
					</div>
					<div class="software-main__item-apps">
						<a href="#" class="software-main__item-app">
							<img src="images/svg/software-main-smartCom.svg" alt="">
						</a>
					</div>
				</div>
				<div class="software-main__item">
					<div class="software-main__title">
						Алгоритмическим трейдерам
					</div>
					<div class="software-main__item-apps">
						<a href="#" class="software-main__item-app">
							<img src="images/svg/strate.svg" alt="">
						</a>
						<a href="#" class="software-main__item-app">
							<img src="images/svg/software-smart-gate.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>