<section class="trade-ideas-element">
	<div class="main-container">
		<div class="trade-ideas-element__text">
			<h2 class="trade-ideas-element__text-title">Торговые идеи</h2>
			<p class="trade-ideas-element__text-abs">Зарабатывайте на&nbsp;акциях с&nbsp;прогнозами наших аналитиков в&nbsp;мобильном приложении ITI Capital</p>
		</div>
		<picture>
			<source srcset="./images/banner-picture.png" class="banner-img" media="(max-width: 1023px)">
			<img src="./images/Phones-Img.png" alt="" class="banner-img">
		</picture>
	</div>
	<div class="main-container main-container--mobile">
		<div class="trade-ideas-element__lists">
			<ul class="trade-ideas-element__content-list">
				<li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/mail.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">31%</div>
							</div>
							<span>Mail.ru Group</span>
						</div>
					</a>
				</li>
				<li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/OXY.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">8%</div>
							</div>
							<span>Occidental Petroleum</span>
						</div>
					</a>
				</li>
				<li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/nikel.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">14%</div>
							</div>
							<span>Норильский никель</span>
						</div>
					</a>
				</li>
				<li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/at.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">22%</div>
							</div>
							<span>AT&T</span>
						</div>
					</a>
				</li>
				<li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/gaz.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">10%</div>
							</div>
							<span>Газпром</span>
						</div>
					</a>
				</li>
				<li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/gaz.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">10%</div>
							</div>
							<span>Газпром</span>
						</div>
					</a>
				</li>
				<!-- <li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/gaz.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">10%</div>
							</div>
							<span>Газпром</span>
						</div>
					</a>
				</li> -->
				<!-- <li class="trade-ideas-element__content-item">
					<a href="javascript:void(0)" onclick="o2.popupsNew.show('._inverst-popup')">
						<img src="./images/svg/gaz.svg" alt="" class="image">
						<div class="trade-ideas-element__content-block">
							<div class="trade-ideas-element__content-percent">
								<img src="./images/svg/open.svg" alt="">
								<div class="trade-ideas-element__content-percent-numb">10%</div>
							</div>
							<span>Газпром</span>
						</div>
					</a>
				</li> -->
			</ul>
		</div>
	</div>
	<div class="main-container">
		<a href="javascript:void(0)" class="present" onclick="o2.popupsNew.show('._inverst-popup')">
			<div class="present__flex">
				<img src="./images/svg/money1000.svg" alt="">
				<div class="present__flex-text">
					<span>1&nbsp;000&nbsp;руб. в&nbsp;подарок -&gt;</span>
					<span>Новым клиентам <br class="br">при покупке первой идеи</span>
				</div>
			</div>
		</a>
		<div class="mobile-app__items">
			<div class="mobile-app__items-flex">
				<object data="./images/svg/qr.svg" type="image/svg+xml" class="mobile-app__items-qr"></object>
				<div class="mobile-app__items-wrap">
					<a href="#" class="mobile-app__items-wrap-link">
						<object data="./images/svg/gp.svg" type="image/svg+xml"></object>
					</a>
					<a href="#" class="mobile-app__items-wrap-link">
						<object data="./images/svg//appstore-1.svg" type="image/svg+xml"></object>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="overlayTrade _overlayTrade"></div>
</section>
<div class="popupTrade _inverst-popup inverst-popup">
	<div class="mobile-app__wrap mobile-app__wrap--popup">
		<div onclick="o2.popupsNew.close('._inverst-popup')" class="popup-close buy-popup-close">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path opacity="0.48" fill-rule="evenodd" clip-rule="evenodd" d="M11.9766 12.7774L3.35359 21.4004L2.64648 20.6933L11.2695 12.0703L2.64648 3.44731L3.35359 2.7402L11.9766 11.3632L20.5996 2.7402L21.3067 3.44731L12.6837 12.0703L21.3067 20.6933L20.5996 21.4004L11.9766 12.7774Z" fill="#333333"></path>
			</svg>
		</div>
		<div class="block-flex">
		<div class="mobile-app__left">
			<img src="./images/mobile-app-popup.png" alt="mobile-app">
		</div>
		<div class="mobile-app__left mobile-app__left--mobile">
			<img src="./img/mobile-app-mob.png" alt="mobile-app">
		</div>
		<div class="mobile-app__right">
			<h2 class="mobile-app__title">
				Торговые идеи <br> доступны в приложении<br> ITI Сбережения
			</h2>
			<ul class="mobile-app__list">
				<li class="mobile-app__item">Легкая покупка и продажа</li>
				<li class="mobile-app__item">Оповещения о новых идеях от наших аналитиков</li>
				<li class="mobile-app__item">Отслеживание информации по работающим активам</li>
			</ul>
			<div class="mobile-app__items">
			<div class="mobile-app__items-flex mobile-app__items-flex-popup">
					<object data="./images/svg/qr.svg" type="image/svg+xml" class="mobile-app__items-qr"></object>
					<div class="mobile-app__items-wrap">
						<a href="#" class="mobile-app__items-wrap-link">
							<object data="./images/svg/gp.svg" type="image/svg+xml"></object>
						</a>
						<a href="#" class="mobile-app__items-wrap-link">
							<object data="./images/svg//appstore-1.svg" type="image/svg+xml"></object>
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

