<section class="bridge">
	<div class="container">
		<h2 class="bridge__title">We bridge regulated finance & digital assets</h2>
		<p class="bridge__abs">ITI Digital is the premier investment bank for companies and institutional investors in the digital assets space, with a primary focus on the EMEA region</p>
		<div class="bridge__strip"></div>
		<ul class="bridge__list">
			<li class="bridge__item">
				<div class="bridge__item-name">
					<div class="bridge__item-title">Advisory &amp;&nbsp;Capital Markets</div>
					<img src="./img/digital-icon-1.svg" alt="">
				</div>
				<p class="bridge__item-text">We&nbsp;raise capital and provide transactional support for companies who are leading the development.</p>
				<p class="bridge__item-text">of&nbsp;the digital assets ecosystem. We&nbsp;leverage our unparalleled Advisory experience and network in&nbsp;Capital Markets in&nbsp;equity or&nbsp;debt capital raises, private placements and M&amp;A work.</p>
			</li>
			<li class="bridge__item">
				<div class="bridge__item-name">
					<div class="bridge__item-title">Trading &amp;&nbsp;Prime Brokerage</div>
					<img src="./img/digital-icon-2.svg" alt="">
				</div>
				<p class="bridge__item-text">We&nbsp;offer institutional investors prime brokerage services for the digital asset markets. We&nbsp;combine efficient onboarding, highly competitive pricing and same-day settlement with portfolio margining and best-in-class custody solutions to&nbsp;provide our clients institutional-grade solutions.</p>
			</li>
			<li class="bridge__item">
				<div class="bridge__item-name">
					<div class="bridge__item-title">Asset Management</div>
					<img src="./img/digital-icon-3.svg" alt="">
				</div>
				<p class="bridge__item-text">We&nbsp;curate, create and issue a&nbsp;unique range of&nbsp;institutional investment products that can satisfy both sophisticated and new investors in&nbsp;digital asset space.</p>
			</li>
		</ul>
	</div>
</section>