{% extends "../layouts/default-popup.twig" %}

{% set popupId = 'popup-sign-in' %}
{% set popupClass = 'popup-alert' %}
{% set className = 'sign-popup' %}

{% block popupConent %}
<h2 class="g-page-subtitle g-page-subtitle--sign">
	Sign in
</h2>
<div class="popup-alert__message popup-alert__message--sign">
	<div class="g-typography">
		<p class="g-typography__abs">If you are existing client of ITI Capital Limited and would like to open additional account please refer to <a href="#">Account Management team</a> or call <a href="tel:4402075628001">+44 (0) 20 7562 8001</a>.</p>
		<div class="border"></div>
		<button class="popup-btn">Sign In -&gt;</button>
	</div>
</div>
{% endblock %}