{# index.twig #}
{% extends "layouts/layout.twig" %}
{% set faq = true %}

{% block page %}
	<section class="faq">
		<div class="container">
			<h1 class="faq__title">
				Frequently Asked Questions
			</h1>
			<ul class="faq__list">
				<li class="faq__items">
					<h2 class="faq__group">
						About Bitcoin
					</h2>
					<img src="../img/arrow.svg" class="faq__img" alt="">
					<ul class="faq__items-list">
						<li class="faq__item">
							<h3 class="faq__question">
								2Exchange Traded Cryptocurrencies
							</h3>
							<div class="faq__answer">
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
							</div>
							<img src="../img/arrow.svg" class="faq__img" alt="">
						</li>
						<li class="faq__item">
							<h3 class="faq__question">
								2Exchange Traded Cryptocurrencies
							</h3>
							<div class="faq__answer">
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
							</div>
							<img src="../img/arrow.svg" class="faq__img" alt="">
						</li>
					</ul>
				</li>
				<li class="faq__items">
					<h2 class="faq__group">
						Exchange Traded Cryptocurrencies
					</h2>
					<ul class="faq__items-list">
						<li class="faq__item">
							<h3 class="faq__question">
								2Exchange Traded Cryptocurrencies
							</h3>
							<div class="faq__answer">
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
							</div>
							<img src="../img/arrow.svg" class="faq__img" alt="">
						</li>
					</ul>
					<img src="../img/arrow.svg" class="faq__img" alt="">
				</li>
				<li class="faq__items">
					<h2 class="faq__group">
						What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
						Exchange Traded Cryptocurrencies
					</h2>
					<ul class="faq__items-list">
						<li class="faq__item">
							<h3 class="faq__question">
								2Exchange Traded Cryptocurrencies
							</h3>
							<div class="faq__answer">
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
							</div>
							<img src="../img/arrow.svg" class="faq__img" alt="">
						</li>
					</ul>
					<img src="../img/arrow.svg" class="faq__img" alt="">
				</li>
				<li class="faq__items">
					<h2 class="faq__group">
						Exchange Traded Cryptocurrencies
					</h2>
					<ul class="faq__items-list">
						<li class="faq__item">
							<h3 class="faq__question">
								2Exchange Traded Cryptocurrencies
							</h3>
							<div class="faq__answer">
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
							</div>
							<img src="../img/arrow.svg" class="faq__img" alt="">
						</li>
					</ul>
					<img src="../img/arrow.svg" class="faq__img" alt="">
				</li>
				<li class="faq__items">
					<h2 class="faq__group">
						Exchange Traded Cryptocurrencies
					</h2>
					<ul class="faq__items-list">
						<li class="faq__item">
							<h3 class="faq__question">
								2Exchange Traded Cryptocurrencies
							</h3>
							<div class="faq__answer">
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
								2What are the Advantages of Investing in BTCE over Directly Investing in Bitcoin?
							</div>
							<img src="../img/arrow.svg" class="faq__img" alt="">
						</li>
					</ul>
					<img src="../img/arrow.svg" class="faq__img" alt="">
				</li>
			</ul>
		</div>
	</section>
{% endblock %}