<div class="popup _company-popup company-popup">
	<div onclick="o2.popups.close('._company-popup')" class="popup-close company-popup-close">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.48" fill-rule="evenodd" clip-rule="evenodd" d="M11.9766 12.7774L3.35359 21.4004L2.64648 20.6933L11.2695 12.0703L2.64648 3.44731L3.35359 2.7402L11.9766 11.3632L20.5996 2.7402L21.3067 3.44731L12.6837 12.0703L21.3067 20.6933L20.5996 21.4004L11.9766 12.7774Z" fill="#333333"/></svg>
	</div>
	<div class="company-popup__top">
		<div class="company-popup__logo">
			<img src="./img/company-bat.svg">
		</div>
		<div class="company-popup__h">
			British American Tobacco
		</div>
		<p class="company-popup__p">
			Одна из&nbsp;крупнейших табачных компаний в&nbsp;мире. Выпускает сигареты под марками Dunhill, Lucky Strike, Kent, Pall Mall, Camel и&nbsp;др., а&nbsp;также иную табачную продукцию (Снюс, вейпы, нагревательные приборы Glo).
		</p>
		<p class="company-popup__p">
			Помимо этого, создаёт местные бренды сигарет в&nbsp;странах присутствия.
		</p>
	</div>
	<div class="company-popup__btm">
		<p class="company-popup__p company-popup__p_title">
			Почему нужно ивестировать в British American Tobacco?
		</p>
		<p class="company-popup__p">
			Стабильный рост финансовых показателей и&nbsp;реализация инициатив по&nbsp;повышению рентабельности.
		</p>
		<p class="company-popup__p">
			Компания активно инвестирует в&nbsp;новую категорию продуктов, включая нагревательные смеси и&nbsp;электронные сигареты. А&nbsp;также поддерживает инициативы по&nbsp;регулированию в&nbsp;отрасли в&nbsp;интересах потребителей.
		</p>
		<p class="company-popup__p">
			BAT&nbsp;&mdash; единственная среди табачных компаний включена в&nbsp;мировой индекс устойчивого развития Dow Jones sustainability Indices (DJSI).
		</p>
	</div>
</div>