.faq-popup
{
	position: relative;
	max-width: 880px;
	width: 100%;
	height: fit-content;
	background: #FFFFFF;
	border-radius: 8px;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	margin: auto;
	padding-bottom: 40px;
}
.faq-popup__top
{
	padding: 24px 40px;
	padding-right: 24px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.faq-popup__close
{
	svg
	{
		transition: 0.6s;
	}
	&:hover
	{
		cursor: pointer;
		svg
		{
			transform: rotate(180deg);
			transition: 0.6s;
		}
	}
}
.faq-popup__title
{
	font-family: $bold;
	font-weight: bold;
	font-size: 32px;
	line-height: 42px;
	font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'liga' off;
	margin-bottom: 24px;
}
.faq-popup__text
{
	padding: 0 40px;
	h2
	{
		font-family: $semi;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;
		margin-bottom: 16px;
	}
	p, ol
	{
		font-size: 16px;
		line-height: 26px;
		font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;
		color: #686868;
	}
	p
	{
		margin: 0;
		&:not(:last-of-type)
		{
			margin-bottom: 28px;
		}
	}
	a
	{
		color: #388AE9;
		transition: 0.2s;
		&:hover
		{
			color: #196fd1;
			transition: 0.2s;
		}
	}
}
.faq-popup__text-question
{
	&:not(:last-child)
	{
		margin-bottom: 40px;
	}
}
.special
{
	.faq-popup__title
	{
		font-size: 48px;
		line-height: 56px;
	}
	.faq-popup__text
	{
		h2
		{
			font-size: 32px;
			line-height: 40px;
		}
		p, ol
		{
			font-size: 26px;
			line-height: 32px;
		}
	}
}

@media (max-width: 767px)
{
	.faq-popup__top
	{
		padding: 0 16px;
		padding-top: 32px;
	}
	.faq-popup__title
	{
		font-size: 24px;
		line-height: 31px;
	}
	.faq-popup__text
	{
		padding: 0 16px;
		h2
		{
			font-size: 18px;
			line-height: 25px;
		}
		p, ol
		{
			font-size: 16px;
			line-height: 22px;
		}
		p
		{
			&:not(:last-of-type)
			{
				margin-bottom: 22px;
			}
		}
	}
	.faq-popup__text-question
	{
		&:not(:last-child)
		{
			margin-bottom: 32px;
		}
	}
	.special
	{
		.faq-popup__title
		{
			font-size: 36px;
			line-height: 44px;
		}
		.faq-popup__text
		{
			h2
			{
				font-size: 26px;
				line-height: 32px;
			}
			p, ol
			{
				font-size: 20px;
				line-height: 28px;
			}
		}
	}
}