.analitics-wrapper-alphabet
{
	width: 100%;
}
.analitics-wrapper-alphabet ul
{
	display: inline-block;
}
.analitics-wrapper-alphabet ul li
{
	float: left;
	padding: 2px 7px;
	padding-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
}
.new__analitics__wrapper a
{
	outline: 0;
	text-decoration: none;
	color: #ee152f;
	font-family: 'Lato-Regular','PT Sans', sans-serif;;
	font-size: 18px;
	cursor: pointer;
	display: block;
}
.new__analitics__wrapper__link
{
	float: none;
	width: 100%;
	height: 25px;
}
.new__sevices-top__title
{
	text-transform: capitalize;
}
