.index-aramco-wr
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #000;
	height: 180px;
	margin-top: 20px;
}
.index-aramco__left
{
	height: 100%;
	display: flex;
	align-items: center;
	flex: 1;
	background-image: url('../images/index-aramco-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
	{
		background-image: url('../images/index-aramco-bg-2x.jpg');
	}
}
.index-aramco-logo
{
	padding-left: 36px;
	line-height: 0;
}
.index-aramco__right
{
	font-size: 32px;
	line-height: 37px;
	color: #fff;
	padding-left: 44px;
	padding-right: 32px;
	background: #1F6CB1;
	background: linear-gradient(270deg, #ADD1F8 0%, #349BC7 31.57%, #1F6CB1 100%);
	display: flex;
	align-items: center;
	height: 100%;
	font-family: $air;
	font-feature-settings: "ss01" 0;
}

@media (max-width: 767px)
{
	.index-aramco-wr
	{
		height: 90px;
		margin-left: -20px;
		margin-right: -20px;
	}
	.index-aramco-logo
	{
		padding-left: 18px;
		svg
		{
			width: 51px;
			height: auto;
		}
	}
	.index-aramco__right
	{
		font-size: 17px;
		line-height: 20px;
		padding-left: 21px;
		min-width: 275px;
	}
}