.proposal
{
	width: 100%;
	background-color: #E5E5E5;
    overflow: scroll;
    position: fixed;
	top: 0;
	z-index: 10;
	min-height: 100%;
	&._show
	{
		visibility: visible;
		opacity: 1;
		transform: translateX(0px);
		transition: all 0.15s ease;
	}
}
.proposal-content
{
	width: 100%;
	position: absolute;
	top: 40px;
	padding: 0 17px;
	padding-top: 64px;
	background-color: #fff;
	border-radius: 12px;
}
.proposal__svg
{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -33%);
	z-index: 2;
	filter: drop-shadow(0px 82.7586px 66.2069px rgba(0, 0, 0, 0.07)) drop-shadow(0px 34.5746px 27.6597px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 18.4852px 14.7882px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 10.3627px 8.29013px rgba(0, 0, 0, 0.035)) drop-shadow(0px 5.50353px 4.40283px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.29014px 1.83211px rgba(0, 0, 0, 0.0196802));
}
.proposal__title
{
	margin-bottom: 32px;
	font-family: $bold;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #333333;
}
.proposal__button
{
	display: block;
	max-width: 312px;
	width: 100%;
	padding: 14px 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 18px;
	background-color: $main;
	border-radius: 99px;
	font-family: $bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
}
.proposal__link
{
	display: block;
	max-width: 312px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	border: none;
	font-family: $semi;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	color: $main;
}
.proposal__img
{
	display: block;
	width: 100%;
}










