<div class="popup _all-docs-popup docs-popup docs-popup_load">
	<div class="popup-close" onclick="OpenAcc.popups.close('.docs-popup')"><img src="../images/open-acc-img/popup-close.svg" alt=""></div>
	<div class="popup-wrapper">
		<div class="docs-popup-loader">
			<div class="docs-popup-loader__item"></div>
		</div>
		<div class="docs-popup__top">
			<div class="docs-popup__title">
				Документы на подпись <span class="docs-popup__count">· 4</span>
			</div>
			<ul class="docs-popup__list">
				<li class="docs-popup__list-item">
					<a href="#1">
						Заявление
					</a>
				</li>
				<li class="docs-popup__list-item">
					<a href="#2">
						Технический протокол
					</a>
				</li>
				<li class="docs-popup__list-item">
					<a href="#3">
						Анкета клиента
					</a>
				</li>
				<li class="docs-popup__list-item">
					<a href="#4">
						Назначение оператора счёта Депо
					</a>
				</li>
			</ul>
		</div>
		<div class="docs-popup__links">
			<div class="pdf-container" id="1" data-pdf-id="1"></div>
			<div class="pdf-container" id="2" data-pdf-id="2"></div>
			<div class="pdf-container" id="3" data-pdf-id="3"></div>
			<div class="pdf-container" id="4" data-pdf-id="4"></div>
		</div>
	</div>
</div>
