<div class="docs-slider-item-tmp" style="display: none !important;">
	<a href="#doc-link#" target="_blank" class="doc-slider__slide">
		<div class="doc-slider__slide-img">
			<img src="../images/open-acc-img/doc-slide.png" alt="">
		</div>
		<div class="doc-slider__slide-name">#doc-name#</div>
	</a>
</div>
<div class="docs-slider">
	<a href="all-docs.html" target="_blank" class="doc-slider__slide doc-slider__slide_all">
		<div class="doc-slider__slide-img">
			<img src="../images/open-acc-img/doc-slide.png" alt="">
			<div class="doc-slider__dop-docs"></div>
			<div class="doc-slider__slide-divider"></div>
		</div>
		<div class="doc-slider__slide-name">Все документы</div>
	</a>
	<a href="all-docs.html" target="_blank" class="doc-slider__slide doc-slider__slide_all">
		<div class="doc-slider__slide-img">
			<img src="../images/open-acc-img/doc-slide.png" alt="">
			<div class="doc-slider__dop-docs"></div>
			<div class="doc-slider__slide-divider"></div>
		</div>
		<div class="doc-slider__slide-name">Все документы</div>
	</a>
	<a href="all-docs.html" target="_blank" class="doc-slider__slide doc-slider__slide_all">
		<div class="doc-slider__slide-img">
			<img src="../images/open-acc-img/doc-slide.png" alt="">
			<div class="doc-slider__dop-docs"></div>
			<div class="doc-slider__slide-divider"></div>
		</div>
		<div class="doc-slider__slide-name">Все документы</div>
	</a>
</div>