<div class="header-wr">
	<header class="header">
		<div class="header-logo-wr">
			<a href="/" class="header-logo">
				<img src="../images/open-acc-img/header-logo.svg" alt="">
			</a>
		</div>
		<div class="header-label">@@title</div>
		<div class="header-work-info-wr">
			<a href="tel:88002005532" class="header-phone-link">8 800 200 55 32</a>
			<div class="header-working-hours">Пн–Пт · 9–21  /  Сб–Вс · 10–17</div>
		</div>
	</header>
	<div class="header-label header-label_mobile">@@title</div>
</div>