<div class="popup _buy-popup buy-popup">
	<div class="buy-popup__top">
		<h2 class="buy-popup__title">How to buy Bitcoin Exchange Traded Crypto (BTCE)</h2>
		<div onclick="o2.popups.close('._buy-popup')" class="popup-close buy-popup-close">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.48" fill-rule="evenodd" clip-rule="evenodd" d="M11.9766 12.7774L3.35359 21.4004L2.64648 20.6933L11.2695 12.0703L2.64648 3.44731L3.35359 2.7402L11.9766 11.3632L20.5996 2.7402L21.3067 3.44731L12.6837 12.0703L21.3067 20.6933L20.5996 21.4004L11.9766 12.7774Z" fill="#333333"/></svg>
		</div>
	</div>
	<div class="buy-popup__text">
		Search for <span>BTCE</span> | ISIN <span>DE00A27Z304 </span><br>through your existing broker account or bank. No need for a new set up,<br> BTCetc is available to trade via all popular brokers or banks.
	</div>
	<div class="buy-popup__links">
		<div class="buy-popup__links-title">
			Can’t find BTCetc on your broker platform?
		</div>
		<div class="buy-popup__links-wrap">
			<a href="#" class="buy-popup__links-item">
				<div class="buy-popup__links-subtitle">
					Contact them!
				</div>
				<div class="buy-popup__links-text">
					Ask them to provide you access to<br><span>BTCE</span>, ISIN <span>DE00A27Z304</span>
				</div>
			</a>
			<div class="buy-popup__links-separator">OR</div>
			<a href="#" class="buy-popup__links-item">
				<div class="buy-popup__links-subtitle">
					Contact us!
				</div>
				<div class="buy-popup__links-text">
					We’re happy to talk to your broker or bank and have them add BTCE to their offering.
				</div>
			</a>
		</div>
	</div>
	<div class="buy-popup__btm">
		<div class="buy-popup__btm-title">
			Dont’t have an account? Popular brokers:
		</div>
		<div class="buy-popup__btm-wrap">
			<div class="buy-popup__btm-item"></div>
			<div class="buy-popup__btm-item"></div>
			<div class="buy-popup__btm-item"></div>
			<div class="buy-popup__btm-item"></div>
			<div class="buy-popup__btm-item"></div>
		</div>
	</div>
</div>