{% block footer %}
<footer class="footer">
	Акционерное общество «Инвестиционная компания «Ай Ти Инвест».<br>
	Все права защищены законодательством. Лицензия профессионального<br>
	участника рынка ценных бумаг № 045-07514-100000 от 17.03.2004<br>
	на осуществление брокерской деятельности.
</footer>

<div class="overlay _overlay" onclick="o2.popups.closePopup();">
	<div class="g-popup _popup popup-faq" onclick="event.stopPropagation();" id="popup-faq">
		<div onclick="o2.popups.closePopup();" class="g-popup__close _popupClose">
			<img src="./img/close.svg" alt="">
		</div>
		<div class="g-popup__body">
			<div class="popup-faq__title">
				Часто задаваемые вопросы<br>о брокерском счёте
			</div>

			{# <ul class="faq">
				<li class="faq__item">
					<div class="faq__question">
						<div class="faq__question-icon">
							<img src="./img/notebook.svg" alt="">
						</div>

						Зачем нужен счёт?
					</div>
					<div class="faq__answer">
						С брокерским счетом вы можете работать на финансовых рынках: инвестировать самостоятельно или приобретать готовые инвестиционные продукты.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						<div class="faq__question-icon">
							<img src="./img/clock.svg" alt="">
						</div>

						Сколько времени займёт открытие?
					</div>
					<div class="faq__answer">
						Заполнить анкету можно за три минуты. Мы откроем ваш счёт в этот же день или на следующий рабочий день, если вы заполнили заявку в выходной или вечером.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						<div class="faq__question-icon">
							<img src="./img/message.svg" alt="">
						</div>

						Как я буду подписывать документы?
					</div>
					<div class="faq__answer">
						Не нужно никуда ехать или ждать курьера. Подать заявку и подписать документы можно с помощью простой SMS.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						<div class="faq__question-icon">
							<img src="./img/price.svg" alt="">
						</div>

						Сколько стоит открыть счёт?
					</div>
					<div class="faq__answer">
						Для того, чтобы торговать на фондовом, срочном или валютном рынках Московской биржи, необходимо иметь на брокерском счёте минимум 30 000 рублей.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						<div class="faq__question-icon">
							<img src="./img/money.svg" alt="">
						</div>

						С какой суммы я смогу начать?
					</div>
					<div class="faq__answer">
						Минимальная сумма, с которой вы можете начать инвестировать — 30 000 рублей, для готовых инвестиционных продуктов — 50 000 рублей. Пополнить счёт вы можете в любое время.
					</div>
				</li>
			</ul> #}

			<ul class="faq">
				<li class="faq__item">
					<div class="faq__question">
						Что такое брокерский счет и как он работает?
					</div>
					<div class="faq__answer">
						Брокерский счёт похож на банковский, но отличается тем, что дает возможность покупать и продавать ценные бумаги, валюту или другие инвестиционные инструменты на бирже. <br>
						<br>
						Шаг 1. Вы открываете счёт у брокера. <br>
						Шаг 2. Брокер регистрирует ваш счёт на бирже и дает вам доступ к торговле. <br>
						Шаг 3. Вы пополняете счёт и начинаете инвестировать. <br>
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Как открыть брокерский счёт?
					</div>
					<div class="faq__answer">
						Как оформить договор на брокерское обслуживание физическому и юридическому лицу онлайн?<br>
						<br>
						Открыть брокерский счёт можно удаленно. Для этого нужно оставить заявку на нашем сайте. Если вы находитесь в Москве, мы с радостью пригласим вас в офис и познакомим со всеми <a target="_blank" href="https://iticapital.ru/services/documents-for-clients/for-acquaintance/">документами.</a> <br>
						<br>
						Открыть брокерский счёт онлайн для физических лиц можно при помощи двух документов
						на нашем сайте: паспорта и ИНН.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Сколько стоит открыть брокерский счёт?
					</div>
					<div class="faq__answer">
						У нас в ITI Capital это бесплатно. <br>
						<br>
						Если у вас на счёте более 50 000 рублей или размер брокерской комиссии превышает 300 рублей в месяц, то стоимость обслуживания брокерского счёта для вас будет равна нулю.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Какая минимальная сумма необходима?
					</div>
					<div class="faq__answer">
						Для того, чтобы торговать на фондовом, срочном или валютном рынках Московской биржи, необходимо иметь на брокерском счёте минимум 30 000 рублей.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Какие документы нужны, чтобы открыть счёт?
					</div>
					<div class="faq__answer">
						Если вы открываете счёт удаленно, потребуется паспорт и ИНН. Если готовы приехать в наш офис — только паспорт. <br>
						<br>
						Если вы иностранный гражданин, то понадобится паспорт, переведенный на русский язык и заверенный у нотариуса, и миграционная карта. Также будет нужно свидетельство о постановке на учёт в налоговой инспекции, если оно у вас есть. <br>
						<br>
						В ITI Capital вы также можете открыть брокерский счёт для юридических лиц. Полный список документов, необходимых юридическим лицам, можно найти по этой ссылке <a target="_blank" href="https://iticapital.ru/services/documents-for-clients/for-acquaintance/">Документы</a>.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Где я могу найти Договор <br> и Регламент брокерского обслуживания?
					</div>
					<div class="faq__answer">
						Ознакомиться с Регламентом и с Договором на брокерское обслуживание можно в разделе  <a target="_blank" href="https://iticapital.ru/services/documents-for-clients/for-acquaintance/">Документы</a>. <br>
						<br>
						Мы рекомендуем вам найти немного времени, чтобы внимательно ознакомиться с <a target="_blank" href="https://iticapital.ru/tariffs/brokerage/">информацией</a> об условиях работы.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Каким образом я буду получать отчётность <br> по своему брокерскому счёту?
					</div>
					<div class="faq__answer">
						Все отчёты по операциям клиента ITI Capital доступны вам в Системе Электронного Документооборота (Система ЭДО). Вы найдете ее в Личном кабинете клиента. <br>
						<br>
						Кроме того, мы всегда рады предоставить вам отчётность в офисе компании или прислать
						по почте. Выбирать вам.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Как быстро можно начать торговать на бирже?
					</div>
					<div class="faq__answer">
						Достаточно быстро. <br>
						<br>
						Процедура подготовки документов и заключения договора на брокерское обслуживание занимает порядка 20 минут (как дистанционно, так и в офисе). После этого счёт нужно зарегистрировать на торговых площадках. Как правило, процедура регистрации проходит
						в течение одного рабочего дня.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Виды брокерских счетов
					</div>
					<div class="faq__answer">
						В ITI Capital вы можете открыть обычный брокерский счёт и Индивидуальный инвестиционный счёт (ИИС), который дает возможность получить налоговый вычет от государства.
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Как купить валюту через брокерский счёт?
					</div>
					<div class="faq__answer">
						Совершать операции можно в двух режимах — <b>беспоставочном и поставочном</b>. Минимальный лот — 1000, то есть количество валюты, которую вы можете купить или продать за один раз, должно быть кратным этому числу: 1000, 2000, 3000 и т.д. <br>
						<br>
						<b>В первом случае</b> физическая «поставка» сторонами сделки иностранной валюты не предполагается. Этот метод используют спекулянты, которые <b>зарабатывают на изменениях</b> курсов валют. На беспоставочном режиме вы также можете совершать сделки с использованием заемных средств. <br>
						<br>
						<b>Вам подходит поставочный режим</b>, если вам нужно <b>купить валюту и сразу вывести</b> ее на свой счет, например, перед путешествием или крупной покупкой. Если вы решите хранить валюту на брокерском счёте, то это будет для вас бесплатно. <br>
						<br>
						Чтобы купить валюту, нужно открыть торговый терминал и выбрать нужный финансовый инструмент для покупки — например, в случае покупки долларов, нужно будет приобрести инструмент <b>USDRUB_TOM</b> <br>
						<br>
						Первое обозначение — это валюта, которую вы хотите купить, <b>USD</b>. Следующее — это валюта, которой вы будете платить, <b>RUB</b>. Далее указан срок исполнения операции, TOD(<b>tod</b>ay)
						или TOM (<b>tom</b>orrow).
					</div>
				</li>

				<li class="faq__item">
					<div class="faq__question">
						Обязательно ли иметь ИНН?
					</div>
					<div class="faq__answer">
						Да, ИНН нужен, чтобы открыть счёт он-лайн. <br>
						<br>
						ИНН также поможет нам идентифицировать вас как налогоплательщика при уплате вашего подоходного дохода.
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="g-popup _popup popup-descriptor" onclick="event.stopPropagation();" id="popup-descriptor">
		<div onclick="o2.popups.closePopup();" class="g-popup__close _popupClose">
			<img src="./img/close.svg" alt="">
		</div>
		<div class="g-popup__body">
			<div class="popup-descriptor__title">
				Тариф «Попробуй»
			</div>

			<div class="descr">
				<div class="descr__item">
					<p class="descr__semi">
						В&nbsp;течение первого месяца (30&nbsp;календарных дней) после подключения к&nbsp;тарифу:
					</p>

					<ul class="descr__list">
						<li>
							Комиссия за&nbsp;биржевые операции на&nbsp;фондовом, <br> валютном и&nbsp;срочном рынках&nbsp;&mdash; не&nbsp;взимается
						</li>

						<li>
							Маржинальное кредитование — 15%
					 <br>(пятнадцать процентов) годовых
						</li>
					</ul>
				</div>

				<div class="descr__item">
					<p><span class="descr__accent">Важно:</span> Комиссия за&nbsp;указанный период не&nbsp;взимается при&nbsp;условии, что&nbsp;максимальный оборот по&nbsp;брокерскому счёту Клиента, подключившего тариф &laquo;Попробуй!&raquo;, включая стоимость фьючерсных контрактов, не&nbsp;превышает 20&nbsp;000&nbsp;000 (Двадцать миллионов) рублей.</p>

					<p>
						При&nbsp;превышении указанного значения до&nbsp;истечения 30-ти&nbsp;дневного срока с&nbsp;момента подключения тарифа &laquo;Попробуй&raquo; или, если&nbsp;пороговое значение не&nbsp;было превышено, по&nbsp;истечении 30-ти дневного срока с&nbsp;момента подключения тарифа &laquo;Попробуй!&raquo;
					</p>

					<div class="descr__link">
						<a href="https://iticapital.ru/tariffs/brokerage/poprobui/" class="descr__link">Подробнее</a>
					</div>
				</div>

				<div class="descr__item">
					<p class="descr__light">
						Также для&nbsp;подключения этого тарифа необходимо пополнить счёт активами (денежными средствами и/или&nbsp;ценными бумагами) на&nbsp;сумму не&nbsp;менее 50&nbsp;000&nbsp;рублей.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}