.breadcrumbs__wrap
{
	margin-top: 80px;
	max-width: 720px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 26px;
}
.breadcrumbs__link
{
	font-size: 13px;
	line-height: 19px;
	font-feature-settings: 'zero' on;
	color: #A8A8A8;
}