{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'private' %}
{% set callbackISA = true %}
{% set stickyContainer = true %}
{% set btcePopup = true %}

{% block page %}
	{% include "./blocks/priviteClientsBanner.twig" with {'title': 'Global Initial Public Offerings,<br>Secondary Placings & Trade Ideas', 'bgPrefix': 'initial', 'titleModifier': 'private-clients-banner__title--white'} %}
	{# <div class="container">
		<div class="sticky-card sticky-card--mobile sticky-card--ipo _stickyCard" id="sticky-card">
			<div class="sticky-card__contact">
				<div class="sticky-card__contact-title">Open, Transfer or Top up <br>your existing ISA</div>
			</div>

			<div class="sticky-card__btn-group">
				<a href="#" class="g-btn">
					Log-in to the Client Portal &rarr;
				</a>
			</div>
		</div>
	</div> #}
	<div class="container">
		<div class="private__left">
			<h2 class="g-page-subtitle">
				You can now invest in Global IPOs, Pre-IPOs and Secondary Placings through ITI Capital and receive expertly researched Trade Ideas from our dedicated in-house research team.
			</h2>

			<div class="g-title-devider g-title-devider--disclaimer">
				Disclaimer
			</div>

			<div class="g-typography g-typography--career" style="margin-bottom: 32px;">
				<p>
					We do not offer advice on the suitability of any IPOs, Placings, Trade Ideas; these are offered on an execution only basis. There are significant risks involved in investing in these products and it is vital that you have all the information you need to make an informed decision. All trading involves risk.
				</p>
			</div>
		</div>

		<div class="private__right private__right--inst">
			<div class="sticky-card sticky-card--career _stickyDesktop" data-margin-top="193">
				<div class="sticky-card__text">
					Register<br>Your Interest Today
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Register &rarr;
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-0">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/glob-section-bg1.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Why invest in IPOs, Pre-IPOs,<br>and Secondary Placings through<br>ITI Capital?
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography">
				<h3 class="g-title-semi">
					Global Access
				</h3>
				<p>
					Get access to the best deals globally, from private company offers through to those listed on the major global exchanges. If you have heard of an IPO, a company that might be preparing to file for an IPO (Pre IPO) or a Secondary Placement offering, call us and we will try and get you involved.
				</p>
			</div>
			<div class="g-typography">
				<h3 class="g-title-semi">
					Expertise
				</h3>
				<p>
					Our investment professionals and team of research analysts carefully study the opportunities and analyse the market environment prior to offering any IPO, pre-IPO or Placing. They screen the offerings and perform due diligence prior to offering these to clients.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-2">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/glob-section-bg2.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Trade Ideas from ITI Capital* —<br>backed by expert research
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography g-typography--gray-line">
				<p>
					Our Research Team take a short-term and a long-term global stock market strategy in order to be able to discover potential Trade Ideas. After taking into account Political and Economic factors, and FX rates, the team then refines their market strategies by focusing on geographical and sector allocations.
				</p>
				<p>
					A number of considerations form a part of the Geographical and Sector allocations such as prevailing interest rates, liquidity events, location of the firm and the markets it operates in, global exchange rates and national economic growth rates.
				</p>
				<p>
					Our investment professionals will be glad to discuss some of our latest Trading ideas with you. Please get in touch to find out more.
				</p>
			</div>
			<div class="g-typography">
			<p>
				*<br>These are offered on an Execution Only basis (need some disclaimer around here)
			</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-3">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/glob-section-bg3.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Risk  <br>and Return
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography">
				<p>
					During the period between the Intention to Float announcement and the start of the Offer Period, the intention may be withdrawn. Any publication of an IPO or bond launch on our website is not an endorsement of the issue, nor is it solicitation for interest in the issue. Any decision to invest in an IPO should be made solely on the basis of the Prospectus, and supplementary information. The specific risks will be detailed in the Prospectus but the value of all investments can fall as well as rise, so you may get back less than you invested.
				</p>
			</div>
			<div class="g-typography">
				<p>
					Dividends are not guaranteed and, if paid, are variable. Companies subject to an IPO may not have a long track record and could be difficult to value or calculate a fair price for. IPOs and bond launches are therefore only likely to be a consideration for more diverse, larger portfolios. In many IPOs you will not know the purchase price before you commit to buy and therefore might end up buying at a higher price than you wished. If you have any doubts about the suitability of an IPO for your circumstances you should seek expert advice.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-4">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/glob-section-bg4.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Online<br>IPO service
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography g-typography--red-line">
				<p>
					For IPOs not available via our IPO service, but where we can still apply on behalf of clients, we will make them available on a 'telephone only' basis, extra costs may apply. If an IPO is not available to private investors, we will not be able to apply online or by telephone.
				</p>
			</div>
			<div class="g-typography">
				<p>
					For any IPOs not detailed in this section which you are interested in, please contact our dealing desk on +44 (0) 20 7562 8001 and we will investigate whether you are able to participate in the IPO.
				</p>
			</div>
		</div>
	</div>

	{# <div class="sticky-card sticky-card--ipo">
		<div class="sticky-card__text">
			Open, Transfer or Top up <br>your existing ISA
		</div>

		<div class="sticky-card__btn-group">
			<a href="#" class="g-btn">
				Log-in to the Client Portal &rarr;
			</a>
		</div>
	</div> #}
{% endblock %}


{% block footer %}
	<footer class="footer footer--short footer--disclaimer">
		<div class="footer-disclaimer">
			<div class="footer-disclaimer__left">
				<div class="g-section-title">
					Disclaimer
				</div>

				<div class="g-typography">
					<p>
						Trading financial markets on margin carries a high level of risk, and may not be suitable as losses can exceed deposits. You should be aware and fully understand all risks associated with financial markets and trading. Prior to trading any products offered by ITI Capital Limited, you should carefully consider your financial situation and your level of experience and understanding. ITI Capital Limited assumes no liability for errors, inaccuracies or omissions and does not warrant the accuracy, completeness of information, text, graphics, links or other items contained within these materials. You should read and understand the Terms and Conditions on the ITI Capital Limited website prior to taking further action.
					</p>

					<p>
						ITI Capital Limited is a registered company in England and Wales (Registration No. 02926252), authorised and regulated in the United Kingdom by the Financial Conduct Authority (Registration No. 171487) and is a member of the London Stock Exchange.
					</p>

					<p>
						The registered address of ITI Capital Limited is Level 33 Tower 42, 25 Old Broad Street, London EC2N 1HQ, United Kingdom.
					</p>
				</div>
			</div>
			<div class="footer-disclaimer__right">
				<div class="g-section-title">
					INSTITUTIONAL LEGAL NOTICES
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/Best-Execution-Policy.pdf" class="g-link">Best execution policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Conflicts-of-Interest.pdf" class="g-link">Conflicts of interest policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Privacy-policy_1.pdf" class="g-link">Privacy policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Risk-Warnings-and-Further-Disclosure-October-2018.pdf" class="g-link">Risk disclosure notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Professonal-Nov-2018.pdf" class="g-link">Terms and conditions professional</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Retail-Client-October-2018.pdf" class="g-link">Terms and conditions retail</a>
					</li>
				</ul>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Client categorisation notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Counterparty risk policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/rate-card/" class="g-link">Rate card</a>
					</li>

					<li>
						<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Complaints-Procedure.pdf" class="g-link">Complaints procedure</a>
					</li>
				</ul>
			</div>

			<div class="footer__copyright footer__copyright--left">
				© iticapital.com, 1994—2021
			</div>
		</div>
	</footer>
{% endblock %}