{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'private' %}
{% set callbackISA = true %}
{% set stickyContainer = true %}

{% block page %}
	{% include "./blocks/priviteClientsBanner.twig" with {'title': 'Stocks <br>& Shares ISA', 'bgPrefix': 'starsSky', 'titleModifier': 'private-clients-banner__title--white private-clients-banner__title--br-mob-none', 'wrapModifier': 'private-clients-banner__wrap--center-mobile'} %}
	<div class="container container--relative">

		<div class="private__login-top">
			<div class="sticky-card sticky-card--career">
				<div class="sticky-card__text">
					Open, Transfer or Top up <br>your existing ISA
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Log-in to the Client Portal &rarr;
					</a>
				</div>
			</div>
		</div>

		<div class="private__left private__left--isa">
			<h2 class="g-page-subtitle">
				Open an ISA and make use of your ISA allowance for the current and following tax year.
			</h2>

			<div class="g-typography g-typography--career" style="margin-bottom: 32px;">
				<p>
					Opening a stock and shares ISA account offers you a tax efficient way to save and grow your money. Because when you invest through your ISA account, any profits from those investment are free of UK Capital Gains tax. 
				</p>
				<p>
					You can invest up to £20,000 a year, you can select from a wide range of stocks, shares and exchange traded funds, and you can do that in one ISA or a set of different ISAs.
				</p>
			</div>

			<div class="g-title-devider g-title-devider--important">
				Important information
			</div>

			<div class="g-typography g-typography--career">
				<p>
					Available to existing ITI Capital Retail clients only. Investment value can go up or down and you could get back less than you invest. If you are in any doubt about the suitability of a stocks & shares ISA, you should seek independent financial advice. The tax treatment of this product depends on your individual circumstances and may change in future. If you are uncertain about the tax treatment of the product, you should contact HMRC or seek your own independent tax advice.
				</p>
			</div>
		</div>

		<div class="private__right private__right--isa">
			<div class="sticky-card sticky-card--career _stickyDesktop" data-margin-top="193">
				<div class="sticky-card__text">
					Open, Transfer or Top up <br>your existing ISA
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Log-in to the Client Portal &rarr;
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-0">
		<div class="private-section-header">
			<div class="private-section-header__bg private-section-header__bg--right">
				<img src="./img/glob-section-bg5.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					It’s quick and easy to open <br>your ISA account
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<h2 class="g-title-light">
				Please follow the below steps if you want to open an ISA, transfer an ISA or Top up your existing ISA account with ITI Capital
			</h2>
			<div class="g-typography g-typography--pl-xl-32">
				<h3 class="g-title-semi">
					<div>1.</div>
					Global Access
				</h3>
				<p>
					Simply log-in to the Client Portal with your existing details and create a new account, selecting ‘ISA’ as the account type and following the instructions to complete the set-up.
				</p>
				<p>
					Alternatively email our dedicated team at <a href="#" class="g-link">ISAs@iticapital.com</a> who will provide a new ISA onboarding pack and assist you with the process. Our expert ISA team can also provide more information on Smart portfolios if required.
				</p>
			</div>

			<div class="g-typography g-typography--pl-xl-32">
				<h3 class="g-title-semi">
					<div>2.</div>
					Transfer an ISA
				</h3>
				<p>
					To transfer your ISA to ITI Capital, simply email <a href="#" class="g-link">ISAs@iticapital.com</a> requesting a transfer pack and one of our dedicated team members will be in touch with you regarding the next steps.
				</p>
			</div>

			<div class="g-typography g-typography--pl-xl-32">
				<h3 class="g-title-semi">
					<div>3.</div>
					Top up your existing ISA account with ITI Capital
				</h3>
				<p>
					Are you an existing ITI Capital ISA account holder?
				</p>
				<p>
					Make the most of your ISA allowance and top up your account today to start investing.
				</p>
				<p>
					To do so, deposit funds into your existing ISA account and remember to add the ISA account number and your full name as reference.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-1">
		<div class="private-section-header">
			<div class="private-section-header__bg private-section-header__bg--right">
				<img src="./img/glob-section-bg6.jpg" alt="">
			</div>

			<div class="private-section-header__title private-section-header__title--br-sm-none">
				<h2>
					Why you should invest in a Stocks <br>and Shares ISA with ITI Capital
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography g-typography--pl-xl-32">
				<h3 class="g-title-semi">
					<div>1.</div>
					Free account setup
				</h3>
				<p>
					Setting up an ISA account with ITI Capital is free and you can start investing in all eligible securities with our competitive trading fees!
				</p>
			</div>

			<div class="g-typography g-typography--pl-xl-32">
				<h3 class="g-title-semi">
					<div>2.</div>
					Flexible ways to invest
				</h3>
				<p>
					You can invest via our easy to use trading platform or through our dealing desk (fees apply). 
				</p>
			</div>

			<div class="g-typography g-typography--pl-xl-32">
				<h3 class="g-title-semi">
					<div>3.</div>
					Smart Portfolios
				</h3>
				<p>
					You have the option to use our Smart Portfolio services for a balanced expert choice. Please email <a href="#" class="g-link">ISAs@iticapital.com</a> for more information on Smart Portfolios.
				</p>
			</div>

			<div class="g-typography g-typography--pl-xl-32">
				<h3 class="g-title-semi">
					<div>4.</div>
					Tailored investment advice
				</h3>
				<p>
					Our investment advisers will work with you to create bespoke portfolios that best suit your needs and your financial objectives. We take the time to fully understand what you want to achieve and create a solution that is right for you with a wealth of experience and market knowledge to help you get the most from your finances.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-2">
		<div class="private-section-header">
			<div class="private-section-header__bg private-section-header__bg--right">
				<img src="./img/glob-section-bg7.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					How much can you invest?
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography">
				<h2 class="g-title-light">
					You can shelter up to £20,000 in any tax year in an ITI Capital ISA
				</h2>
				<p>
					Got other ISAs?  No problem. Simply consolidate all of your ISAs into one place by transferring them easily into ITI Capital and still maintain each year’s tax-free gains, making it easy to invest in future years ISA allowances.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-3">
		<div class="private-section-header">
			<div class="private-section-header__bg private-section-header__bg--right">
				<img src="./img/glob-section-bg8.jpg" alt="">
			</div>

			<div class="private-section-header__title private-section-header__title--br-sm-none">
				<h2>
					Is Stocks and Shares ISA <br>suitable for you?
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography">
				<p>
					We have a wealth of experience and market knowledge to help you get the most from your finances. We use a tried and tested approach to ensure that we manage all our clients’ financial affairs efficiently, responsibly and ethically. 
				</p>
				<p>
					If you are unsure whether a Stocks and Shares ISA is suitable for you, please get in touch with our ISA team today at <a href="#" class="g-link">ISAs@iticapital.com</a> and a member of our team will be happy to assist you.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section private-section--end" id="inst-4">
		<div class="private-section-header__title private-section-header__title--top0">
			<h2>
				Fees
			</h2>
		</div>

		<div class="private-section-content private-section-content--nobg">
			<div class="g-typography g-typography--pb0">
				<p>
					Its free to set up an ISA account and you only pay trading or smart portfolio fees when you start to invest. Email <a href="#" class="g-link">ISAs@iticapital.com</a> for further details. 
				</p>
			</div>
		</div>
	</div>
{% endblock %}


{% block footer %}
	<footer class="footer footer--short footer--disclaimer">
		<div class="footer-disclaimer">
			<div class="footer-disclaimer__left">
				<div class="g-section-title">
					Disclaimer
				</div>

				<div class="g-typography">
					<p>
						All trading involves risk. This is especially true for trading with complex products, such as Derivatives and CFDs. It’s up to you to make sure you understand the instruments themselves, how they work and the risks you take. You could lose significantly more than you invest. Always consider your financial situation and level of experience before trading any ITI Capital Ltd product.
					</p>

					<p>
						We strive for 100% accuracy but just like everyone else we’re human, so ITI Capital Ltd assumes no liability for errors, inaccuracies or omissions, and can’t guarantee accuracy in any of our online or offline materials.
					</p>

					<p>
						This website contains only generalised information, it is not advice and is not directed specifically to you or your client’s goals, requirements or financial circumstances.
					</p>

					<p>
						Please read our <a href="#">Terms and Conditions</a> before you start trading.
					</p>

					<p>
						ITI Capital Ltd is a registered company in England and Wales (registration no. 02926252), authorised and regulated in the UK by the FCA (registration no. 1z71487), and is a member of the London Stock Exchange and of ICE Europe.
					</p>

					<p>
						Registered company in England and Wales Registration Number: 02926252 VAT No: 904 4506 46. FCA Registration No. 171487 ITI Capital Limited Level 33 Tower 42, 25 Old Broad Street, London EC2N 1HQ, UK
					</p>
				</div>
			</div>
			<div class="footer-disclaimer__right">
				<div class="footer-disclaimer__right-wrap">
					<div class="footer-disclaimer__right footer-disclaimer__right--mxw0">
						<div class="g-section-title">
							Terms & Conditions
						</div>
						<ul class="disclaimer-links__list">
							<li>
								<a href="#" class="g-link">Terms & Conditions for Private Clients</a>
							</li>

							<li>
								<a href="#" class="g-link">Terms & Conditions Professional</a>
							</li>

							<li>
								<a href="#" class="g-link">Key information Document (CFD)</a>
							</li>

							<li>
								<a href="#" class="g-link">Key Information Doucment (Call Options)</a>
							</li>

							<li>
								<a href="#" class="g-link">Key information Document (Put Options)</a>
							</li>
						</ul>

						<ul class="disclaimer-links__list">
							<li>
								<a href="https://iticapital.com/important-information/" class="g-link">Key Information Document (Futures)</a>
							</li>

							<li>
								<a href="https://iticapital.com/important-information/" class="g-link">Best Execution Policy</a>
							</li>

							<li>
								<a href="https://iticapital.com/rate-card/" class="g-link">Conflict of interest</a>
							</li>

							<li>
								<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
							</li>
						</ul>
					</div>

					<div class="footer-disclaimer__right--mt-sm-40">
						<div class="g-section-title">
							Other LEGAL NOTICES
						</div>

						<ul class="disclaimer-links__list">
							<li>
								<a href="#" class="g-link">Cookies</a>
							</li>

							<li>
								<a href="#" class="g-link">Rate Card</a>
							</li>

							<li>
								<a href="#" class="g-link">Privacy Poliсу</a>
							</li>

							<li>
								<a href="#" class="g-link">Modern Slavery Act</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__copyright footer__copyright--left">
				© iticapital.com, 1994—2020
			</div>
		</div>
	</footer>
{% endblock %}