{% extends "layouts/maintenance-layout.twig" %}
{% block page %}
	<div class="maintenance">
		<div class="maintenance-error">
			<h1 class="maintenance__title">Technical maintenance</h1>
			<div class="maintenance__text">We’ll be back soon</div>
			<p class="maintenance__abs">If you have any questions, please, contact us:</p>
			<a href="tel:4402038898333" class="maintenance__number">+44 (0) 20 3889 8333</a>
			<a href="mailto:info@iticapital.com" class="maintenance__mail">info@iticapital.com</a>
		</div>
	</div>
{% endblock %}