{# index.twig #}
{% extends "layouts/layout.twig" %}
{% set title = 'Купить ценные бумаги' %}
{% set black = true %}

{% block page %}
	<div class="main-banner" style="background-image: url('./img/black-bg.jpg')">
		<div class="container">
			<a href ="" class="main-banner__company">
				<img src="./img/banner-logo.svg" alt="" style="height: 112px;">
			</a>
		</div>
	</div>

	<div class="container">
		<div class="offer">
			<div class="offer__left">
				<ul class="faq faq--opened">
					<li class="faq__item">
						<div class="faq__question">
							<div class="faq__question-icon">
								<img src="./img/notebook.svg" alt="">
							</div>

							Зачем нужен счёт?
						</div>
						<div class="faq__answer">
							С брокерским счетом вы можете работать на финансовых рынках: инвестировать самостоятельно или приобретать готовые инвестиционные продукты.
						</div>
					</li>

					<li class="faq__item">
						<div class="faq__question">
							<div class="faq__question-icon faq__question-icon--auto">
								<img src="./img/clock.svg" alt="" style="width: 37px;">
							</div>

							<span style="position: relative; top: 5px;">
								Сколько времени займёт открытие?
							</span>
						</div>
						<div class="faq__answer" style="font-family: 'Inter-Inter-LightBETA','PT Sans', sans-serif;">
							Заполнить анкету можно за три минуты. Мы откроем ваш счёт в этот же день или на следующий рабочий день, если вы заполнили заявку в выходной или вечером.
						</div>
					</li>

					<li class="faq__item">
						<div class="faq__question">
							<div class="faq__question-icon">
								<img src="./img/message.svg" alt="">
							</div>

							Как я буду подписывать документы?
						</div>
						<div class="faq__answer">
							Не нужно никуда ехать или ждать курьера. Подать заявку и подписать документы можно с помощью простой SMS.
						</div>
					</li>

					<li class="faq__item">
						<div class="faq__question">
							<div class="faq__question-icon">
								<img src="./img/price.svg" alt="">
							</div>

							Сколько стоит открыть счёт?
						</div>
						<div class="faq__answer">
							Для того, чтобы торговать на фондовом, срочном или валютном рынках Московской биржи, необходимо иметь на брокерском счёте минимум 30 000 рублей.
						</div>
					</li>

					<li class="faq__item">
						<div class="faq__question">
							<div class="faq__question-icon">
								<img src="./img/money.svg" alt="">
							</div>

							С какой суммы я смогу начать?
						</div>
						<div class="faq__answer">
							Минимальная сумма, с которой вы можете начать инвестировать — 30 000 рублей, для готовых инвестиционных продуктов — 50 000 рублей. Пополнить счёт вы можете в любое время.
						</div>
					</li>
				</ul>
			</div>

			<div class="offer__right">
				{% include "./blocks/request-form.twig" %}

				<ul class="info-list">
					<li class="info-list__item">
						<div class="info-list__item-icon info-list__item-icon--absolute">
							<img src="./img/tls.svg" alt="">
						</div>
						Ваши данные защищены
						<br>
						128-битным шифрованием (TLS 1.2)
					</li>

					<li class="info-list__item">
						<a href="https://iticapital.ru/assets/files/non-res.pdf" target="_blank" class="info-list__item-link">
							Если у вас<br>нет гражданства РФ &rarr;
							<div class="info-list__item-icon">
								<img src="./img/ukraine.svg" alt="">
								<img src="./img/belarus.svg" alt="">
								<img src="./img/kazakhstan.svg" alt="">
							</div>
						</a>
					</li>

					<li class="info-list__item">
						<span class="info-list__item-link" onclick="o2.popups.showPopup('#popup-faq');">
						<span>
							Другие часто<br>задаваемые вопросы &rarr;
						</span>
						<div class="info-list__item-icon">
							<img src="./img/quest-small.svg" alt="">
						</div>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
		<div class="disclaimer disclaimer--default">
		<p>
			Представленная в&nbsp;настоящем документе информация подготовлена АО&nbsp;&laquo;ИК&nbsp;&laquo;Ай&nbsp;Ти&nbsp;Инвест&raquo; (далее&nbsp;&mdash; Компания, лицензия профессионального участника рынка ценных бумаг
			&#8470;&nbsp;045-07514-100000 от&nbsp;17.03.2004&nbsp;на осуществление брокерской деятельности предоставлена Центральным Банком Российской Федерации (Банком России)) и&nbsp;предназначена исключительно для&nbsp;ознакомления. Материалы, предоставленные Компанией, основаны на&nbsp;информации, полученной из&nbsp;открытых источников, которые рассматриваются Компанией как&nbsp;надежные. Компания не&nbsp;имеет возможности провести должную проверку такой информации и&nbsp;не&nbsp;несет ответственности за&nbsp;точность, полноту и&nbsp;достоверность материалов, предоставленных Компанией. При&nbsp;принятии инвестиционных решений инвестор должен провести собственный анализ финансового положения эмитента, процентных ставок, доходности и&nbsp;всех рисков, связанных с&nbsp;инвестированием в&nbsp;ценные бумаги и&nbsp;другие финансовые инструменты и&nbsp;при&nbsp;необходимости воспользоваться услугами финансовых, юридических и&nbsp;иных консультантов. Стоимость инвестиций может как&nbsp;снижаться, так&nbsp;и&nbsp;повышаться, и&nbsp;инвестор может потерять первоначально инвестированную сумму. Доходность в&nbsp;прошлом не&nbsp;гарантирует доходности
			в&nbsp;будущем. Материалы и&nbsp;сведения, предоставленные Компанией, носят исключительно информационный характер, предназначены для&nbsp;лиц, которые вправе получать такие материалы и&nbsp;сведения, и&nbsp;не&nbsp;должны рассматриваться как&nbsp;заверение об&nbsp;обстоятельствах, имеющих значение для&nbsp;заключения, исполнения или&nbsp;прекращения какой-либо сделки. Настоящий документ, включая любые его&nbsp;части и&nbsp;отдельные положения настоящего документа, не&nbsp;могут рассматриваться в&nbsp;качестве оферты (включая публичную оферту), приглашения делать оферты,
			коммерческого намерения Компании заключить сделку на&nbsp;условиях, изложенных в&nbsp;документе,
			а&nbsp;также гарантий Компании в&nbsp;отношении последствий заключения какой-либо сделки и/или&nbsp;использования какого-либо инструмента Представленная информация не&nbsp;является индивидуальной инвестиционной рекомендацией, не&nbsp;является формой выражения мнения Компании и/или&nbsp;ее&nbsp;сотрудников о&nbsp;том,&nbsp;отвечает&nbsp;ли&nbsp;конкретная ценная бумага или&nbsp;финансовый инструмент вашим финансовым и/или&nbsp;иным интересам. Определение соответствия финансового инструмента либо&nbsp;операции инвестиционным целям, инвестиционному горизонту и&nbsp;толерантности к&nbsp;риску является задачей инвестора. Компания не&nbsp;несет ответственности за&nbsp;возможные убытки инвестора в&nbsp;случае совершения операций, либо&nbsp;инвестирования в&nbsp;финансовые инструменты, упомянутые в&nbsp;данных материалах. Настоящий документ, включая любые его&nbsp;части и&nbsp;положения,
			а&nbsp;также любые комментарии Компании и&nbsp;ее&nbsp;работников в&nbsp;отношении данного документа не&nbsp;могут рассматриваться в&nbsp;качестве консультации, совета, разъяснений Компании в&nbsp;отношении рассматриваемого или&nbsp;любых других финансовых инструментов и&nbsp;сделок. Любое использование информации, представленной в&nbsp;данном документе, включая любые части/разделы документа, допускается только на&nbsp;собственный страх и&nbsp;риск пользователя. Любое копирование
			и&nbsp;воспроизведение информации, представленной в&nbsp;данном документе, как&nbsp;в&nbsp;устной,
			так&nbsp;и&nbsp;в&nbsp;письменной форме, допускается только при&nbsp;условии предварительного разрешения (согласия) Компании. Представленная информация и&nbsp;мнения подлежат изменению
			без&nbsp;уведомления получателей данной информации и&nbsp;мнений. Не&nbsp;является рекламой ценных бумаг
			и&nbsp;иных финансовых инструментов
		</p>
	</div>
{% endblock %}