{# index.twig #}
{% extends "layouts/layout.twig" %}
{% set title = 'У нас для вас выгодное предложение!' %}
{% set big = true %}

{% block page %}
	<div class="main-banner" style="background-image: url('./img/invest-idea-bg.jpg')">
		<div class="container">
			<a href="#" class="main-banner__company">
				<h2>МЕСЯЦ ПОДАРКОВ</h2>
			</a>
		</div>
	</div>

	<div class="container">
		<div class="offer">
			<div class="offer__left">
				<div class="offer__title">
					Давно хотели начать торговать на бирже?
				</div>

				<div class="steps steps--idea">
					<div class="steps__title">
						Только до конца лета:
					</div>

					<div class="steps__wrapper">
						<div class="steps__item">
							<div class="steps__item-icon">
								<img src="./img/one.svg" alt="">
							</div>
							<div class="steps__item-descr">
								Откройте счёт
							</div>
						</div>

						<div class="steps__arrow">
							<img src="./img/arrow-right.svg" alt="">
						</div>

						<div class="steps__item">
							<div class="steps__item-icon">
								<img src="./img/two.svg" alt="">
							</div>
							<div class="steps__item-descr">
								Пополните его на сумму <br> от 10 000 рублей
							</div>
						</div>

						<div class="steps__arrow">
							<img src="./img/arrow-right.svg" alt="">
						</div>

						<div class="steps__item">
							<div class="steps__item-decor">
								<img src="./img/check.svg" alt="">
							</div>
							<div class="steps__item-icon">
								<img src="./img/three.svg" alt="">
							</div>
							<div class="steps__item-descr">
								И получите месяц подарков <br> от ITI Capital:

								<ul class="steps__item-list">
									<li>
										торговля <span class="steps__item-link" onclick="o2.popups.showPopup('#popup-descriptor');"> без коммисии</span>
									</li>

									<li>
										подписка на сервис инвестиционных <br> идей от invest-idei.ru
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="steps">
					<div class="steps__title">
						Кроме того, вы сможете:
					</div>

					<div class="steps__wrapper">
						<div class="steps__item">
							<div class="steps__item-icon">
								<img src="./img/money.svg" alt="">
							</div>
							<div class="steps__item-descr">
								Получать дивидендный и купонный доход
							</div>
						</div>

						<div class="steps__item">
							<div class="steps__item-icon">
								<img src="./img/case.svg" alt="">
							</div>
							<div class="steps__item-descr">
								Приобретать структурные продукты со 100% защитой капитала
							</div>
						</div>

						<div class="steps__item">
							<div class="steps__item-icon">
								<img src="./img/exchange.svg" alt="">
							</div>
							<div class="steps__item-descr">
								Выгодно обменивать валюту
						по биржевому курсу
							</div>
						</div>

						<div class="steps__item">
							<div class="steps__item-icon">
								<img src="./img/bag.svg" alt="">
							</div>
							<div class="steps__item-descr">
								Покупать другие финансовые продукты
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="offer__right">
				{% include "./blocks/request-form.twig" %}

				<ul class="info-list">
					<li class="info-list__item">
						<div class="info-list__item-icon info-list__item-icon--absolute">
							<img src="./img/tls.svg" alt="">
						</div>
						Ваши данные защищены
						<br>
						128-битным шифрованием (TLS 1.2)
					</li>

					<li class="info-list__item">
						<a href="https://iticapital.ru/assets/files/non-res.pdf" target="_blank" class="info-list__item-link">
							Если у вас<br>нет гражданства РФ &rarr;
							<div class="info-list__item-icon">
								<img src="./img/ukraine.svg" alt="">
								<img src="./img/belarus.svg" alt="">
								<img src="./img/kazakhstan.svg" alt="">
							</div>
						</a>
					</li>

					<li class="info-list__item">
						<span class="info-list__item-link" onclick="o2.popups.showPopup('#popup-faq');">
						<span>
							Другие часто<br>задаваемые вопросы &rarr;
						</span>
						<div class="info-list__item-icon">
							<img src="./img/quest-small.svg" alt="">
						</div>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="disclaimer">
		<p>
			Представленная в&nbsp;настоящем документе информация подготовлена АО&nbsp;&laquo;ИК&nbsp;&laquo;Ай&nbsp;Ти&nbsp;Инвест&raquo; (далее&nbsp;&mdash; Компания, лицензия профессионального участника рынка ценных бумаг
			&#8470;&nbsp;045-07514-100000 от&nbsp;17.03.2004&nbsp;на осуществление брокерской деятельности предоставлена Центральным Банком Российской Федерации (Банком России)) и&nbsp;предназначена исключительно для&nbsp;ознакомления. Материалы, предоставленные Компанией, основаны на&nbsp;информации, полученной из&nbsp;открытых источников, которые рассматриваются Компанией как&nbsp;надежные. Компания не&nbsp;имеет возможности провести должную проверку такой информации и&nbsp;не&nbsp;несет ответственности за&nbsp;точность, полноту и&nbsp;достоверность материалов, предоставленных Компанией. При&nbsp;принятии инвестиционных решений инвестор должен провести собственный анализ финансового положения эмитента, процентных ставок, доходности и&nbsp;всех рисков, связанных с&nbsp;инвестированием в&nbsp;ценные бумаги и&nbsp;другие финансовые инструменты и&nbsp;при&nbsp;необходимости воспользоваться услугами финансовых, юридических и&nbsp;иных консультантов. Стоимость инвестиций может как&nbsp;снижаться, так&nbsp;и&nbsp;повышаться, и&nbsp;инвестор может потерять первоначально инвестированную сумму. Доходность в&nbsp;прошлом не&nbsp;гарантирует доходности
			в&nbsp;будущем. Материалы и&nbsp;сведения, предоставленные Компанией, носят исключительно информационный характер, предназначены для&nbsp;лиц, которые вправе получать такие материалы и&nbsp;сведения, и&nbsp;не&nbsp;должны рассматриваться как&nbsp;заверение об&nbsp;обстоятельствах, имеющих значение для&nbsp;заключения, исполнения или&nbsp;прекращения какой-либо сделки. Настоящий документ, включая любые его&nbsp;части и&nbsp;отдельные положения настоящего документа, не&nbsp;могут рассматриваться в&nbsp;качестве оферты (включая публичную оферту), приглашения делать оферты,
			коммерческого намерения Компании заключить сделку на&nbsp;условиях, изложенных в&nbsp;документе,
			а&nbsp;также гарантий Компании в&nbsp;отношении последствий заключения какой-либо сделки и/или&nbsp;использования какого-либо инструмента Представленная информация не&nbsp;является индивидуальной инвестиционной рекомендацией, не&nbsp;является формой выражения мнения Компании и/или&nbsp;ее&nbsp;сотрудников о&nbsp;том,&nbsp;отвечает&nbsp;ли&nbsp;конкретная ценная бумага или&nbsp;финансовый инструмент вашим финансовым и/или&nbsp;иным интересам. Определение соответствия финансового инструмента либо&nbsp;операции инвестиционным целям, инвестиционному горизонту и&nbsp;толерантности к&nbsp;риску является задачей инвестора. Компания не&nbsp;несет ответственности за&nbsp;возможные убытки инвестора в&nbsp;случае совершения операций, либо&nbsp;инвестирования в&nbsp;финансовые инструменты, упомянутые в&nbsp;данных материалах. Настоящий документ, включая любые его&nbsp;части и&nbsp;положения,
			а&nbsp;также любые комментарии Компании и&nbsp;ее&nbsp;работников в&nbsp;отношении данного документа не&nbsp;могут рассматриваться в&nbsp;качестве консультации, совета, разъяснений Компании в&nbsp;отношении рассматриваемого или&nbsp;любых других финансовых инструментов и&nbsp;сделок. Любое использование информации, представленной в&nbsp;данном документе, включая любые части/разделы документа, допускается только на&nbsp;собственный страх и&nbsp;риск пользователя. Любое копирование
			и&nbsp;воспроизведение информации, представленной в&nbsp;данном документе, как&nbsp;в&nbsp;устной,
			так&nbsp;и&nbsp;в&nbsp;письменной форме, допускается только при&nbsp;условии предварительного разрешения (согласия) Компании. Представленная информация и&nbsp;мнения подлежат изменению
			без&nbsp;уведомления получателей данной информации и&nbsp;мнений. Не&nbsp;является рекламой ценных бумаг
			и&nbsp;иных финансовых инструментов
		</p>
	</div>
{% endblock %}