<div class="header-wr">
	<header class="header">
		<div class="header-logo-wr">
			<a href="/" class="header-logo">
				<img src="../images/open-acc-img/logo-big.svg" alt="">
			</a>
		</div>
		<div class="header-label">Открытие счёта</div>
		<div class="header-work-info-wr">
			<a href="tel:88002005532" class="header-phone-link">
				<img src="../images/open-acc-img/phone-icon.svg" alt="">
				<div class="header__right-number">8 (800) 200-55-32</div>
			</a>
			<div class="header-working-hours">
				Пн–Пт с 9 до 21 · Сб–Вс с 10 до 17
			</div>
		</div>
	</header>
	@@include('./steps.html')
</div>