<div class="steps-wr">
	<div class="steps-list">
		<!-- steps-item.steps-item_current активный этап(который будет заполняться)-->
		<!-- steps-item.steps-item_compelted завершенный этап(уже заполнен)-->
		<div class="steps-item steps-item_complete">
			<div class="steps-item__descr">
				<div class="steps-item__number">1</div>
				<div class="steps-item__info">
					<div class="step-item__name">Оставьте заявку</div>
					<div class="step-item__descr">Телефон и e-mail</div>
				</div>
			</div>
			<div class="steps-item__next-arrow">
                <div class="light"></div>
                <div class="dark"></div>
            </div>
			<div class="steps-item__bottom-line"></div>
		</div>
		<div class="steps-item steps-item_current steps-item_middle">
			<div class="steps-item__descr">
				<div class="steps-item__number">2</div>
				<div class="steps-item__info">
					<div class="step-item__name">Введите свои данные</div>
					<div class="step-item__descr">Паспорт и ИНН</div>
				</div>
			</div>
			<div class="steps-item__next-arrow">
                <div class="light"></div>
                <div class="dark"></div>
            </div>
			<div class="steps-item__bottom-line"></div>
		</div>
		<div class="steps-item ">
			<div class="steps-item__descr">
				<div class="steps-item__number">3</div>
				<div class="steps-item__info">
					<div class="step-item__name">Подпишите договор</div>
					<div class="step-item__descr">При помощи SMS</div>
				</div>
			</div>
			<div class="steps-item__bottom-line"></div>
		</div>
	</div>
</div>