/*  Переменные со шрифтами  */
$regular: 'Inter-Regular','PT Sans', sans-serif;
$semi: 'Inter-Regular','PT Sans', sans-serif;
$accent-font: 'Inter-Bold','PT Sans', sans-serif;
$bold: 'Inter-Bold','PT Sans', sans-serif;
$heavy: 'Inter-Bold','PT Sans', sans-serif;
$medium: 'Inter-Bold','PT Sans', sans-serif;
$italic: 'Lato-Italic','PT Sans', sans-serif;
$air: 'Aeroport','PT Sans', sans-serif;


/*  Переменные с гарнитурами шрифтов  */
$pt-bold: 700;


/*  основные цвета  */
$accent-color: #333333;
$secondary-color: #6a7678;
$main: #f04f48;
$gray-text: #b3b3b3;
$black: #131313;

/* media */
$mobile: 767px;