<div class="analitics-detail lists-content visual-editor">
	<table style="max-width: 1000px; width: 100%;" class="dividend-calendar-table table-sort">
		<colgroup> <col> <col> <col> <col> <col> <col> <col> <col> <col> <col> <col> </colgroup>
		<thead>
			<tr>
				<th style="text-align: left; width: 31%;" data-order="1" class="sorted">Компания</th>
				<th style="width: 17%;">Сектор</th>
				<th style="text-align: right; width: 15%;">Дивиденд</th>
                <th style="text-align: right; width: 10%;">Период</th>
				<th style="text-align: right; width: 12%;" data-content='date'>Закрытие<br> реестра</th>
                <th style="text-align: right; width: 12%;">Доходность ближайшего дивиденда</th>
				<th style="text-align: right; width: 10%;">Прогноз годовой дивид. доходности в 2019</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>EVRAZ (LSE) <span> —&nbsp;EVR LN</span></td>
				<td>Металлургия/<br>горнодобывающий</td>
                <td style="text-align: right;">0,35$</td>
                <td style="text-align: right;">2К19</td>
                <td style="text-align: right;">16.08.2019</td>
				<td style="text-align: right;">5,4%</td>
				<td style="text-align: right;">11,8%</td>
			</tr>
			<tr>
				<td>Эталон (LSE) <span> —&nbsp;ETLN LI</span></td>
				<td>Недвижимость</td>
                <td style="text-align: right;">0,19 $</td>
                <td style="text-align: right;">2018</td>
				<td style="text-align: right;">30.08.2019</td>
				<td style="text-align: right;">9,3%</td>
				<td style="text-align: right;">н/д</td>
			</tr>
			<tr>
				<td>Северсталь <span> —&nbsp;CHMF RX</span></td>
				<td>Металлургия</td>
                <td style="text-align: right;">26,72 руб.</td>
                <td style="text-align: right;">2К19</td>
                <td style="text-align: right;">17.09.2019</td>
				<td style="text-align: right;">2,8%</td>
				<td style="text-align: right;">13,2%</td>
			</tr>
		    <tr>
				<td>Татнефть ао <span> —&nbsp;TATN RX</span></td>
				<td>Нефтегазовый</td>
                <td style="text-align: right;">40,11 руб.</td>
                <td style="text-align: right;">1П19</td>
                <td style="text-align: right;">27.09.2019</td>
				<td style="text-align: right;">5,7%</td>
				<td style="text-align: right;">10,0%</td>
			</tr>
		    <tr>
				<td>Татнефть ап <span> —&nbsp;TATNP RX</span></td>
				<td>Нефтегазовый</td>
                <td style="text-align: right;">40,11 руб.</td>
                <td style="text-align: right;">1П19</td>
                <td style="text-align: right;">27.09.2019</td>
				<td style="text-align: right;">6,2%</td>
				<td style="text-align: right;">11,1%</td>
			</tr>
			<tr>
				<td>НЛМК <span> —&nbsp;NLMK RX</span></td>
				<td>Материалы</td>
                <td style="text-align: right;">3,68 руб.</td>
                <td style="text-align: right;">2К19</td>
                <td style="text-align: right;">10.10.2019</td>
				<td style="text-align: right;">2,6%</td>
				<td style="text-align: right;">16,5%</td>
			</tr>
			<tr>
				<td>ММК <span> —&nbsp;MAGN RX</span></td>
				<td>Металлургия</td>
                <td style="text-align: right;">0,69 руб.</td>
                <td style="text-align: right;">2К19</td>
                <td style="text-align: right;">09.10.2019</td>
				<td style="text-align: right;">1,7%</td>
				<td style="text-align: right;">11,0%</td>
			</tr>
			<tr>
				<td>МТС <span> —&nbsp;MTSS RX</span></td>
				<td>Телеком</td>
                <td style="text-align: right;">8,68 руб.</td>
                <td style="text-align: right;">1П19</td>
				<td style="text-align: right;">14.10.2019</td>
				<td style="text-align: right;">3,4%</td>
				<td style="text-align: right;">12,4%</td>
			</tr>
			<tr>
				<td>Полюс <span> —&nbsp;PLZL RX</span></td>
				<td>Горнодобывающий</td>
                <td style="text-align: right;">160,02 руб.</td>
                <td style="text-align: right;">1П19</td>
                <td style="text-align: right;">19.10.2019</td>
				<td style="text-align: right;">2,2%</td>
				<td style="text-align: right;">н/д</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>Среднее значение</td>
				<td>&nbsp;</td>
                <td style="text-align: right;">&nbsp;</td>
                <td style="text-align: right;">&nbsp;</td>
                <td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right;">4,4%</td>
				<td style="text-align: right;">&nbsp;</td>
			</tr>
		</tfoot>
	</table>
</div>