<a href="#" class="brand-item">
	<div class="brand-item__inner">
		<div class="brand-item__logo">
			<img src="" data-src="images/@@imageName" class="no-zoom" alt="company-name">
		</div>
		<div class="brand-item__descr">
			<div class="brand-name"><span>@@name</span></div>
			<div href="#" class="brand-shares-buy">
				<div class="brand-shares-buy__price">
					194,69 RUB
				</div>
				<div class="line"></div>
				<div class="brand-shares-buy__buy">Купить акции</div>
			</div>
		</div>
	</div>
</a>