<div class="cash-currency">
	<div class="cash-currency__wrap">
		<div class="cash-currency__main">
			<h2 class="cash-currency__title">
				В какой валюте вы хотите <br>пополнить счёт?
			</h2>
			<ul class="cash-currency__main-list">
				<li class="cash-currency__main-list-item">
					<a href="#" class="cash-currency__main-list-item-link" data-valute="rub">
						<img src="images/svg/ruble.svg" alt="">
						<span class="cash-currency__main-list-item-name">
							В рублях
						</span>
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
					</a>
				</li>
				<li class="cash-currency__main-list-item">
					<a href="#" class="cash-currency__main-list-item-link" data-valute="dol">
						<img src="images/svg/dollar.svg" alt="">
						<span class="cash-currency__main-list-item-name">
							В долларах США
						</span>
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
					</a>
				</li>
				<li class="cash-currency__main-list-item">
					<a href="#" class="cash-currency__main-list-item-link" data-valute="evro">
						<img src="images/svg/euro.svg" alt="">
						<span class="cash-currency__main-list-item-name">
							В евро
						</span>
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
					</a>
				</li>
				<li class="cash-currency__main-list-item">
					<a href="#" class="cash-currency__main-list-item-link" data-valute="act">
						<img src="images/svg/paper.svg" alt="">
						<span class="cash-currency__main-list-item-name">
							Хочу перевести ценные бумаги
						</span>
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
					</a>
				</li>
			</ul>
			<a href="#" class="cash-currency__file">
				<svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 17L12 24V17H16ZM10 15H16V0H0V24H10V15Z" fill="#388AE9"/></svg>
				<span>
					<span class="cash-currency__file-link">Скачать все реквизиты файлом</span>
					<span>PDF · 1 Мб</span>
				</span>
			</a>
		</div>
		<div class="cash-currency__faq">
			<div class="cash-currency__faq-wrap">
				<button class="cash-currency__faq-item" onclick="o2.popups.showPopup('._sbp-popup', 'black')">
					<span>Пополнить счёт в рублях можно с помощью системы быстрых платежей &rarr;</span>
					<img src="images/svg/sbp-cash.svg" alt="">
				</button>
				<button class="cash-currency__faq-item" onclick="o2.popups.showPopup('._qiwi-popup', 'black')">
					<span>Пополнить счёт в рублях  через терминалы QIWI &rarr;</span>
					<img src="images/svg/qiwi-cash.svg" alt="">
				</button>
				<button class="cash-currency__faq-item" onclick="o2.popups.showPopup('._citizen-popup', 'black')">
					<span>Если у вас  <br>нет гражданства РФ &rarr;</span>
					<img src="images/svg/flags.svg" alt="">
				</button>
			</div>
			<button class="cash-currency__faq-link" onclick="o2.popups.showPopup('._faq-popup', 'black')">
				Частые вопросы о пополнении счёта &rarr;
			</button>
		</div>
	</div>
</div>