<div class="choose-bank__main">
	<div class="choose-bank__top">
		<a href="#" class="choose-bank__back">
			&larr; назад
		</a>
		<img src="images/svg/ruble.svg" alt="">
	</div>
	<h1 class="choose-bank__title">
		Через какой банк-партнёр ITI Capital вы хотите пополнить свой брокерский счёт?
	</h1>
	<div class="choose-bank__descr">
		<p>
			Если вы не являетесь клиентом ни одного из этих банков, можно выбрать любой.
		</p>
		<p>
			Брокер не взимает комиссию за пополнение. Возможны комиссии вашего банка —  уточняйте перед осуществлением перевода
		</p>
	</div>
	<ul class="choose-bank__list">
		<li class="choose-bank__list-item">
			<a href="#" class="choose-bank__list-item-link" data-bank="raf">
				<img src="images/raifaizen-logo.svg" alt="">
				<span class="choose-bank__list-item-name">
					Райффайзенбанк
				</span>
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
			</a>
		</li>
		<li class="choose-bank__list-item">
			<a href="#" class="choose-bank__list-item-link" data-bank="sber">
				<img src="images/sberbank-logo.svg" alt="">
				<span class="choose-bank__list-item-name">
					СберБанк
				</span>
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
			</a>
		</li>
		<li class="choose-bank__list-item">
			<a href="#" class="choose-bank__list-item-link" data-bank="alfa">
				<img src="images/alfa-logo.svg" alt="">
				<span class="choose-bank__list-item-name">
					Альфа-Банк
				</span>
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
			</a>
		</li>
		<li class="choose-bank__list-item">
			<a href="#" class="choose-bank__list-item-link" data-bank="nrd">
				<img src="images/nrd-logo.svg" alt="">
				<span class="choose-bank__list-item-name">
					НРД
				</span>
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 13L24 20L17 27" stroke="#333333"/></svg>
			</a>
		</li>
	</ul>
</div>