<div class="cookies-mesage">
	<div class="cookies-mesage__flex">
		<div class="cookies-mesage__text">АО&nbsp;&laquo;ИК&nbsp;&laquo;Ай&nbsp;Ти&nbsp;Инвест&raquo; использует файлы cookie с&nbsp;целью обеспечения функционирования и&nbsp;персонализации сервисов, а&nbsp;также повышения удобства пользования сайтом. Продолжая пользоваться сайтом, вы&nbsp;соглашаетесь на&nbsp;обработку файлов cookie и&nbsp;пользовательских данных</div>
		<button class="cookies-mesage__btn" onclick="cookies.saveCookies(this)">Хорошо</button>
	</div>
</div>