<div class="sevices-content">
	<section class="dictionary">
		<div class="dictionary-wrapper">
			<div class="dictionary-wrapper__item">
				<div class="dictionary-wrapper__item-title">
					Популярные термины
				</div>
				<div class="dictionary-wrapper__item-words">
					<a href="#" class="dictionary-wrapper__item-word">Авантаж</a>
					<a href="#" class="dictionary-wrapper__item-word">Акционерный сертификат</a>
					<a href="#" class="dictionary-wrapper__item-word">Биржевое законодательство</a>
					<a href="#" class="dictionary-wrapper__item-word">Биржевые жесты</a>
					<a href="#" class="dictionary-wrapper__item-word">Валютный рынок</a>
					<a href="#" class="dictionary-wrapper__item-word">Документарная форма эмиссионных ценных бумаг</a>
					<a href="#" class="dictionary-wrapper__item-word">Инвестиция</a>
					<a href="#" class="dictionary-wrapper__item-word">Казначейские облигации</a>
					<a href="#" class="dictionary-wrapper__item-word">Континентальная тратта</a>
					<a href="#" class="dictionary-wrapper__item-word">Мета</a>
					<a href="#" class="dictionary-wrapper__item-word">Открытая позиция</a>
					<a href="#" class="dictionary-wrapper__item-word">Пагамент</a>
				</div>
			</div>
			<div class="dictionary-wrapper__item">
				<div class="dictionary-wrapper__item-title">
					А
				</div>
				<div class="dictionary-wrapper__item-words">
					<a href="#" class="dictionary-wrapper__item-word">Авантаж</a>
					<a href="#" class="dictionary-wrapper__item-word">Акционерный сертификат</a>
					<a href="#" class="dictionary-wrapper__item-word">Биржевое законодательство</a>
					<a href="#" class="dictionary-wrapper__item-word">Биржевые жесты</a>
					<a href="#" class="dictionary-wrapper__item-word">Валютный рынок</a>
					<a href="#" class="dictionary-wrapper__item-word">Документарная форма эмиссионных ценных бумаг</a>
					<a href="#" class="dictionary-wrapper__item-word">Инвестиция</a>
					<a href="#" class="dictionary-wrapper__item-word">Казначейские облигации</a>
					<a href="#" class="dictionary-wrapper__item-word">Континентальная тратта</a>
					<a href="#" class="dictionary-wrapper__item-word">Мета</a>
					<a href="#" class="dictionary-wrapper__item-word">Открытая позиция</a>
					<a href="#" class="dictionary-wrapper__item-word">Пагамент</a>
				</div>
			</div>
			<div class="dictionary-wrapper__item">
				<div class="dictionary-wrapper__item-title">
					Б
				</div>
				<div class="dictionary-wrapper__item-words">
					<a href="#" class="dictionary-wrapper__item-word">Авантаж</a>
					<a href="#" class="dictionary-wrapper__item-word">Акционерный сертификат</a>
					<a href="#" class="dictionary-wrapper__item-word">Биржевое законодательство</a>
					<a href="#" class="dictionary-wrapper__item-word">Биржевые жесты</a>
					<a href="#" class="dictionary-wrapper__item-word">Валютный рынок</a>
					<a href="#" class="dictionary-wrapper__item-word">Документарная форма эмиссионных ценных бумаг</a>
					<a href="#" class="dictionary-wrapper__item-word">Инвестиция</a>
					<a href="#" class="dictionary-wrapper__item-word">Казначейские облигации</a>
					<a href="#" class="dictionary-wrapper__item-word">Континентальная тратта</a>
					<a href="#" class="dictionary-wrapper__item-word">Мета</a>
					<a href="#" class="dictionary-wrapper__item-word">Открытая позиция</a>
					<a href="#" class="dictionary-wrapper__item-word">Пагамент</a>
				</div>
			</div>
		</div>
		<div class="dictionary-wrapper__search">
			<div class="dictionary-wrapper__search-input">
				<div class="dictionary-searc__mobile">
					<div class="svg-search svg-search-dims dictionaty-search-icon"></div>
					<input list="dictionary" placeholder="Поиск по словарю" class="flexdatalist" id="dictionatySearch" type="text">
					<datalist id="dictionary">
					    <option value="Авантаж">Авантаж</option>
					    <option value="Акционерный сертификат">Акционерный сертификат</option>
					    <option value="Биржевое законодательство">Биржевое законодательство</option>
					    <option value="Биржевые жесты">Биржевые жесты</option>
					    <option value="Валютный рынок">Валютный рынок</option>
					    <option value="Документарная форма эмиссионных ценных бумаг">Документарная форма эмиссионных ценных бумаг</option>
					    <option value="Инвестиция">Инвестиция</option>
					    <option value="Казначейские облигации">Казначейские облигации</option>
					    <option value="Континентальная тратта">Континентальная тратта</option>
					    <option value="Мета">Мета</option>
					</datalist>
				</div>
			</div>
			<div class="dictionary-wrapper__characters">
				<a href="#А" class="dictionary-wrapper__character">А</a>
				<a href="#А" class="dictionary-wrapper__character">б</a>
				<a href="#А" class="dictionary-wrapper__character">в</a>
				<a href="#А" class="dictionary-wrapper__character">г</a>
				<a href="#А" class="dictionary-wrapper__character">д</a>
				<a href="#А" class="dictionary-wrapper__character">е</a>
				<a href="#А" class="dictionary-wrapper__character">ж</a>
				<a href="#А" class="dictionary-wrapper__character">з</a>
				<a href="#А" class="dictionary-wrapper__character">и</a>
				<a href="#А" class="dictionary-wrapper__character">к</a>
				<a href="#А" class="dictionary-wrapper__character">л</a>
				<a href="#А" class="dictionary-wrapper__character">м</a>
				<a href="#А" class="dictionary-wrapper__character">н</a>
				<a href="#А" class="dictionary-wrapper__character">о</a>
				<a href="#А" class="dictionary-wrapper__character">п</a>
				<a href="#А" class="dictionary-wrapper__character">р</a>
				<a href="#А" class="dictionary-wrapper__character">с</a>
				<a href="#А" class="dictionary-wrapper__character">т</a>
				<a href="#А" class="dictionary-wrapper__character">у</a>
				<a href="#А" class="dictionary-wrapper__character">ф</a>
				<a href="#А" class="dictionary-wrapper__character">х</a>
				<a href="#А" class="dictionary-wrapper__character">ц</a>
				<a href="#А" class="dictionary-wrapper__character">ч</a>
				<a href="#А" class="dictionary-wrapper__character">ш</a>
				<a href="#А" class="dictionary-wrapper__character">щ</a>
				<a href="#А" class="dictionary-wrapper__character">э</a>
				<a href="#А" class="dictionary-wrapper__character">ю</a>
				<a href="#А" class="dictionary-wrapper__character">я</a>
			</div>
		</div>
	</section>
</div>