<footer class="footer-small">
	<div class="container">
		<div class="footer-small__text">
			<p>АО «ИК «Ай Ти Инвест»</p>
			<p>ИНН 7717116241 КПП 770301001 ОКПО 54776777 Лицензии профессионального участника рынка ценных бумаг</p>
			<p>№045-07516-010000, №045-07514-100000, №045-08543-000100<br><br></p>
			<p>© 2000—2021 ITI Capital онлайн-брокер</p>
		</div>
	</div>
</footer>
<div class="overlay" onclick="o2.popups.closePopup();">
	@@include('./mobile-menu.html')
	@@include('./sbp-popup.html')
	@@include('./qiwi-popup.html')
	@@include('./citizen-popup.html')
	@@include('./faq-popup.html')
</div>