<div class="index-tabs">
	<div class="index-container">
		<div class="index-tabs__mobile-select" onclick="o2.index.indexTabs.tabsSelectDropdown(this)">
			<span>Начинающим инвесторам</span>
		</div>
		<ul class="index-tabs__nav">
			<li class="index-tabs__nav-item active" data-tab-id="0" onclick="o2.index.indexTabs.openTab(this, event);">Начинающим <br>инвесторам</li>
			<li class="index-tabs__nav-item" data-tab-id="1" onclick="o2.index.indexTabs.openTab(this, event);">Опытным <br>инвеcторам</li>
			<li class="index-tabs__nav-item" data-tab-id="2" onclick="o2.index.indexTabs.openTab(this, event);">Корпоративным <br>клиентам</li>
			<li class="index-tabs__nav-item" data-tab-id="3" onclick="o2.index.indexTabs.openTab(this, event);">HFT <br>и алготрейдерам</li>
		</ul>
	</div>
	<div class="index-tabs__content">
		<div class="index-container">
			<div data-tab-id="0" class="index-tabs__tab" style="display: flex;">
				<div class="index-tabs__tab-wrapper">
					<div class="index-tabs__tab-left">
						<a href="[~64~]" class="index-tabs__tab-block first">
							<div class="index-tabs__tab-block-percent">Инвестиционное консультирование</div>
							<div class="index-tabs__tab-block-descr">объединяет все плюсы <br>банковских вкладов и <br>самостоятельной торговли</div>
						</a>
						<a href="[~58~]" class="index-tabs__tab-block second">
							<span>Все <br>продукты</span>
						</a>
					</div>
					<div class="index-tabs__tab-right">
						<a href="[~66~]" class="index-tabs__tab-block forth">
							<div class="index-tabs__tab-block-percent">ИИС</div>
							<div class="index-tabs__tab-block-descr">Удобная государственная <br>программа для начинающих <br>инвесторов</div>
						</a>
						<a href="[~328~]" class="index-tabs__tab-block forth">
							<div class="index-tabs__tab-block-percent">Модельные <br>портфели</div>
							<div class="index-tabs__tab-block-descr">в которых отобраны бумаги с хорошей <br>перспективой роста</div>
						</a>
						<a href="[~62~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">100%</div>
							<div class="index-tabs__tab-block-descr">Защита капитала и доходность выше <br>банковской у наших структурных <br>продуктов </div>
						</a>
						<a href="[~222~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">Робоэдвайзер</div>
							<div class="index-tabs__tab-block-descr">Рекомендации по инвестированию <br>в соответствии с вашими ожиданиями <br>по риску и доходности.</div>
						</a>
					</div>
				</div>
			</div>
			<div data-tab-id="1" class="index-tabs__tab">
				<div class="index-tabs__tab-wrapper">
					<div class="index-tabs__tab-left">
						<a href="[~204~]" class="index-tabs__tab-block first">
							<div class="index-tabs__tab-block-percent">Без комиссии</div>
							<div class="index-tabs__tab-block-descr">первый месяц торговли <br>для новых клиентов или тех, <br>у кого уже открыт брокерский <br>счет, но не было операций <br>за последний год</div>
						</a>
						<a href="[~58~]" class="index-tabs__tab-block second">
							<span>Все <br>продукты</span>
						</a>
					</div>
					<div class="index-tabs__tab-right">
						<a href="[~299~]" class="index-tabs__tab-block forth">
							<div class="index-tabs__tab-block-percent">Низкие тарифы</div>
							<div class="index-tabs__tab-block-descr">от 0,017% от суммы сделки на фондовом <br>рынке и от 20% от комиссии биржи на <br>срочном рынке</div>
						</a>
						<a href="[~354~]" class="index-tabs__tab-block forth">
							<div class="index-tabs__tab-block-percent">Тестовый доступ</div>
							<div class="index-tabs__tab-block-descr">отличная возможность для новичков <br>попробовать свои силы, не открывая <br>реального счета</div>
						</a>
						<a href="[~332~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">Торговые идеи</div>
							<div class="index-tabs__tab-block-descr">наших аналитиков помогут вам <br>сориентироваться на рынке</div>
						</a>
						<a href="[~355~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">ЕДП</div>
							<div class="index-tabs__tab-block-descr">Единая денежная позиция — современный <br>сервис с большими <br>возможностями маржинальной торговли</div>
						</a>
					</div>
				</div>
			</div>
			<div data-tab-id="2" class="index-tabs__tab">
				<div class="index-tabs__tab-wrapper">
					<div class="index-tabs__tab-left">
						<a href="[~70~]" class="index-tabs__tab-block first">
							<div class="index-tabs__tab-block-percent">Альтернатива банковским вкладам</div>
							<div class="index-tabs__tab-block-descr">Разместите свободные активы, <br>используя надежные финансовые <br>механизмы и решения</div>
						</a>
						<a href="[~58~]" class="index-tabs__tab-block second">
							<span>Все <br>продукты</span>
						</a>
					</div>
					<div class="index-tabs__tab-right">
						<a href="[~69~]" class="index-tabs__tab-block third">
							<div class="index-tabs__tab-block-percent">Хеджирование</div>
							<div class="index-tabs__tab-block-descr">Зафиксируйте курс базового актива (в том числе и валюты) и обезопасьте <br>себя от убытков в случае неблагоприятного изменения цены и повышенной <br>волатильности на рынке.</div>
						</a>
						<a href="[~171~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">Повышение ликвидности</div>
							<div class="index-tabs__tab-block-descr">финансовых инструментов на всех <br>секциях Московской биржи</div>
						</a>
						<a href="[~361~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">IPO/SPO</div>
							<div class="index-tabs__tab-block-descr">необходимые этапы развития <br>компании, которые выводят бизнес <br>на более высокий уровень развития</div>
						</a>
					</div>
				</div>
			</div>
			<div data-tab-id="3" class="index-tabs__tab">
				<div class="index-tabs__tab-wrapper">
					<div class="index-tabs__tab-left">
						<a href="[~340~]" class="index-tabs__tab-block first">
							<div class="index-tabs__tab-block-percent">SMARTgate</div>
							<div class="index-tabs__tab-block-descr">лимитирующий proxy-сервер, который <br>устанавливается между торговым <br>роботом прямого подключения <br>и биржевым шлюзом</div>
						</a>
						<a href="[~58~]" class="index-tabs__tab-block second">
							<span>Все <br>продукты</span>
						</a>
					</div>
					<div class="index-tabs__tab-right">
						<a href="[~82~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">API и ПО</div>
							<div class="index-tabs__tab-block-descr">для тех, кто предпочитает <br>торговать через роботов <br>и подключать их напрямую к бирже</div>
						</a>
						<a href="[~81~]" class="index-tabs__tab-block fifth">
							<div class="index-tabs__tab-block-percent">700 микросекунд</div>
							<div class="index-tabs__tab-block-descr">время обработки заявки при <br>прямом подключении на срочном <br>рынке FORTS.</div>
						</a>
						<a href="[~83~]" class="index-tabs__tab-block third">
							<div class="index-tabs__tab-block-percent">Колокация и аренда <br>оборудования</div>
							<div class="index-tabs__tab-block-descr">Предлагаем надежное оборудование и безупречное соединение, <br>которые необходимы для прямого подключения к бирже.</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>