<div class="index-container">
	<div class="marketplaces-wrapper">
		<h2 class="marketplaces__title">Прямой доступ на мировые <br>торговые площадки.</h2>
		<div class="marketplaces__items">
			<div class="marketplaces-item">
				<div class="marketplaces-item__image">
					<img src="images/moscow-exchg.svg" alt="">
				</div>
				<div class="marketplaces-item__title">Moscow Exchange</div>
				<div class="marketplaces-item__descr">
					Фондовый рынок; <br>Срочный рынок; <br>Валютный рынок; <br>ОТС сделки.
				</div>
			</div>
			<div class="marketplaces-item">
				<div class="marketplaces-item__image" style="width: 57px; height: 50px;">
					<img src="images/spb-exchg.svg" alt=""style="margin-top: -7px;">
				</div>
				<div class="marketplaces-item__title">SPB Exchange</div>
				<div class="marketplaces-item__descr">
					Рынок иностранных ценных бумаг
				</div>
			</div>
			<div class="marketplaces-item">
				<div class="marketplaces-item__image">
					<img src="images/global-exchg.svg" alt="">
				</div>
				<div class="marketplaces-item__title">Global FX</div>
				<div class="marketplaces-item__descr">
					Все ведущие торговые платформы (HotSpot, CNX,  FastMatch)
				</div>
			</div>
			<div class="marketplaces-item">
				<div class="marketplaces-item__image">
					<img src="images/europe-exchg.svg" alt="">
				</div>
				<div class="marketplaces-item__title">Europe</div>
				<div class="marketplaces-item__descr">
					LSE (секция IOB—International Order Book); <br>Deutsche Bourse (XETRA); Eurex.
				</div>
			</div>
			<div class="marketplaces-item">
				<div class="marketplaces-item__image">
					<img src="images/usa-exchg.svg" alt="">
				</div>
				<div class="marketplaces-item__title">North America</div>
				<div class="marketplaces-item__descr">
					NYSE, NASDAQ, AMEX; <br>ICE (US & Europe); <br>CME, NYMEX, COMEX
				</div>
			</div>
			<div class="marketplaces-item">
				<div class="marketplaces-item__image">
					<img src="images/asia-exchg.svg" alt="">
				</div>
				<div class="marketplaces-item__title">Asia</div>
				<div class="marketplaces-item__descr">
					Hong Kong (SEHK)–фондовый рынок
				</div>
			</div>
		</div>
	</div>
</div>