<div class="litebox-wrapper">
	<div class="litebox-video-wrapper">
		<div class="litebox-video-wrapper-btn-wrapper" onclick="o2.popups.showLiteBoxPopup('.litebox-popup', 'http://www.youtube.com/embed/4z9TdDCWN7g?modestbranding=1&autohide=1&showinfo=0&controls=0&controls=1&rel=0;autoplay=1');">
			<img src="https://img.youtube.com/vi/4z9TdDCWN7g/maxresdefault.jpg" alt="" class="yt-preview">
			<div class="litebox-video-wrapper-btn">
				@@include('./svg/videoPlay.html')
			</div>
		</div>
	</div>
	<h2>Еженедельный обзор Дмитрия Солодина</h2>
	<div class="litebox-video-wrapper__descr">Текст описания программы.</div>
</div>