<div class="sevices-content">
	<div class="managment-text">
		<div class="managment-item">
			<div class="managment-item__img yakovlev-object-pos">
				<img class="lazy-load" data-src="images/director.jpg" alt="">
				<div class="managment-item__img-text">
					<div class="managment-item__img-text__top">Управляющий директор</div>
					<div class="managment-item__img-text__bot">Глеб Яковлев</div>
				</div>
			</div>
			<div class="managment-item__descr">
				<div class="managment-item__img-text managment-item__img-text__mobile">
					<div class="managment-item__img-text__top">Управляющий директор</div>
					<div class="managment-item__img-text__bot">Глеб Яковлев</div>
				</div>
				<p>В ITI Сapital с 2014<br> года В компании курирует торговый деск, операции по финансированию, инвестиционно-банковские услуги, разработку структурированных продуктов. Имеет 20-летний опыт работы на финансовом рынке.</p>
				<p>В ITI Сapital перешел из Ренессанс Капитала, где с 2009 года курировал разработку структурированных и инвестиционных продуктов. С 2010 по 2012 года был Генеральным директором ООО УК «Ренессанс Капитал». В 2008 году был управляющим директором в Да Винчи Капитал и отвечал за развитие фондов акций.</p>
			</div>
		</div>
		<div class="managment-item">
			<div class="managment-item__img yakovlev-object-pos">
				<img class="lazy-load" data-src="../images/index-header.jpg" alt="">
				<div class="managment-item__img-text">
					<div class="managment-item__img-text__top">Управляющий директор</div>
					<div class="managment-item__img-text__bot">Глеб Яковлев</div>
				</div>
			</div>
			<div class="managment-item__descr">
				<div class="managment-item__img-text managment-item__img-text__mobile">
					<div class="managment-item__img-text__top">Управляющий директор</div>
					<div class="managment-item__img-text__bot">Глеб Яковлев</div>
				</div>
				<p>В ITI Сapital с 2014<br> года В компании курирует торговый деск, операции по финансированию, инвестиционно-банковские услуги, разработку структурированных продуктов. Имеет 20-летний опыт работы на финансовом рынке.</p>
				<p>В ITI Сapital перешел из Ренессанс Капитала, где с 2009 года курировал разработку структурированных и инвестиционных продуктов. С 2010 по 2012 года был Генеральным директором ООО УК «Ренессанс Капитал». В 2008 году был управляющим директором в Да Винчи Капитал и отвечал за развитие фондов акций.</p>
			</div>
		</div>
		<div class="managment-item">
			<div class="managment-item__descr  managment-item__no-img">
				<div class="managment-item__img-text managment-item__img-text_black managment-item__img-text__mobile">
					<div class="managment-item__img-text__top">Управляющий директор</div>
					<div class="managment-item__img-text__bot">Глеб Яковлев</div>
				</div>
				<p>В ITI Сapital с 2014<br> года В компании курирует торговый деск, операции по финансированию, инвестиционно-банковские услуги, разработку структурированных продуктов. Имеет 20-летний опыт работы на финансовом рынке.</p>
				<p>В ITI Сapital перешел из Ренессанс Капитала, где с 2009 года курировал разработку структурированных и инвестиционных продуктов. С 2010 по 2012 года был Генеральным директором ООО УК «Ренессанс Капитал». В 2008 году был управляющим директором в Да Винчи Капитал и отвечал за развитие фондов акций.</p>
			</div>
		</div>
	</div>
</div>