<div class="services-accordeon">
	<div class="services-accordeon__item stocks__mobile-accordeon__item__display__none">
		<div class="services-accordeon__title noArrow">
			<a class="services-accordeon__item-text" href="#">Все акции</a>
		</div>
	</div>
	<div class="services-accordeon__item">
		<div class="services-accordeon__title stocks-accondeon__title__color" onclick="o2.servicesAccordeon(this)">
			<span class="services-accordeon__item-text ">Российские акции</span>
			<div class="chevron"></div>
		</div>
		<ul class="services-accordeon__content stocks-accordeon__item__no-pading-left__no-before">
			<li><a href="#">Лукойл</a></li>
			<li><a href="#">Apple</a></li>
			<li><a href="#">Apple</a></li>
			<li><a href="#">Лукойл</a></li>
			<li><a href="#">Лукойл</a></li>
			<li><a href="#">Лукойл</a></li>
			<li><a href="#">Лукойл</a></li>
			<li><a href="#">Лукойл</a></li>
			<li><a href="#">Лукойл</a></li>
			<li><a href="#">Лукойл</a></li>
		</ul>
	</div>
	<div class="services-accordeon__item">
		<div class="services-accordeon__title stocks-accondeon__title__color" onclick="o2.servicesAccordeon(this)">
			<span class="services-accordeon__item-text">Зарубежные акции</span>
			<div class="chevron"></div>
		</div>
		<ul class="services-accordeon__content stocks-accordeon__item__no-pading-left__no-before">
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
			<li><a href="#">Microsoft</a></li>
		</ul>
	</div>
</div>