<div class="proposal proposal--download popup _proposalDownload" onclick="event.stopPropagation(); event.preventDefault();">
	<div class="proposal-content">
		<img class="proposal__svg" src="images/proposal-icon.svg" alt="">
		<h2 class="proposal__title">Управляйте своим счётом в мобильном приложении</h2>
		<a href="https://iticapital.ru/app/" class="proposal__button">Скачать приложение &rarr;</a>
		<a class="proposal__link" href="#">Продолжить в личном кабинете</a>
		<img class="proposal__img" src="images/proposal-download.jpg" alt="">
	</div>
</div>