<div class="services-text">
	<h2>Компания ITI Capital предоставляет полный спектр брокерских услуг на российских и международных финансовых рынках.</h2>
	<br>
	<p>Мы подберем оптимальный вариант инвестирования, либо обеспечим максимально комфортные условия для самостоятельной торговли.</p>
	<br>
	<hr>
	<br>
	<p>Благодаря передовому программному обеспечению на рынке и оптимальным тарифным планам наша <a href="#">компания предоставляет</a> доступ на фондовые, срочные и валютные рынки опытным трейдерам и клиентам, заинтересованным в ОТС-торговле.</p>
	<br>
	<h3>Для начинающих инвесторов</h3>
	<p>Команда ITI Capital разработала ряд услуг по поддержке в процессе самостоятельной торговли:</p>
	<br>
	<br>
	<br>
	<a href="#">Регулярные обучающие вебинары и семинары →</a>
	<br>
	<hr>
	<a href="#">Ежедневные аналитические обзоры →</a>
	<br>
	<hr>
	<a href="#">Полное консультационное сопровождение →</a>
	<br>
	<hr>
	<br>
	<h3>Для желающих получать доход выше, чем в банке</h3>
	<p>Команда ITI Capital разработала ряд услуг по поддержке в процессе самостоятельной торговли:</p>
	<br>
	<p>Благодаря передовому программному обеспечению на рынке и оптимальным тарифным планам наша компания предоставляет доступ на фондовые, срочные и валютные рынки опытным трейдерам и клиентам, заинтересованным в ОТС-торговле.</p>
</div>
<div class="services__right-block services__right-block__sticky clerafix">
	<div class="services__right-menu">
		<a href="#" class="services__right-menu-item">
			<div class="services__right-menu-item__img svg-cabinet svg-cabinet-dims"></div>
			<div class="services__right-menu-item__descr">
				Документы<br>для открытия счета
			</div>
		</a>
		<a href="#" class="services__right-menu-item">
			<div class="services__right-menu-item__img svg-calculator svg-calculator-dims"></div>
			<div class="services__right-menu-item__descr">
				Калькулятор<br>выбора продукта
			</div>
		</a>
	</div>
	<div class="services__right-consult">
		<div class="services__right-consult-title">Есть вопросы?</div>
		<div class="services__right-consult-img">
			<img src="images/face.png" alt="">
		</div>
		<div class="services__right-consult-descr">
			Анастасия поможет вам открыть первый счет
		</div>
		<div class="services__right-consult-phone">
			<div class="svg-phone svg-phone-dims svg-phone__icon"></div><a href="tel:+78002003235"><span>8 800 200 32 35</span></a>
		</div>
	</div>
</div>