<div class="gray"></div>
<div class="sevices-top">
	<div class="sevices-top__title">
		Услуги частным клиентам и философский парень
	</div>
</div>
<div class="container no-container__1024">
	<div class="row no-row__1024"">
		<div class="col-lg-3 col-md-3">
			@@include('./accordeon.html')
		</div>
		<div class="col-lg-9 col-md-9 sevices-bot__no-padding">
			<div class="sevices-bot">
				@@include('./breadcrumbs.html')
				<div class="sevices-content__main-img">
					<img src="images/background.jpg" alt="">
				</div>
				@@include('./mobile-accordeon.html')
				<div class="sevices-content clearfix">
					@@include('./services-content.html')
				</div>
			</div>
		</div>
	</div>
</div>