<div class="services-page__items">
	<div class="services-page__item">
		<div class="services-page__item-wrapper">
			<a href="#" class="services-page__item-img">
				@@include('./svg/traiding.html')
			</a>
			<a href="#" class="services-page__item-title">Частным инвесторам</a>
			<div class="services-page__item-text">
				<span>Предлагаем большой выбор готовых инвестиционных решений как с фиксированной, так и с динамической доходностью.</span>
			</div>
			<div class="services-page__item-links">
				<div><a href="#">Персональный</a></div>
				<div><a href="#">Модельные портфели</a></div>
				<div><a href="#">Структурные продукты Структурные продукты</a></div>
			</div>
			<div class="border-block"></div>
		</div>
	</div>
	<div class="services-page__item">
		<div class="services-page__item-wrapper">
			<a href="#" class="services-page__item-img">
				@@include('./svg/traiding.html')
			</a>
			<a href="#" class="services-page__item-title">Трейдерам</a>
			<div class="services-page__item-text">
				<span>Даем доступ на финансовые рынки, обеспечиваем ежедневной аналитикой, предоставляем широкий выбор программного обеспечения.</span>
			</div>
			<div class="services-page__item-links">
				<div><a href="#">Доступ <br><span>на рынки</span></a></div>
				<div><a href="#">Внебиржевые <br><span>сделки</span></a></div>
				<div><a href="#">Стать квалифицированным <br><span>инвестором</span></a></div>
			</div>
			<div class="border-block"></div>
		</div>
	</div>
	<div class="services-page__item">
		<div class="services-page__item-wrapper">
			<a href="#" class="services-page__item-img">
				@@include('./svg/corporate.html')
			</a>
			<a href="#" class="services-page__item-title">Компаниям</a>
			<div class="services-page__item-text">
				<span>Предоставляем услуги маркет-мейкинга, привлекаем средства через размещение акций и облигаций, размещаем свободную ликвидность, конвертируем валюту по биржевому курсу, гарантируем индивидуальный подход и высокий уровень сервиса.</span>
			</div>
			<div class="services-page__item-links">
				<div><a href="#">Доступ <br><span>на рынки</span></a></div>
				<div><a href="#">Внебиржевые <br><span>сделки</span></a></div>
				<div><a href="#">Стать квалифицированным <br><span>инвестором</span></a></div>
			</div>
			<div class="border-block"></div>
		</div>
	</div>
	<div class="services-page__item">
		<div class="services-page__item-wrapper">
			<a href="#" class="services-page__item-img">
				@@include('./svg/benefits.html')
			</a>
			<a href="#" class="services-page__item-title">Профессиональным участникам</a>
			<div class="services-page__item-text">
				<span>Обеспечиваем выполнение приказов на рынке, используя политику «best execution»: оказываем услуги прайм-брокера, предоставляем финансирование и маржинальное кредитование.</span>
			</div>
			<div class="services-page__item-links">
				<div><a href="#">Персональный <br><span>брокер</span></a></div>
				<div><a href="#">Модельные <br><span>портфели</span></a></div>
				<div><a href="#">Структурные <br><span>продукты</span></a></div>
			</div>
			<div class="border-block"></div>
		</div>
	</div>
	<div class="services-page__item">
		<div class="services-page__item-wrapper">
			<a href="#" class="services-page__item-img">
				@@include('./svg/hft.html')
			</a>
			<a href="#" class="services-page__item-title">Для HFT и алготрейдинга</a>
			<div class="services-page__item-text">
				<span>Подбираем быстрые DMA решения, создаем лучшие условия для подключения и разработки автоматизированных торговых систем.</span>
			</div>
			<div class="services-page__item-links">
				<div><a href="#">Персональный <br><span>брокер</span></a></div>
				<div><a href="#">Модельные <br><span>портфели</span></a></div>
				<div><a href="#">Структурные <br><span>продукты</span></a></div>
			</div>
			<div class="border-block"></div>
		</div>
	</div>
</div>
