<div class="shares-buy-content__wrapper">
	<div class="shares-content">
		@@include('./share-item-info.html')
		<!-- ссылки для мобильной версии -->
		@@include('./share-mobile-links.html')
		<h2 class="shares-content__head shares-title-style">Заработать на покупке акций ОАО «Аэрофлот» можно двумя способами:</h2>
		<ul class="shares-content__descr-list">
			<li>Получить доход от изменения стоимости и перепродажи ценных бумаг;</li>
			<li>Получить дивиденды.</li>
		</ul>
		<h2 class="shares-content__dinamic-coast shares-title-style">Динамика стоимости акций ОАО «Аэрофлот»</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae, natus magnam quod et iste quia, impedit dolorem qui deleniti neque maiores commodi debitis, corrupti atque quam placeat temporibus molestias!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae, natus magnam quod et iste quia, impedit dolorem qui deleniti neque maiores commodi debitis, corrupti atque quam placeat temporibus molestias!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae, natus magnam quod et iste quia, impedit dolorem qui deleniti neque maiores commodi debitis, corrupti atque quam placeat temporibus molestias!</p>
		<h2 class="shares-content__dinamic-coast shares-title-style">График для одного тикета, поумолчанию отображаются свечи</h2>
		<div class="shares-content__chart-wr shares-content__chart-wr_active-candle" data-ticket="sberp"></div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<h2 class="shares-content__dinamic-coast shares-title-style">График для другого тикета, поумолчанию отображается линия</h2>
		<div class="shares-content__chart-wr" data-ticket="gAZP"></div>
		<h2 class="shares-content__statistic-title shares-title-style">Примеры роста стоимости акций  ОАО «РусГидро»</h2>
		<div class="shares-content__statistic-content clearfix">
			<div class="shares-content__wrapper">
				<div class="shares-cost-example-wr">
					<div class="shares-cost-example-item">
						<div class="shares-cost-example__value">36,6% </div>
						<div class="shares-cost-example-date">
							<div class="shares-cost-example__days-count">за 56 дней</div>
							<div class="shares-cost-example__date-range">с 25.08. по 20.10.15</div>
						</div>
					</div>
					<div class="shares-cost-example-item">
						<div class="shares-cost-example__value">31% </div>
						<div class="shares-cost-example-date">
							<div class="shares-cost-example__days-count">за неделю</div>
							<div class="shares-cost-example__date-range">с 16.12.14 по 20.10.15</div>
						</div>
					</div>
					<div class="shares-cost-example-item">
						<div class="shares-cost-example__value">16,3%</div>
						<div class="shares-cost-example-date">
							<div class="shares-cost-example__days-count">за месяц</div>
							<div class="shares-cost-example__date-range">с 19.01 по 19.02.16</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error reiciendis qui consequatur officiis eius quod architecto aliquam, incidunt ad quo. Quia nostrum veniam mollitia quis voluptatum tenetur, corporis accusamus.</p>
		<h2 class="shares-content__dinamic-coast shares-title-style">Как купить акции ОАО «РусГидро»</h2>
		<div class="steps-list">
			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count">
						<span class="steps-list-item__count-text">1</span>
					</div>
				</div>
				<div class="steps-list-item__info">
					Откройте брокерский счёт
				</div>
			</div>

			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count">
						<span class="steps-list-item__count-text">2</span>
					</div>
				</div>
				<div class="steps-list-item__info">
					Пополните счёт от&nbsp;50&nbsp;000&nbsp;руб.
				</div>
			</div>

			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count">
						<span class="steps-list-item__count-text">3</span>
					</div>
				</div>
				<div class="steps-list-item__info">
					Купите акции ОАО &laquo;РусГидро&raquo;
				</div>
			</div>

			<div class="steps-list-item">
				<div class="steps-list-item__count-wr">
					<div class="steps-list-item__count steps-list-item__count_final">
						<svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 10.7844l6 5.9541L22 1.8521" stroke="#87AF4F" stroke-width="2.5"/></svg>
					</div>
				</div>
				<div class="steps-list-item__info">
					Следите за&nbsp;курсом&nbsp;акций
				</div>
			</div>
		</div>
		<div class="content-actions content-actions_shares-actions">
			<a href="#" class="def-btn def-btn_bolder">Открыть счёт</a>
			<a href="javascript:void(0);" class="def-btn def-btn_skin" onclick="carrotquest.open()">Задать вопрос в чате →</a>
		</div>
	</div>
</div>