<div class="sevices-content__main-img sevices-content__main-img_desktop">
	<img src="images/software-top.jpg" alt="">
</div>
<div class="sevices-content litbox-images-container">
	<div class="software-content">
		<div class="software-padding">
			<div class="smartx-download clearfix">
				<div class="smartx-download__left">
					<div class="smartx-download__logo smartx-download__logo__tablet">
						<img src="images/svg/smartx-download-logo.svg" alt="">
					</div>
					<div class="smartx-download__title">
						Торговый терминал SMARTx — собственная разработка компании ITI Capital.
					</div>
					<div class="smartx-download__descr smartx-download__descr_black">
						Предназначен для торговли на российском и международных финансовых рынках. Является флагманским решением компании для клиентов, предпочитающих торговать самостоятельно.
					</div>
					<div class="smartx-download__descr">
						При всем его огромном функционале установить и начать торговать очень просто — от установки до первой сделки не более двух минут.
					</div>
				</div>
				<div class="smartx-download__right">
					<div class="smartx-download__logo">
						<img src="images/svg/smartx-download-logo.svg" alt="">
					</div>
					<a href="#" class="smartx-download__btn">Загрузить</a>
					<div class="smartx-download__btn-descr">Для Windows 7, 8, 10, Vista и XP</div>
					<a href="#" class="smartx-download__other-platform-link">Терминалы для других ОС</a>
				</div>
			</div>
		</div>
		<div class="software-padding">
			<div class="software-advantages">
				<div class="software-advantages__title">Преимущества терминала:</div>
				<div class="software-advantages__items">
					<div class="software-advantages__item">
						<div class="software-advantages__item-image">
							<img src="images/svg/software1.svg" alt="">
						</div>
						<div class="software-advantages__item-descr">
							Интуитивно понятный интерфейс
						</div>
					</div>
					<div class="software-advantages__item">
						<div class="software-advantages__item-image">
							<img src="images/svg/software2.svg" alt="">
						</div>
						<div class="software-advantages__item-descr">
							Быстрая маркет-дата, ускоренная обработка приказов
						</div>
					</div>
					<div class="software-advantages__item">
						<div class="software-advantages__item-image">
							<img src="images/svg/software3.svg" alt="">
						</div>
						<div class="software-advantages__item-descr">
							Единая Денежная Позиция (ЕДП)
						</div>
					</div>
					<div class="software-advantages__item">
						<div class="software-advantages__item-image">
							<img src="images/svg/software4.svg" alt="">
						</div>
						<div class="software-advantages__item-descr">
							Встроенная система риск-менеджмента
						</div>
					</div>
					<div class="software-advantages__item">
						<div class="software-advantages__item-image">
							<img src="images/svg/software5.svg" alt="">
						</div>
						<div class="software-advantages__item-descr">
							Функционал терминала постоянно расширяется
						</div>
					</div>
					<div class="software-advantages__item">
						<div class="software-advantages__item-image">
							<img src="images/svg/software6.svg" alt="">
						</div>
						<div class="software-advantages__item-descr">
							Доступ через мобильные приложения и личный кабинет
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="software-padding">
			<a href="#" class="software-banner">
				<span>Проведи тест-драйв терминала SMARTx <br>на демо-счете</span>
			</a>
		</div>
		<div class="software-padding">
			<div class="software-advantages__title">Рабочее пространство терминала</div>
			<div class="software-slider">
				<div class="software-slider__wrapper">
					<div class="software-slider__item">
						<img src="images/softwareSlider1.jpg" alt="">
					</div>
					<div class="software-slider__item">
						<img src="https://iticapital.ru/assets/files/images/smartx_main.png" alt="">
					</div>
					<div class="software-slider__item">
						<img src="https://iticapital.ru/assets/files/images/smartx_4.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="software-padding software-padding_border">
			<div class="software-advantages__title">Дополнительный функционал</div>
			<div class="smartx-download__descr smartx-download__descr_black">
				При всем его огромном функционале установить и начать торговать очень просто — от установки до первой сделки не более двух минут.
			</div>
			<div class="smartx-download__descr smartx-download__descr_black">
				При всем его огромном функционале установить и начать торговать очень просто — от установки до первой сделки не более двух минут.
			</div>
			<div class="software-advantages-bot-items">
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot1.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Плагин «Котировки»</div>
						<div class="software-advantages-bot-item__text">позволяет создавать неограниченное количество дополнительных таблиц с котировками;</div>
					</div>
				</div>
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot2.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Плагин «Время жизни заявки»</div>
						<div class="software-advantages-bot-item__text">автоматически снимает активные заявки по истечении указанного интервала;</div>
					</div>
				</div>
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot3.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Пакет опционных плагинов</div>
						<div class="software-advantages-bot-item__text">включает в себя доски опционов, портфели опционных серий, менеджер расхеджирования и другие инструменты, которые упрощают торговлю опционами;</div>
					</div>
				</div>
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot4.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Плагин «Торговля облигациями»</div>
						<div class="software-advantages-bot-item__text">добавляет специальное окно ввода заявки для удобной и быстрой торговли данными инструментами;</div>
					</div>
				</div>
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot5.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Плагин «Легкая торговля»</div>
						<div class="software-advantages-bot-item__text">позволяет создавать заявки всего в один клик;</div>
					</div>
				</div>
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot6.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Плагин «Ввод заявок из файла»</div>
						<div class="software-advantages-bot-item__text">позволяет загрузить заранее приготовленные приказы в терминал;</div>
					</div>
				</div>
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot7.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Плагина «Лента сделок»</div>
						<div class="software-advantages-bot-item__text">С помощью плагина можно настроить трансляцию сделок по избранным инструментам в одном окне;</div>
					</div>
				</div>
				<div class="software-advantages-bot-item">
					<div class="software-advantages-bot-item__image">
						<img src="images/svg/softwareBot8.svg" alt="">
					</div>
					<div class="software-advantages-bot-item__descr">
						<div class="software-advantages-bot-item__title">Змейка</div>
						<div class="software-advantages-bot-item__text">Ну и куда же без легендарной «Змейки», которая помогает скоротать время в ожидании успешной сделки</div>
					</div>
				</div>
			</div>
			<div class="smartx-download__descr smartx-download__descr_black">
				Установка плагинов происходит в торговом терминале SMARTx.<br>
				Выберите в специальном меню необходимое расширение и нажмите <b>«Установить»</b>.
			</div>
		</div>
		<div class="software-padding">
			<div class="software-downloads">
				<div class="software-downloads__items">
					<div class="software-downloads__item">
						<div class="software-downloads__item-top">
							<div class="software-downloads__item-title">
								SMARTx 5.7
							</div>
							<div class="software-downloads__item-version">
								сборка 5.7.593 от 11.01.2018
							</div>
							<div class="software-downloads__item-OS">
								<div>Операционные cистемы:
							</div>
								<div>Windows 7, 8, 10, Vista</div>
							</div>
						</div>
						<a href="#" class="software-downloads__download">Загрузить</a>
						<div class="software-downloads__size">
							7.46 Мб
						</div>
					</div>
					<div class="software-downloads__item">
						<div class="software-downloads__item-top">
							<div class="software-downloads__item-title">
								SMARTx 5.7 x64
							</div>
							<div class="software-downloads__item-version">
								сборка 5.7.593 от 11.01.2018
							</div>
							<div class="software-downloads__item-OS">
								<div>Операционные cистемы:
							</div>
								<div>64-раязрядные версии Windows 7, 8, 10, Vista</div>
							</div>
						</div>
						<a href="#" class="software-downloads__download">Загрузить</a>
						<div class="software-downloads__size">
							7.76 Мб
						</div>
					</div>
					<div class="software-downloads__item">
						<div class="software-downloads__item-top">
							<div class="software-downloads__item-title">
								SMARTx 5.6
							</div>
							<div class="software-downloads__item-version">
								сборка 5.6.256 от 03.02.2016
							</div>
							<div class="software-downloads__item-OS">
								<div>Операционные cистемы:
							</div>
								<div>Windows 7, 8, 10, XP, Vistaa</div>
							</div>
						</div>
						<a href="#" class="software-downloads__download">Загрузить</a>
						<div class="software-downloads__size">
							6 Мб
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="software-padding">
			<div class="software-manuals">
				<div class="software-manuals__title">
					Руководства пользователей
				</div>
				<div class="software-manuals__items">
					<a href="#" class="software-manuals__item">
						<div class="software-manuals__item-image">
							<img src="images/svg/document.svg" alt="">
						</div>
						<div class="software-manuals__item-descr">
							Руководство пользователя для SMARTx<br><span>3,49 Мб</span>
						</div>
					</a>
					<a href="#" class="software-manuals__item">
						<div class="software-manuals__item-image">
							<img src="images/svg/document.svg" alt="">
						</div>
						<div class="software-manuals__item-descr">
							Руководство пользователя для SMARTx<br><span>3,49 Мб</span>
						</div>
					</a>
					<a href="#" class="software-manuals__item">
						<div class="software-manuals__item-image">
							<img src="images/svg/document.svg" alt="">
						</div>
						<div class="software-manuals__item-descr">
							Руководство пользователя для SMARTx<br><span>3,49 Мб</span>
						</div>
					</a>
					<a href="#" class="software-manuals__item">
						<div class="software-manuals__item-image">
							<img src="images/svg/document.svg" alt="">
						</div>
						<div class="software-manuals__item-descr">
							Руководство пользователя для SMARTx<br><span>3,49 Мб</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="software-padding">
			<div class="software-platforms">
				<div class="software-platforms__title">
					Торговые терминалы для других ОС
				</div>
				<div class="software-platforms__items">
					<div class="software-platforms__item">
						<a href="#" class="software-platforms__item-img">
							<img src="images/svg/smartweb.svg" alt="">
						</a>
						<div class="software-platforms__item-descr">
							Торговая система на HTML5, работает в браузере через интернет и не требует установки на ПК
						</div>
					</div>
					<div class="software-platforms__item">
						<a href="#" class="software-platforms__item-img">
							<img src="images/svg/smarttouch.svg" alt="">
						</a>
						<div class="software-platforms__item-descr">
							Для мобильных устройств
	на базе iOS и Android
						</div>
					</div>
					<div class="software-platforms__item">
						<a href="#" class="software-platforms__item-img">
							<img src="images/svg/smartcom.svg" alt="">
						</a>
						<div class="software-platforms__item-descr">
							Специальный программный интерфейс для использования
	торговых роботов
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>