<div class="sevices-content stocks">
	<div class="stocks-content">
		<div class="brand-items">
			<div class="brand-item__wrapper">
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Мобильные ТелеСистемы"})
				@@include('brand-item.html', {"imageName": "image_5-2.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-3.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Интер РАО ЕЭС"})
				@@include('brand-item.html', {"imageName": "image_5-2.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Полюс Золото"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-3.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Интер РАО ЕЭС"})
				@@include('brand-item.html', {"imageName": "image_5-2.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-3.png", "name": "Полюс Золото"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Интер РАО ЕЭС"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
			</div>
		</div>

		<div class="stocks-callback">
			<div class="stocks-callback__icon">
				@@include('../../../images/svg/callback-phone.svg')
			</div>
			<div class="stocks-callback__title">
				Появились вопросы?
			</div>
			<a href="javascript:void(0)" data-gsc-widget="414573" class="stocks-callback__button">
				Закажите звонок ->
			</a>
		</div>

		<div class="brand-items">
			<!-- <div class="brand-items__header">Зарубежные компании</div> -->
			<div class="brand-item__wrapper">
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-2.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-3.png", "name": "Полюс Золото"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-2.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Интер РАО ЕЭС"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-3.png", "name": "Полюс Золото"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-2.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-3.png", "name": "Русгидро"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Интер РАО ЕЭС"})
				@@include('brand-item.html', {"imageName": "image_5-1.png", "name": "Русгидро"})
			</div>
		</div>

		<div class="stocks-show-more">
			<div class="show-more" onclick="o2.stocks.showMoreToggle(this);">
				<div class="show-more__text">
					Посмотреть больше акций
				</div>

				<div class="show-more__icon">
					@@include('../../../images/svg/arrow-down.svg')
				</div>
			</div>
		</div>

		<div class="stocks-top">
			<div class="stocks-top__left">
				<div class="stocks-top__descr">
					<p>Ценные бумаги закрепляют за&nbsp;инвестором право участвовать в&nbsp;управлении компанией и&nbsp;получать часть ее&nbsp;прибыли в&nbsp;виде дивидендов.</p>
					<p>Помимо этого, акции крупных компаний — удобный инструмент для заработка на фондовом рынке. Стоимость ценных бумаг постоянно меняется, что позволяет инвестору получать прибыль от их перепродажи.</p>
				</div>
				<h2 class="stocks-top__title">Покупка и продажа акций</h2>
				<div class="stocks-top__descr">
					<p>Купить акции можно на&nbsp;бирже. Вы&nbsp;можете инвестировать самостоятельно или поручить управление ценными бумагами брокеру. Акции российских эмитентов торгуются на&nbsp;Московской и&nbsp;Санкт-Петербургской биржах.</p>
					<p>Ценные бумаги зарубежных компаний в&nbsp;России можно купить на&nbsp;Санкт-Петербургской бирже.</p>
				</div>
			</div>
			<div class="stocks-top__right">

			</div>
		</div>
		<!-- ПЕРЕНЕСТИ ЛОГИКУ ИЗ JS НА PHP -->
		<!-- JS НУЖЕН ДЛЯ НАГЛЯДНОСТИ -->
		<script>
			// добавляем модификатор для задания отступов
			// количетсво карточек в группе делим на 3
			// если остаток от деления целое число, то добавляем класс brand-item__wrapper_full
			// если остаток от деления больше, чем 0.5, то добавляем класс brand-item__wrapper_two
			// если остаток от деления меньше, чем 0.5, то добавляем класс brand-item__wrapper_one
			$('.brand-item__wrapper').each(function(i, el) {
				var lastItemMode = $(el).find('.brand-item').length % 3;
				if(lastItemMode == 1)
				{
					$(el).addClass('brand-item__wrapper_one');
				}
				else if(lastItemMode == 2)
				{
					$(el).addClass('brand-item__wrapper_two');
				}
				else
				{
					$(el).addClass('brand-item__wrapper_full');
				}
			})
		</script>
	</div>

	<div class="stock-sidebar">
		<div class="stock-sidebar__icon">
			@@include('../../../images/svg/stock-open.svg')
		</div>
		<div class="stock-sidebar__title">
			Станьте совладельцем известных компаний
		</div>
		<div class="stock-open">
			<div class="stock-open__title">
				Для торговли акциями потребуется открыть брокерский счёт.
			</div>

			<a href="#" class="stock-open__button">
				Открыть счёт
			</a>

			<div class="stock-open__note">
				Первоначальный депозит — <br>
				от 50 000 руб.

			</div>
		</div>

		<div class="stock-filters">
			<div class="stock-filters__title">Отображать акции</div>

			<div class="stock-filter _all" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-eye.svg')
				</div>
				<div class="stock-filter__name">Все</div>
			</div>

			<div class="stock-filter active" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-mount.svg')
				</div>
				<div class="stock-filter__name">Горнодоывающие</div>
			</div>

			<div class="stock-filter" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-infostr.svg')
				</div>
				<div class="stock-filter__name">Инфраструктура</div>
			</div>

			<div class="stock-filter" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-metal.svg')
				</div>
				<div class="stock-filter__name">Металлургия</div>
			</div>

			<div class="stock-filter" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-oil.svg')
				</div>
				<div class="stock-filter__name">Нефтегазовые</div>
			</div>

			<div class="stock-filter" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-industrial.svg')
				</div>
				<div class="stock-filter__name">Промышленные</div>
			</div>

			<div class="stock-filter" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-telecom.svg')
				</div>
				<div class="stock-filter__name">Телеком</div>
			</div>

			<div class="stock-filter" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-finance.svg')
				</div>
				<div class="stock-filter__name">Финансовые</div>
			</div>

			<div class="stock-filter" onclick="o2.stocks.toggleFilters(this)">
				<div class="stock-filter__icon">
					@@include('../../../images/svg/filter-energy.svg')
				</div>
				<div class="stock-filter__name">Электроэнергетика</div>
			</div>
		</div>
	</div>
</div>